{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}Агитаторы очистки{% endblock %}

{% block table %}
    <table class="table table-bordered elog-journal-table">
        <thead>
            <tr>
                <th colspan="10" class="th-common">{% trans "Агитаторы очистки" %}<i class='units'>мг/л</i></th>
                <th colspan="3" class="th-common">{% trans "Готовый раствор" %}<i class='units'>мг/л</i></th>
            </tr>
            <tr>
                <th>13,<br/>14</th>
                <th class="th-number">Cd</th>
                <th class="th-number">Cu</th>
                <th class="th-number">Co</th>
                <th>15</th>
                <th class="th-number">pH</th>
                <th class="th-number">Cu</th>
                <th>17</th>
                <th class="th-number">pH</th>
                <th class="th-number">Cu</th>
                <th class="th-number">19</th>
                <th class="th-number">H<sub>2</sub>SO<sub>4</sub></th>
                <th class="th-number">Cu</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th rowspan="3" class="th-mul-row">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a1314_Cd_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_before1" index=0 %}</td>
                    <th rowspan="3" class="th-mul-row">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a15_pH_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_before1" index=0 %}</td>
                    <th rowspan="3" class="th-mul-row">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a17_pH_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_before1" index=0 %}</td>
                    <th rowspan="3" class="th-mul-row">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a19_H2SO4_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a19_Cu_before1" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_before2" index=0 %}</td>

                    <td>{% include "value.html" with field_name="a19_H2SO4_before2" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_before2" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_before3" index=0 %}</td>

                    <td>{% include "value.html" with field_name="a19_H2SO4_before3" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_before3" index=0 %}</td>
                </tr>
                <tr>
                    <th rowspan="3" class="th-mul-row">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a1314_Cd_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_after1" index=0 %}</td>
                    <th rowspan="3" class="th-mul-row">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a15_pH_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_after1" index=0 %}</td>
                    <th rowspan="3" class="th-mul-row">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a17_pH_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_after1" index=0 %}</td>
                    <th rowspan="3" class="th-mul-row">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a19_H2SO4_after1" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_after1" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a19_H2SO4_after2" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_after2" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a19_H2SO4_after3" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_after3" index=0 %}</td>
                </tr>
        </tbody>
        <tbody>
            <tr>
                <th colspan="2">№ 22</th>
                <td colspan="13">{% include "value.html" with field_name="journal_comment" index=0 %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}