{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="{{form.name}}"  name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal form-label-left">
              {% csrf_token %}

              {% for hidden_field in form.fields.hidden_fields %}
              {{ hidden_field }}
              {% endfor %}

              <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered table-hover" >
            <tbody>

            <tr>
                <td></td>
                <th>{% trans "Доставлено" %}</th>
                <th>{% trans "Принято" %}</th>
                <th>{% trans "Расход" %}</th>
                <th>{% trans "Сдано" %}</th>
            </tr>
            <tr>
                <th>{% trans "Соль Шлиппе" %}{% trans ", кг" %}</th>
                <template v-if="tables.{{form.name}}.data.items">

                        <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.delivered.shlippe"  /></td>
                        <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.taken.shlippe"  /></td>
                        <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.consumption.shlippe"  /></td>
                        <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.issued.shlippe"  /></td>

                </template>
            </tr>
            <tr>
                <th>Zn {% trans "пыль" %}</th>
                <template v-if="tables.{{form.name}}.data.items">
                <td>
                    <input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.delivered.zn_dust"  />
                </td>
                <td>
                    <input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.taken.zn_dust"  />
                </td>
                <td>
                    <table class="table table-bordered insidetable">
                        <tr>
                            <th>1st</th>
                            <td><input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.stages_zn_dust['1st']"  /></td>
                            <th>Cd</th>
                            <td><input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.stages_zn_dust.cd"  /></td>
                        </tr>
                        <tr>
                            <th>2st</th>
                            <td><input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.stages_zn_dust['2st'] " /></td>
                            <td rowspan="2" colspan="2">
                                <input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.consumption.zn_dust" />
                            </td>
                        </tr>
                        <tr>
                            <th>3st</th>
                            <td><input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.stages_zn_dust['3st'] " /></td>
                        </tr>
                    </table>
                </td>
                <td><input v-if="tables.{{form.name}}.data.items.states" class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.issued.zn_dust" /></td>
                </template>
            </tr>
            <tr>
                <th>Mg {% trans "руда" %}</th>
                <template v-if="tables.{{form.name}}.data.items">
                    <template v-if="tables.{{form.name}}.data.items.states">
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.delivered.mg_ore"  /></td>
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.taken.mg_ore"  /></td>
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.consumption.mg_ore"  /></td>
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.issued.mg_ore"  /></td>
                    </template>
                </template>
            </tr>
            <tr>
                <th>{% trans "Магнофлок" %}</th>
                <template v-if="tables.{{form.name}}.data.items">
                    <template v-if="tables.{{form.name}}.data.items.states">
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.delivered.magnaglobe" /></td>
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.taken.magnaglobe" /></td>
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.consumption.magnaglobe" /></td>
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.issued.magnaglobe" /></td>
                    </template>
                </template>
            </tr>
            <tr v-if="tables.{{form.name}}.data.items">
                <th>Fe {% trans "стружка" %}</th>
                <template v-if="tables.{{form.name}}.data.items.states">
                    <td>
                        <input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.delivered.fe_shave"  >
                    </td>
                    <td>
                        <input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.taken.fe_shave"   />
                    </td>
                    <td>
                        <input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.consumption.fe_shave" />
                    </td>
                    <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.states.issued.fe_shave" /></td>
                </template>
            </tr>
            </tbody>
            <tr>
                <th>{% trans "Состояние ограждений" %}:</th>
                <td colspan="3">
                    <template v-if="tables.{{form.name}}.data.items">
                        <textarea  class="textareainside" rows="6"  name="fence_state" v-model="tables.{{form.name}}.data.items.fence_state"></textarea>
                    </template>
                </td>
            </tr>
                <tr>
                    <td colspan="10">

                    </td>
                </tr>
            </table>
            <template v-if="tables.{{form.name}}.state == 'add' ">
                            <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
                        </template>
                        <template v-if="tables.{{form.name}}.state == 'edit' ">
                            <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
                        </template>

            </form>

    </div>
</div>




