{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content shift_info">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table">
                <tbody>
                    <template v-if="tables.{{form.name}}.state == 'edit'  ">
                        <tr>
                            <td>{% trans 'За смену' %}</td>

                            <td v-if=" tables.{{form.name}}.data.items['0'] ">
                                <input class="form-control" type="number" name="shift_total" v-model="tables.{{form.name}}.data.items['0'].shift_total "/>
                            </td>
                            <td v-if=" tables.{{form.name}}.data.items['1'] ">
                                <input class="form-control" type="number" name="shift_total" v-model="tables.{{form.name}}.data.items['1'].shift_total "/>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'За сутки' %}</td>
                            <td v-if=" tables.{{form.name}}.data.items['0']" >
                                <input class="form-control" type="number"  name="day_total" v-model="tables.{{form.name}}.data.items['0'].day_total "/>
                            </td>
                            <td v-if=" tables.{{form.name}}.data.items['1']">
                                <input class="form-control" type="number" name="shift_total" v-model="tables.{{form.name}}.data.items['1'].day_total "/>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'В процесс' %}</td>
                            <td v-if=" tables.{{form.name}}.data.items['0'] ">
                                <input class="form-control" type="number" value="" name="in_process" v-model="tables.{{form.name}}.data.items['0'].in_process "/>
                            </td>
                            <td v-if=" tables.{{form.name}}.data.items['1'] ">
                                <input class="form-control" type="number" value="" name="in_process" v-model="tables.{{form.name}}.data.items['1'].in_process "/>
                            </td>
                        </tr>
                    </template>
                    <template v-if="tables.{{form.name}}.state == 'add' && tables.{{form.name}}.data.items ">
                         <tr>
                            <td>{% trans 'За смену' %}</td>
                            <td v-if=" tables.{{form.name}}.data.items['0'] ">
                                <input class="form-control" type="number" name="shift_total" v-model="tables.{{form.name}}.data.items['0'].shift_total "/>
                            </td>
                            <td v-if=" tables.{{form.name}}.data.items['1'] ">
                                <input class="form-control" type="number" name="shift_total" v-model="tables.{{form.name}}.data.items['1'].shift_total "/>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'За сутки' %}</td>
                            <td v-if=" tables.{{form.name}}.data.items['0']" >
                                <input class="form-control" type="number"  name="day_total" v-model="tables.{{form.name}}.data.items['0'].day_total "/>
                            </td>
                            <td v-if=" tables.{{form.name}}.data.items['1']">
                                <input class="form-control" type="number" name="shift_total" v-model="tables.{{form.name}}.data.items['1'].day_total "/>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'В процесс' %}</td>
                            <td v-if=" tables.{{form.name}}.data.items['0'] ">
                                <input class="form-control" type="text" value="" name="in_process" v-model="tables.{{form.name}}.data.items['0'].in_process "/>
                            </td>
                            <td v-if=" tables.{{form.name}}.data.items['1'] ">
                                <input class="form-control" type="text" value="" name="in_process" v-model="tables.{{form.name}}.data.items['1'].in_process "/>
                            </td>
                        </tr>
                    </template>

                    <tr>
                        <td colspan="3" align="left">
                            <template v-if="tables.{{form.name}}.state == 'add' ">
                                <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
                            </template>
                            <template v-if="tables.{{form.name}}.state == 'edit' ">
                                <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
                            </template>
                        </td>
                    </tr>
                </tbody>
            </table>

            </form>
    </div>
</div>