{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content shift_info">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{% trans "Время" %}</th>
                        <th>Cd</th>
                        <th>Cu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, num) in tables.{{form.name}}.data.items">
                        <td><input type="text" class="form-control" v-model="item.time" name="time" ></td>
                        <td><input type="text" class="form-control" v-model="item.cd" name="cd" ></td>
                        <td><input type="text" class="form-control" v-model="item.cu" name="cu" ></td>
                    </tr>
                </tbody>
            </table>

            <template v-if="tables.{{form.name}}.state == 'add' ">
                <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
            </template>
            <template v-if="tables.{{form.name}}.state == 'edit' ">
                <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
            </template>
            </form>
    </div>
</div>