{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal form-label-left">
              {% csrf_token %}

              {% for hidden_field in form.fields.hidden_fields %}
              {{ hidden_field }}
              {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered elog-journal-table">
                <thead>
                    <tr>
                        <th>{% trans "Нейтральные сгустители" %}</th>
                        <th v-for="(item, num) in tables.{{form.name}}.data.items" >[[num]]</th>
                    </tr>
                    <tr>
                        <th>{% trans "Отстои" %}</th>
                        <td v-for="(item, num) in tables.{{form.name}}.data.items" >
                            <input class="form-control" type="text" name="sediment_{{num}}" v-model="item.sediment">
                        </td>
                    </tr>
                    <tr>
                        <th rowspan="2">{% trans "Ж:Т" %}<br>{% trans "(НС)" %}</th>
                        <td v-for="(item, num) in tables.{{form.name}}.data.items"><input class="form-control" type="text" name="liq_sol1_{{num}}" v-model="item.liq_sol1"></td>
                    </tr>
                    <tr>
                        <td v-for="(item, num) in tables.{{form.name}}.data.items"><input class="form-control" type="text" name="liq_sol2_{{num}}" v-model="item.liq_sol2"></td>
                    </tr>
                </thead>
            </table>
                <template v-if="tables.{{form.name}}.state == 'add' ">
                    <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
                </template>
                <template v-if="tables.{{form.name}}.state == 'edit' ">
                    <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
                </template>
            </form>
    </div>
</div>




