<div class="table">
    <div>
        <span>Выберите страницу:</span>
    </div>
    <button class="btn btn-success pull-right"
            onclick='clickOnWizard()'
            data-toggle="modal"
            data-target="#myModal">
        <i class="glyphicon glyphicon-edit">
        </i>
    </button>
    <div>
        <a href="{{ request.path }}?page_mode=view"
           class="btn btn-default {% if page_mode == 'view' %} disabled {% endif %}">
            View mode
        </a>
        <a href="{{ request.path }}?page_mode=edit"
           class="btn btn-default {% if page_mode == 'edit' %} disabled {% endif %}">
            Edit mode
        </a>
        <a href="{{ request.path }}?page_mode=validate"
           class="btn btn-default {% if page_mode == 'validate' %} disabled {% endif %}">
            Validate mode
        </a>
    </div>
</div>