{% extends "table.html" %}
{% load express_tags %}

{% block title %}Время замеров и работа оборудования{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2"> Параметры </th>
            <th colspan="12"> Время замеров </th>
            <th rowspan="2"> Несоотвествия </th>
            <th rowspan="2"> Принятые меры </th>
        </tr>
        <tr>
            {% for time in table_info.times %}
                <th> {{ time }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row_name in table_info.row_names %}
            <tr>
                <th> {{row_name.view}} </th>
                {% for header in table_info.times|stack:table_info.last_headers %}
                <td>
                    {% with row_name.db|add:header as field_name %}
                    {% include "value.html" with index=0 %}
                    {% endwith %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}