{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}Среднее содержание за месяц{% endblock %}

{% block table %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans "Влага" %}</th>
            <th>{% trans "выдано концнт ВМТ" %}</th>
            <th>{% trans "СМТ" %}</th>
            <th>{% trans "Огарка" %}</th>
            <th>{% trans "Zn конц" %}</th>
            <th>{% trans "Pb" %}</th>
            <th>{% trans "Cu" %}</th>
            <th>{% trans "Cd" %}</th>
            <th>{% trans "Fe" %}</th>
            <th>{% trans "SiO2" %}</th>
            <th>{% trans "Zn огар" %}</th>
            <th>{% trans "Znk" %}</th>
            <th>{% trans "Znb" %}</th>
            <th>{% trans "Pb2" %}</th>
            <th>{% trans "Cu2" %}</th>
            <th>{% trans "Cd2" %}</th>
            <th>{% trans "Fe" %}</th>
            <th>{% trans "SiO2" %}</th>
            <th>{% trans "S" %}</th>
            <th>{% trans "As" %}</th>
            <th>{% trans "Sb" %}</th>
            <th>{% trans "S_sulf" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for_or_create _ in table_data.moisture %}
        <tr class="indexed-line">
            {% with index=forloop.counter0  %}
                {% for field_name in avg_month_table.fields %}
                <td>{% include "value.html" with field_name=field_name index=index %}</td>
                {% endfor %}
            {% endwith %}
        </tr>
        {%  endfor_or_create %}
    </tbody>
</table>
{% endblock %}