{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}Огарок{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th colspan="3">Огарок</th>
        </tr>
        <tr>
            <th>{% trans "Дата" %}</th>
            <th>{% trans "Золото" %}</th>
            <th>{% trans "Серебро" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for_or_create _ in table_data.date_cinder %}
        <tr class="indexed-line">
            <td>{% include "value.html" with field_name="date_cinder" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="gold" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="silver" index=forloop.counter0 %}</td>
        </tr>
        {% endfor_or_create %}
    </tbody>
</table>
{% endblock %}