{% extends "table.html" %}
{% load express_tags %}

{% block title %}ГОФ таблица{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2">ГОФ</th>
            <th colspan="3">Приход концентрата (Пасечникова)</th>
            <th colspan="2">остаток на
                <span>
                    {% include "value.html" with field_name="remainder_date" index=0 %}
                </span>
            </th>
            <th colspan="2">итого</th>
            <th colspan="2">Расход концентрата</th>
            <th colspan="2">остаток концентрата на
                <span>
                    {% include "value.html" with field_name="remainder_date_guild" index=0 %}
                </span>
                ЦеХ
            </th>
            <th colspan="2">остаток концентрата на
                <span>
                    {% include "value.html" with field_name="remainder_date_Kusmanov" index=0 %}
                </span>
                Кусманов
            </th>
            <th colspan="2">невязка
                <span>
                    {% include "value.html" with field_name="discrepancy_date" index=0 %}
                </span>
            </th>
            <th colspan="2">Данные по сводке</th>
        </tr>
        <tr>
            {% with columns="ВМТ|СМТ|Цинк|СМТ|Цинк|СМТ|Цинк|СМТ|Цинк|СМТ|Цинк|СМТ|Цинк|СМТ|Цинк|СМТ|Цинк" %}
            {% for column_name in columns|split:"|" %}
                <th>{{ column_name }}</th>
            {%  endfor %}
            {%  endwith %}
        </tr>
    </thead>
    <tbody>
        {% with row_names="ЗГОК|Арт-ий|Усть-ТАЛ|Карагайлы|Верх-Бер|Белоусовка|Жезкент|Ер Тай|Н.Широкинский|Лесосиб|Алтын-Топкан" %}
        {% for row_name in row_names|split:"|" %}
        <tr>
            <th>{{ row_name }}</th>
            {% with row_index=forloop.counter0  %}
                {% for name in gof_table.fields %}
                    {% if not name in 'remainder_date,remainder_date_guild,remainder_date_Kusmanov,discrepancy_date'|split:',' %}
                    <td>{% include "value.html" with field_name=name index=row_index %}</td>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        </tr>
        {% endfor %}
        {% endwith %}
    </tbody>
</table>
{% endblock %}