{% extends "table.html" %} 
{% load express_tags %}

{% block title %}План загрузки шихты{% endblock %} 

{% block additional_upper %}
    <label>Выберите месяц </label>
        <input type="month" name="slected_month" id="selected_month" onchange="changeMonth()"
            value="{{ selected_month }}">
        <br/>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary  {% if mode == "plan" %}active{% endif %}">
                <input type="radio" name="mode" id="plan" autocomplete="off"
                    {% if mode == "plan" %}checked="checked"{% endif %}> План
            </label>
            <label class="btn btn-secondary {% if mode == "fact" %}active{% endif %}">
                <input type="radio" name="mode" id="fact" autocomplete="off"
                    {% if mode == "fact" %}checked="checked"{% endif %}> По факту
            </label>
        </div>
{% endblock %}

{% block table %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th> Конц. смт</th>
            <th> Zn</th>
            <th> Соотношение</th>
        </tr>
    </thead>

    <tbody>
        {% for_or_create _ in table_data.concentrate %}
        <tr class="indexed-line">
            <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
            <td>{% include "value.html" with field_name="concentrate" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="zn" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="ratio" index=forloop.counter0 %}</td>
        </tr>
        {% endfor_or_create %}
    </tbody>
</table>
{% endblock %}

{% block js %}
    <script>
    function getRedirectLink() {
        let date = $("#selected_month").val();
        let mode = $('input[name=mode]:checked').attr('id');
        console.log(date);
        console.info(mode);
        return "/furnace/shihta?month=" + date + "&mode=" + mode;
    }

    $(document).ready(() => {
        $("input:radio").change(function (event) {
            window.location.href = getRedirectLink()
        });

        $("#selected_month").change((event) => {
            window.location.href = getRedirectLink()
        });

    });
    </script>
{% endblock %}