{%  extends "table.html" %}
{% load express_tags %}

{% block title %}Расчет годового плана шихты{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th> Концентрат</th>
            <th> План на год СМТ</th>
            <th> Расход шихты за месяц СМТ</th>
            <th></th>
            <th> Расход шихты в сутки СМТ</th>
            <th> Тонн в год</th>
            <th> Доля в шихте</th>
            <th> Zn</th>
            <th> S</th>
            <th> H2O</th>
            <th> Fe</th>
            <th> Cu</th>
            <th> Pb</th>
            <th> SiO2</th>
            <th> Cd</th>
            <th> CaO</th>
            <th> MgO</th>
            <th> K</th>
            <th> Na</th>
            <th> As</th>
            <th> Co</th>
            <th> Au</th>
            <th> Ag</th>
            <th> ВМТ</th>
            <th> Норма/Отклоние</th>
        </tr>
    </thead>

    {% for_or_create _ in table_data.concentrate %}
        <tr class="indexed-line">
            <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
            <td>{% include "value.html" with field_name="concentrate" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="year_plans" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="month_smt" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="empty_field" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="day_smt" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="tonns_a_year" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="schieht_frac" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="zn" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="s" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="h2o" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="fe" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="cu" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="pb" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="sio2" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="cd" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="cao" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="mgo" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="K" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="na" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="arsenic" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="co" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="au" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="ag" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="vmt" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="norm" index=forloop.counter0 %}</td>
        </tr>
    {% endfor_or_create %}
</table>
{% endblock %}