



Среднее содержание за месяц


<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th>Влага</th>
            <th>выдано концнт ВМТ</th>
            <th>СМТ</th>
            <th>Огарка</th>
            <th>Zn конц</th>
            <th>Pb</th>
            <th>Cu</th>
            <th>Cd</th>
            <th>Fe</th>
            <th>SiO2</th>
            <th>Zn огар</th>
            <th>Znk</th>
            <th>Znb</th>
            <th>Pb2</th>
            <th>Cu2</th>
            <th>Cd2</th>
            <th>Fe</th>
            <th>SiO2</th>
            <th>S</th>
            <th>As</th>
            <th>Sb</th>
            <th>S_sulf</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="(value, index) in data.rowsCount" class="indexed-line">
            {% with index=forloop.counter0  %}
                {% for field_name in avg_month_table.fields %}
                <td>{% include "value.html" with field_name=field_name index=index %}</td>
                {% endfor %}
            {% endwith %}
        </tr>
    </tbody>
</table>
