<div class="table__title">СГОК таблица</div>
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            {% for column_name in sgok_table.columns %}
                <th>{{ column_name|safe }}</th>
            {%  endfor %}
        </tr>
    </thead>
    <tbody>
    {% if table_cells_data.sgok|length == 0 %}
        <tr v-for="(value, index) in data.rowsCount" class="indexed-line">
            <input class="index-input" hidden name="index" value=0>
            {% for name in sgok_table.fields %}
            <td>{% include "value.html" with field_name=name index=0 %}</td>
            {% endfor %}
        </tr>
    {% else %}
        {% for _ in table_cells_data.sgok %}
        <tr v-for="(value, index) in data.rowsCount" class="indexed-line">
            {% with row_index=forloop.counter0 %}
            <input class="index-input" hidden name="index" value="{{ row_index }}">
            {% for name in sgok_table.fields %}
            <td>{% include "value.html" with field_name=name index=row_index %}</td>
            {% endfor %}
            {% endwith %}
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

