


СНС


<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th>Наименование концентрата</th>
            <th>СМТ</th>
            <th>Zn<i class='units'>%</i></th>
            <th>Содержание Zn в концентрате<i class='units'>тонн</i></th>
            <th>Pb<i class='units'>%</i></th>
            <th>Содержание  Pb в концентрате<i class='units'>тонн</i></th>
            <th>Cu<i class='units'>%</i></th>
            <th>Содержание Cu в концентрате<i class='units'>тонн</i></th>
            <th>Cd<i class='units'>%</i></th>
            <th>Содержание Cd в концентрате<i class='units'>тонн</i></th>
            <th>Содержание Au в концентрате<i class='units'>г/т</i></th>
            <th>Содержание Ag в концентрате<i class='units'>г/т</i></th>
        </tr>
    </thead>
    <tbody>
    {% if table_cells_data.cmt|length == 0 %}
        <tr v-for="(value, index) in data.rowsCount" class="indexed-line">
            <input class="index-input" hidden name="index" value=0>
            <td><cell field-name="caption" index="0"></cell></td>
            <td><cell field-name="cmt" index="0"></cell></td>
            <td><cell field-name="znp" index="0"></cell></td>
            <td><cell field-name="SodZn" index="0"></cell></td>
            <td><cell field-name="Pb_" index="0"></cell></td>
            <td><cell field-name="SodPb" index="0"></cell></td>
            <td><cell field-name="Cu_" index="0"></cell></td>
            <td><cell field-name="SodCu" index="0"></cell></td>
            <td><cell field-name="Cd_" index="0"></cell></td>
            <td><cell field-name="SodCd" index="0"></cell></td>
            <td><cell field-name="Au" index="0"></cell></td>
            <td><cell field-name="Ag" index="0"></cell></td>
        </tr>
    {% else %}
        {% for _ in table_cells_data.cmt %}
        <tr v-for="(value, index) in data.rowsCount" class="indexed-line">
            <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
            <td>{% include "value.html" with field_name="caption" index=forloop.counter0     %}</td>
            <td><cell field-name="cmt" :row-index="index"></cell></td>
            <td><cell field-name="znp" :row-index="index"></cell></td>
            <td><cell field-name="SodZn" :row-index="index"></cell></td>
            <td><cell field-name="Pb_" :row-index="index"></cell></td>
            <td><cell field-name="SodPb" :row-index="index"></cell></td>
            <td><cell field-name="Cu_" :row-index="index"></cell></td>
            <td><cell field-name="SodCu" :row-index="index"></cell></td>
            <td><cell field-name="Cd_" :row-index="index"></cell></td>
            <td><cell field-name="SodCd" :row-index="index"></cell></td>
            <td><cell field-name="Au" :row-index="index"></cell></td>
            <td><cell field-name="Ag" :row-index="index"></cell></td>
        </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

