# gitignore for python projects
.idea
__pycache__
*.pyc
*.py[co]
express_anal_app/__pycache__/apps.cpython-36.pyc
.svn
.DS_Store

node_modules
webpack-stats.json
DigitalLogs/static/webpack_bundles/*
DigitalLogs/staticfiles/webpack_bundles/*
webpack_bundles

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
!e_logs/core/utils/formatters.py
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
dev/docs/_build/

# PyBuilder
target/


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

#fucking staticfiles
staticfiles/

# sass + css
.sass-cache
*.*.map
*.map

# Logs
*.log
*.log.*
logs/main/
logs/main_debug_calls/
logs/main_debug_debug/
logs/main_debug_error/
logs/main_debug_info/
*.log
logs/main_debug_calls/*
logs/main_debug_debug/*
logs/main_debug_error/*
logs/main_debug_info/*

#tests
desktop.ini

e_logs_tests/screens/*
logs/printed_values
