http://{$CADDY_HOSTNAME} {
    redir {
        if {scheme} is http
        / https://{host}{uri}
    }
}

https://{$CADDY_HOSTNAME}/admin {
    proxy / 127.0.0.1:8002/admin {
        transparent
    }
}

https://{$CADDY_HOSTNAME}/api {
    proxy / 127.0.0.1:8002/api {
        transparent
    }
}

wss://{$CADDY_HOSTNAME}/e-logs {
    proxy / 127.0.0.1:8001/e-logs {
        websocket
    }
}

https://{$CADDY_HOSTNAME}:8085 {
    root /srv/e-logs-constructor/frontend/dist 
    rewrite {
        regexp .*
        to {path} /
    }
}

https://{$CADDY_HOSTNAME} {
    root /srv/frontend/dist
    rewrite {
        regexp .*
        to {path} /
    }
    errors {
	404 index.html
        500 index.html
    }
}

