http://elogs.club {
    redir {
        if {scheme} is http
        / https://{host}{uri}
    }
}

https://elogs.club/admin {
    proxy / 127.0.0.1:8002/admin {
        transparent
    }
}

https://elogs.club/api {
    proxy / 127.0.0.1:8002/api {
        transparent
    }
}

wss://elogs.club/e-logs {
    proxy / 127.0.0.1:8001/e-logs {
        websocket
    }
}

https://elogs.club:8085 {
    root /srv/e-logs-constructor/frontend/dist 
    rewrite {
        regexp .*
        to {path} /
    }
}

https://elogs.club {
    root /srv/frontend/dist
    rewrite {
        regexp .*
        to {path} /
    }
    errors {
	404 index.html
        500 index.html
    }
}

