[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-pyodbc-azure = "==2.0.6.1"
djangorestframework = "==3.8.2"
django-rest-swagger = "==2.2.0"
python-dateutil = "==2.7.3"
django-webpack-loader = "==0.6.0"
telepot = "==12.7"
gunicorn = "==19.9.0"
watchdog = "==0.8.3"
django-extensions = "==2.1.0"
django-filter = "==2.0.0"
django-cacheops = "==4.0.7"
django-pickling = "==1.0"
django-redis = "==4.9.0"
lz4 = "==2.1.0"
Django = "==2.0.6"
PyFunctional = "==1.1.3"
channels = "==2.1.2"
django-debug-toolbar = "==1.9.1"
django-querycount = "==0.7.0"
django-migrations-graph = "==0.1.1"
nplusone = "==1.0.0"
django-developer-panel = "==0.1.2"
django-debug-toolbar-template-profiler = "==1.0.2"
channels_redis = "==2.2.1"
Werkzeug = "==0.14.1"

[dev-packages]
icecream = "*"
nplusone = "*"
django-debug-toolbar = "*"
django-debug-toolbar-template-profiler = "*"
django-querycount = "*"
django-migrations-graph = "*"
django-developer-panel = "*"
Werkzeug = "*"
virtualenvwrapper = "*"
virtualenv = "*"
pipenv = "*"
pip-tools = "*"
bpython = "*"
djdt_flamegraph = "*"

[requires]
python_version = "3.6"
