[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-pyodbc-azure = "*"
djangorestframework = "*"
django-rest-swagger = "*"
django-filter = "==2.0.0"
channels = "==2.1.3"
python-dateutil = "*"
django-webpack-loader = "*"
telepot = "==12.7"
gunicorn = "*"
django-extensions = "==2.1.0"
django-cacheops = "==4.0.7"
django-pickling = "==1.0"
django-redis = "==4.9.0"
lz4 = "==2.1.0"
Django = "==2.1"
channels_redis = "==2.2.1"
pyOpenSSL = "*"
service-identity = "*"
django-environ = "*"
django-service-objects = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"
argon2-cffi = "*"
rcssmin = "*"
python-slugify = "*"
django-compressor = "*"
Twisted = { extras = [ "tls", "http2",] }
django-celery-results = "*"
django-htmlmin = "*"
django-hijack = "*"
dj-database-url = "*"
djangorestframework-rapidjson = "*"
python-rapidjson = "*"
rapidjson = "*"
whitenoise = { extras = [ "brotli",] }
django-cors-headers = "*"
djoser = "*"
djangorestframework-jwt = "*"

[dev-packages]
icecream = "*"
nplusone = "*"
watchdog = "*"
django-debug-toolbar-template-profiler = "*"
django-querycount = "*"
django-migrations-graph = "*"
django-developer-panel = "*"
Werkzeug = "*"
virtualenvwrapper = "*"
virtualenv = "*"
pipenv = "*"
pip-tools = "*"
bpython = "*"
djdt-flamegraph = "*"
tox-pipenv = "*"
pylint = "*"
pylint-common = "*"
pylint-django = "*"
flake8 = "*"
pybuilder = "*"
coverage = "*"
django-coverage-plugin = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.6"
