[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-rest-swagger = "*"
django-filter = "*"
channels = "*"
python-dateutil = "*"
django-webpack-loader = "*"
telepot = "*"
gunicorn = "*"
django-extensions = "*"
django-cacheops = "*"
django-pickling = "*"
django-redis = "*"
lz4 = "*"
Django = "*"
channels_redis = "*"
pyOpenSSL = "*"
service-identity = "*"
django-environ = "*"
django-service-objects = "*"
django-celery-beat = "*"
redis = "*"
argon2-cffi = "*"
rcssmin = "*"
python-slugify = "*"
django-compressor = "*"
Twisted = {extras = [ "tls", "http2",]}
django-celery-results = "*"
json5 = "*"
json-tricks = "*"
plotly = "*"
django-htmlmin = "*"
django-hijack = "*"
dj-database-url = "*"
djangorestframework-rapidjson = "*"
python-rapidjson = "*"
rapidjson = "*"
whitenoise = {extras = [ "brotli",]}
django-cors-headers = "*"
djoser = "*"
djangorestframework-jwt = "*"
pywebpush = "*"
sentry-sdk = "*"
django-debug-toolbar = "*"
django-proxy = "*"
6210100 = {file = "https://github.com/darklow/django-suit/tarball/v2"}
python-telegram-bot = "*"
pysocks = "*"
celery = {file = "https://github.com/celery/celery/tarball/master"}
djangorestframework-simplejwt = "*"
psycopg2 = "*"

[dev-packages]
icecream = "*"
nplusone = "*"
watchdog = "*"
django-debug-toolbar-template-profiler = "*"
django-querycount = "*"
django-migrations-graph = "*"
django-developer-panel = "*"
Werkzeug = "*"
virtualenvwrapper = "*"
virtualenv = "*"
pipenv = "*"
pip-tools = "*"
bpython = "*"
djdt-flamegraph = "*"
pylint = "*"
pylint-common = "*"
pylint-django = "*"
flake8 = "*"
coverage = "*"
django-coverage-plugin = "*"
django-debug-toolbar = "==2.0"
pydotplus = "*"
pysocks = "*"
setuptools = "*"

[requires]
python_version = "3.7.4"
