/** Colors */
$color-header: #548CB7;
$color-th: #666666;
$color-bg1: #EAEAEA;
$color-bg2: #F5F5F5;
$color-bg3: #FFFFFF;
$color-main: #548CB7;
$color-ac1: #FFF652; // yellow
$color-ac2: #9FBF47; //green
$color-ac3: #FF734C; // red
$color-content: white;
$color-text: #656565;
