mixin tbl(rows, columns)
  table.table.journal-table
    - for (var r=0; r < rows; r++) {
        tr.row
          - for (var c=0; c < columns; c++) {
          td= c
          - }
    - }  
    
mixin table__comment
  .table__comment
    a(href="javascript:;", onclick="Toggle.byClick('.comment__text','slide-down', this)" ) Комментарий
    i.fas.fa-envelope.ico-comment
    .comment__text.slide-up
      textarea Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur dignissimos doloribus dolorum ex expedita numquam. Alias aperiam at corporis dicta dolor dolores, earum, provident recusandae repudiandae similique sit voluptas?
    
mixin table_simple(tableName, columns, rows)
  .journal-table
    .table__title= tableName 
    table.table.table-31337
      tr
        each columnName in columns
          th= columnName
      each rowName in rows
        tr
          th= rowName
          td.string-cell Lorem ipsum dolor sit amet.
          td.number-cell 1
          td.number-cell 2
    +table__comment
    
