{% extends "table.html" %}

{% block title %}Ответственные по складу{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <tr>
        <th> Мастер </th>
        <th> Старший крановщик </th>
        <th> Склад, <i class='units'>№</i> </th>
        <th> Крановщик </th>
        <th> Стропальщик </th>
        <th> Дата </th>
        <th> Смена </th>
    </tr>

    <tr>
        <td>{% include "value.html" with field_name="master" index=0 %}</td>
        <td>{% include "value.html" with field_name="senior_crane_operator" index=0 %}</td>
        <td>{% include "value.html" with field_name="storage" index=0 %}</td>
        <td>{% include "value.html" with field_name="crane_operator" index=0 %}</td>
        <td>{% include "value.html" with field_name="sling_operator" index=0 %}</td>
        <td>{% include "value.html" with field_name="date" index=0 %}</td>
        <td>{% include "value.html" with field_name="shift" auto_val=shift_order index=0 %}</td>
    </tr>
</table>
{% endblock %}
