.header
  .header__logo 
      i.fab.fa-font-awesome
      span &nbsp;E-Logs
  .header__title Журнал раппортов по работе с клиентами
  .header__user 
    i.fas.fa-envelope
    i.fas.fa-bell
    span Гаврилов Алексей
    i.fas.fa-user-circle 
