{% extends 'base_page.html' %}
{% load i18n %}

{% block title %}
    <title>Все сообщения</title>
{% endblock %}

{% block css %}
   {{ block.super }} 
{% endblock %}

{% block content %}
    <div class="content">
        <ul class="notifications">
            {% for message in messages %}
                <div class="notification">
                    <div class="notification-icon">
                        {% if message.type == 'critical_value' %}
                            <i class="material-icons" style="font-size:24px; color: #FF0000;">new_releases</i>
                        {% elif message.type == 'comment'%}
                            <i class="material-icons" style="font-size:24px; color: #669900;">announcement</i>
                        {% endif %}
                    </div>
                    <div class="notification-text">
                        <h3>Сообщение {{message.id}}</h3>
                        <p>
                            <h5>{{ message.cell_table_name }} / {{ message.cell_field_name }}</h5>
                        </p>
                        <h6>{{ message.text|truncatechars:100 }}</h6>
                    </div>
                </div>   
            {% endfor %}
        </ul>

        <div class="loading" style="display: none;">ЗАГРУЗКА...</div>

        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="/static/build/js/custom.js"></script>
    <script src="/static/build/js/messages/jquery.waypoints.min.js"></script>
    <script src="/static/build/js/messages/infinite.min.js"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.content')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock %}
