http://dimitrius.club {
    header / Host "dimitrius.club"
    redir {
        if {scheme} is http
        / https://dimitrius.club/
    }
}

https://dimitrius.club/admin
    log stdout
    header / Host "dimitrius.club"
    proxy / django:8002/admin {
        transparent
    }
}

https://dimitrius.club/api {
    log stdout
    header / Host "dimitrius.club"
    proxy / django:8002/api {
        transparent
    }
}

https://dimitrius.club:3001 {
    log stdout
    header / Host "dimitrius.club"
    proxy / django:3000 {
        transparent
    }
}

https://dimitrius.club/e-logs {
    log stdout
    header / Host "dimitrius.club"
    proxy / django:8001/e-logs {
        websocket
    }
}

https://dimitrius.club:8085 {
    #rewrite {
    #    regexp .*
    #    to {path} /
    #}
    log stdout
    proxy / node:8003 {
        transparent
    }
    #root /e-logs-constructor/frontend/dist
}

https://dimitrius.club {
    log stdout
    header / Host "dimitrius.club"
    proxy / django:8002 {
        transparent
    }
}

