{% extends "table.html" %}
{% load express_tags %}

{% block title %}Правая таблица{% endblock %}

{% block form_class %}row_of_tables{% endblock %}
{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th colspan="2"> Установленные технологический режим </th>
        </tr>
        <tr>
            <th>H2SO4</th> <td> {% include "value.html" with field_name="h2so4" index=0 %}</td>
        </tr>
        <tr>
            <th>Zn в отр., г/л</th> <td>{% include "value.html" with field_name="zn" index=0 %}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Корень солодки, г/т</th>
            <td>{% include "value.html" with field_name="solodka"  index=0 %}</td>
        </tr>

        <tr>
            <th>Костный клей, г/т</th>
            <td>{% include "value.html" with field_name="glue"  index=0 %}</td>
        </tr>

        <tr>
            <th>Стронций, г/т</th>
            <td>{% include "value.html" with field_name="stroncii"  index=0 %}</td>
        </tr>

        <tr>
            <th>Магнафлок, г/т</th>
            <td>{% include "value.html" with field_name="magnaflok"  index=0 %}</td>
        </tr>


        <tr>
            <th> Примеси </th>
            <th> мг/л </th>
        </tr>

        <tr>
            <th> Cu </th>
            <td> {% include "value.html" with field_name="cu1"  index=0 %}</td>
        </tr>

        <tr>
            <th> Co </th>
            <td> {% include "value.html" with field_name="co1" index=0 %}</td>
        </tr>
        <tr>
            <th> Cd </th>
            <td> {% include "value.html" with field_name="cd1" index=0 %}</td>
        </tr>
        <tr>
            <th> Sb </th>
            <td> {% include "value.html" with field_name="sb1" index=0 %}</td>
        </tr>
        <tr>
            <th> Fe2+ </th>
            <td> {% include "value.html" with field_name="fe2p1" index=0 %}</td>
        </tr>
        <tr>
            <th> BT % </th>
            <td> {% include "value.html" with field_name="bt1" index=0 %}</td>
        </tr>
        <tr>
            <th> Уд. вес (ЦВМО) г/см3 </th>
            <td> {% include "value.html" with field_name="weight1_1" index=0 %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block additional_lower %}
        <table class="table table-bordered elog-journal-table">
            <tr>
                <th colspan="3"> Остаток ПАВ, %</th>
            </tr>
            <tr>
                <th rowspan="2">Костный клей</th>
                <th>Верхний блок</th>
                <td>{% include "value.html" with field_name="glue_resid_up" index=0 %}</td>
            </tr>

            <tr>
                <th>Нижний блок</th>
                <td>{% include "value.html" with field_name="glue_resid_down" index=0 %}</td>
            </tr>

            <tr>
                <th rowspan="2"> Корень солодки</th>
                <th>Верхний блок</th>
                <td>{% include "value.html" with field_name="solodka_resid_up" index=0 %}</td>
            </tr>

            <tr>
                <th>Нижний блок</th>
                <td>{% include "value.html" with field_name="solodka_resid_down" index=0 %}</td>
            </tr>

            <tr>
                <th colspan="2">Магнафлок</th>
                <td>{% include "value.html" with field_name="magnaflok_resid" index=0 %}</td>
            </tr>

            <tr>
                <th colspan="2">Стронций</th>
                <td>{% include "value.html" with field_name="stroncii_resid" index=0 %}</td>
            </tr>
            <tr>
                <th colspan="3"> Кристализаторы</th>
            </tr>
            <tr>
                <th colspan="2">Ж/т кр-ра №1</th>
                <td>{% include "value.html" with field_name="cryst1" index=0 %}</td>
            </tr>
            <tr>
                <th colspan="2">Ж/т кр-ра №2</th>
                <td>{% include "value.html" with field_name="cryst2" index=0 %}</td>
            </tr>
        </table>
{% endblock %}
