.colors-samples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

[class^=color--] {
  width: 40px;
  height: 40px;
  border: 1px dotted #cccccc;
}

.color--bg {
  background-color: $color-th;
}

.color--main {
  background-color: $color-header;
}

.color--menu1 {
  background-color: $color-bg1;
}

.color--menu2 {
  background-color: $color-bg2;
}

.color--menu-current {
  background-color: $color-bg3;
}

.color--ac1 {
  background-color: $color-ac1;
}

.color--ac2 {
  background-color: $color-ac2;
}

.color--ac3 {
  background-color: $color-ac3;
}
