/** Table Comment */
.journal-table {
  margin-bottom: 20px;
  margin-right: 20px;
  td {
  }
}

.table__title {
  line-height: 40px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: $color-bg1;
}

.table__comment a {
  color: $color-main;
  font-weight: lighter;
  text-decoration: none;
}

.table__comment:hover {
  a {
    text-decoration: underline;
  }
  .ico-comment {
    box-shadow: 2px 2px #8EAE37;
  }
}

.ico-comment {
  color: white;
  padding: 5px;
  border-radius: 50%;
  background-color: $color-ac2;
}

/*table styles */
.table {
  padding: 5px;
  border: 2px solid gray;
  margin-bottom: 20px;
  table-layout: fixed;
}

.table th {
  color: white;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
  background-color: $color-th;
}

.table td {
  padding: 0;
}

input[class$="-cell"] {
  border: none;
  min-width: 0;
  line-height: 1.42857143 !important;
  height: 100%;
  min-height: 30px;
  word-break: break-word;
}

input[class$="-cell"]:focus {
  outline:2px solid $color-main;
}


.number-cell {
  text-align: right;
  font-size: 10px;
  border-collapse: collapse;
}

.string-cell {
  text-align: left;
  font-size: 11px;
  color: grey;
  width: 200px;
  overflow: hidden;
}
