@import "variables";

.hidden {
  visibility: collapse;
}

.shown {
 visibility: visible;
}

.visible {
  visibility: visible !important;
}

.user-name {
  cursor: pointer;
}

.user-menu {
  top: 50px;
  right: 0;
  width: 274px;
  visibility: collapse;
  position: absolute;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;


  .menu {
    margin: 0;
  }

  .user-menu__item {
    display: block;
    position: relative;
    line-height: 20px;
    padding: 10px;
    border-bottom: 1px solid $color-border;
    color: $color-menu-text;
    background-color: #e5e5e5;
    .caption {
      margin-left: 10px;
    }
  }

  .user-menu__item:hover {
    background-color: #f5f5f5;
  }

}

.user-menu::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid #0000;
  border-right: 8px solid #0000;
  border-bottom: 17px solid #e5e5e5;
  right: 30%;
  bottom: 100%;
}

