{% load express_tags %}

{% with table_name="last_table" %}
    <form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
        <input hidden name="table_name" value="{{ table_name }}">
        <input hidden name="journal_page" value="{{ journal_page }}">
        {% with table_data=full_data|table_keyval:table_name %}
        <table class="table table-bordered">
            <tr>
                <th>Время</th>
                <td>{% include "value.html" with field_name="time1" index=0 %}</td>
                <td>{% include "value.html" with field_name="time2" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="time3" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="time4" index=forloop.counter0 %}</td>
                <th>ТМЦ</th>
                <td>Количество, вес</td>
                <td>Сдал, ФИО</td>
                <td>Принял, ФИО</td>
            </tr>
            <tr>
                <th>Самоохрана</th>
                <td>{% include "value.html" with field_name="defence1" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="defence2" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="defence3" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="defence4" index=forloop.counter0 %}</td>
                <td>AI лом</td>
                <td>{% include "value.html" with field_name="weight1" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="passed_fio" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="accepted_fio" index=forloop.counter0 %}</td>
            </tr>
            <tr>
                <td colspan="5"></td>
                <td>Pb дросс</td>
                <td>{% include "value.html" with field_name="weight2" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="passed_sing" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="accepted_sign" index=forloop.counter0 %}</td>
            </tr>
        </table>
        {% endwith %}
        </form>
{% endwith %}