{% extends "table.html" %}
{% load express_tags %}

{% block title %}Плавильный участок-2{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th colspan="6">Плавильный участок 2</th>
        </tr>
        <tr>
            <th>Отгрузка</th>
            <th>На отгрузку</th>
            <th>Обвзяка</th>
            <th>ЦРС</th>
            <th>Остаток Zn</th>
            <th>Дросс</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% include "value.html" with field_name="col1" index=0 %}</td>
            <td>{% include "value.html" with field_name="col2" index=0 %}</td>
            <td>{% include "value.html" with field_name="col3" index=0 %}</td>
            <td>{% include "value.html" with field_name="col4" index=0 %}</td>
            <td>{% include "value.html" with field_name="col5" index=0 %}</td>
            <td>{% include "value.html" with field_name="col6" index=0 %}</td>
        </tr>
        <tr>
            <td>Примечение NH<sub>4</sub>Cl</td>
            <td colspan="5">{% include "value.html" with field_name="desc" index=0 %}</td>
        </tr>
    </tbody>
{% endblock %}

{% block additional_lower %}
    <table class="table table-bordered">
        <thead>
            <tr><th colspan="2">УППЦМ</th></tr>
            <tr><th>Zn пыль</th><th>Бункера</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>{% include "value.html" with field_name="zn_dust" index=0 %}</td>
                <td>{% include "value.html" with field_name="bunkers" index=0 %}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}