{% extends "table.html" %}
{% load express_tags %}

{% block title %}Параметры{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th>Параметры</th>
            <th>Pb</th>
            <th>Cu</th>
            <th>Fe</th>
            <th>Cd</th>
            <th>Al</th>
            <th>Zn ciro пред.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>%</th>
            <td>{% include "value.html" with field_name="percent_Pb" index=0 %} </td>
            <td>{% include "value.html" with field_name="percent_Cu" index=0 %} </td>
            <td>{% include "value.html" with field_name="percent_Fe" index=0 %} </td>
            <td>{% include "value.html" with field_name="percent_Cd" index=0 %} </td>
            <td>{% include "value.html" with field_name="percent_Al" index=0 %} </td>
            <td>{% include "value.html" with field_name="percent_Zn" index=0 %} </td>
        </tr>
        <tr>
            <th>Несоответсвие</th>
            <td>{% include "value.html" with field_name="divergence_Pb" index=0 %} </td>
            <td>{% include "value.html" with field_name="divergence_Cu" index=0 %} </td>
            <td>{% include "value.html" with field_name="divergence_Fe" index=0 %} </td>
            <td>{% include "value.html" with field_name="divergence_Cd" index=0 %} </td>
            <td>{% include "value.html" with field_name="divergence_Al" index=0 %} </td>
            <td>{% include "value.html" with field_name="divergence_Zn" index=0 %} </td>
        </tr>
        <tr>
            <th>Принятые меры</th>
            <td>{% include "value.html" with field_name="taken_actions_Pb" index=0 %} </td>
            <td>{% include "value.html" with field_name="taken_actions_Cu" index=0 %} </td>
            <td>{% include "value.html" with field_name="taken_actions_Fe" index=0 %} </td>
            <td>{% include "value.html" with field_name="taken_actions_Cd" index=0 %} </td>
            <td>{% include "value.html" with field_name="taken_actions_Al" index=0 %} </td>
            <td>{% include "value.html" with field_name="taken_actions_Zn" index=0 %} </td>
        </tr>
    </tbody>
</table>
{% endblock %}