{% extends "table.html" %}
{% load express_tags %}

{% block title %}1-я 2-я серия{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th colspan="3">1-2 серия</th>
            <th colspan="3">Режим</th>
        </tr>
        <tr>
            <th>Параметры</th>
            <th>Факт</th>
            <th>Несоотв</th>
            <th>Принятые меры</th>
            <th>Росп</th>
            <th>Градирни, №</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>H2SO4</th>
            <td>{% include "value.html" with field_name="h2so4_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="h2so4_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="h2so4_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="h2so4_rosp" index=0 %}</td>
            <td rowspan="5">
                <table width="100%" class="non-wrapping-table">
                    <tr>
                        <th>1-</th> 
                        <td>{% include "value.html" with field_name="cooler1" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>2-</th>
                        <td>{% include "value.html" with field_name="cooler2" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>3-</th>
                        <td>{% include "value.html" with field_name="cooler3" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>4-</th>
                        <td>{% include "value.html" with field_name="cooler4" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>5-</th>
                        <td>{% include "value.html" with field_name="cooler5" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>6-</th>
                        <td>{% include "value.html" with field_name="cooler6" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>7-</th>
                        <td>{% include "value.html" with field_name="cooler7" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>8-</th>
                        <td>{% include "value.html" with field_name="cooler8" index=0 %}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Zn в отпр</th>
            <td>{% include "value.html" with field_name="zn_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="zn_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>t<sub>см</sub>, ᵒC</th>
            <td>{% include "value.html" with field_name="t_sm_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="t_sm_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_sm_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_sm_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>Q</th>
            <td>{% include "value.html" with field_name="q_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="q_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="q_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="q_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>t<sub>отр</sub>, ᵒC</th>
            <td>{% include "value.html" with field_name="t_otr_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="t_otr_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_otr_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_otr_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>I</th>
            <td colspan="5">
                <table class="non-wrapping-table">
                    <tr>
                        <th>Cu, мг/л-</th> 
                        <td>{% include "value.html" with field_name="cu" index=0 %}</td> 

                        <th>ВТ-</th> 
                        <td>{% include "value.html" with field_name="VT" index=0 %}</td> 

                        <th>%-</th> 
                        <td>{% include "value.html" with field_name="percent" index=0 %}</td> 

                        <th>V<sub>бак нейтр. 3</sub>, м³-</th>
                        <td>{% include "value.html" with field_name="V3" index=0 %}</td> 
                    </tr>
                    <tr>
                        <th>Co, мг/л-</th> 
                        <td>{% include "value.html" with field_name="co" index=0 %}</td> 

                        <th>Ж:Т 1-</th> 
                        <td>{% include "value.html" with field_name="liquid_solid1" index=0 %}</td>

                        <th></th> 
                        <td></td>  

                        <th>V<sub>бак нейтр. 4</sub>, м³-</th>
                        <td>{% include "value.html" with field_name="V4" index=0 %}</td> 
                    </tr>
                    <tr> 
                        <th>Sb, мг/л-</th> 
                        <td>{% include "value.html" with field_name="sb" index=0 %}</td>  

                        <th>Ж:Т 2-</th> 
                        <td>{% include "value.html" with field_name="liquid_solid2" index=0 %}</td>

                        <th></th> 
                        <td></td>

                        <th>V5, м³-</th>
                        <td>{% include "value.html" with field_name="V5" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>Fe, мг/л-</th> 
                        <td>{% include "value.html" with field_name="fe" index=0 %}</td> 
                        <th>уд нейтр.-</th> 
                        <td>{% include "value.html" with field_name="ud_neutral" index=0 %}</td> 

                        <th></th> 
                        <td></td>

                        <th>V6, м³-</th>
                        <td>{% include "value.html" with field_name="V6" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>Cd, мг/л-</th> 
                        <td>{% include "value.html" with field_name="cd" index=0 %}</td>  

                        <th>уд см.-</th> 
                        <td>{% include "value.html" with field_name="ud_sm" index=0 %}</td>

                        <th></th> 
                        <td></td> 

                        <th>V6<sub>отраб.</sub>, м³-</th>
                        <td>{% include "value.html" with field_name="V6_otr" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>t<sub>н</sub>, ᵒC-</th>
                        <td>{% include "value.html" with field_name="t_n" index=0 %}</td>
                    
                        <th>уд отр.-</th>
                        <td>{% include "value.html" with field_name="ud_otr" index=0 %}</td>
                    
                        <th></th>
                        <td></td>
                    
                        <th>VII, м³</th>
                        <td>{% include "value.html" with field_name="VII" index=0 %}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}