{% load express_tags %}

{% with table_name="main_table" %}
    <table>
        <thead>

        </thead>
        <tbody>
            <tr>
                <th>Параметры</th>
                <th>Pb</th>
                <th>Cu</th>
                <th>Fe</th>
                <th>Cd</th>
                <th>Al</th>
                <th>Zn ciro пред.</th>
            </tr>
            <tr>
                <th>%</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Несоответсвие</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Принятые меры</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Подпись</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endwith %}