{% extends "table.html" %}
{% load express_tags %}

{% block title %}3-я серия{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th colspan="3">3 серия</th>
            <th colspan="3">Режим</th>
        </tr>
        <tr>
            <th>Параметры</th>
            <th>Факт</th>
            <th>Несоотв</th>
            <th>Принятые меры</th>
            <th>Росп</th>
            <th>Градирни</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>H2SO4</th>
            <td>{% include "value.html" with field_name="h2so4_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="h2so4_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="h2so4_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="h2so4_rosp" index=0 %}</td>
            <td rowspan="5">
                <table width="100%" class="non-wrapping-table">
                    <tr>
                        <th>1-</th>
                        <td>{% include "value.html" with field_name="cooler1" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>2-</th>
                        <td>{% include "value.html" with field_name="cooler2" index=0 %}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>Zn в отпр</th>
            <td>{% include "value.html" with field_name="zn_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="zn_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>t<sub>см</sub></th>
            <td>{% include "value.html" with field_name="t_sm_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="t_sm_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_sm_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_sm_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>Q</th>
            <td>{% include "value.html" with field_name="q_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="q_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="q_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="q_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>t<sub>отр</sub></th>
            <td>{% include "value.html" with field_name="t_otr_fact" index=0 %} </td>
            <td>{% include "value.html" with field_name="t_otr_nesootv" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_otr_mery" index=0 %}</td>
            <td>{% include "value.html" with field_name="t_otr_rosp" index=0 %}</td>
        </tr>
        <tr>
            <th>I</th>
            <td colspan="5">
                <table width="80%" class="non-wrapping-table">
                    <tr>
                        <th>уд.хол-</th>
                        <td>{% include "value.html" with field_name="ud_hold" index=0 %}</td>

                        <th>t<sub>н</sub>-</th>
                        <td>{% include "value.html" with field_name="t_n" index=0 %}</td>

                        <th>V1-</th>
                        <td>{% include "value.html" with field_name="V1" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>уд.отр-</th>
                        <td>{% include "value.html" with field_name="ud_waste" index=0 %}</td>

                        <th>t<sub>гр</sub>-</th>
                        <td>{% include "value.html" with field_name="t_gr" index=0 %}</td>

                        <th>V<sub>бака 2-й ступени</sub>-</th>
                        <td>{% include "value.html" with field_name="V2" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>уд.нейт-</th>
                        <td>{% include "value.html" with field_name="ud_neutral" index=0 %}</td>
                    </tr>
                    <tr>
                        <th>уд.ГМЦ-</th>
                        <td>{% include "value.html" with field_name="ud_GMC" index=0 %}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}