{% load express_tags %}

{% with table_name="seria3_table" %}
    <form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
        <input hidden name="table_name" value="{{ table_name }}">
        <input hidden name="journal_page" value="{{ journal_page }}">
        {% with table_data=full_data|table_keyval:table_name %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3">3 серия</th>
                    <th colspan="3">Режим</th>
                </tr>
                <tr>
                    <th>Параметры</th>
                    <th>Факт</th>
                    <th>Несоотв</th>
                    <th>Принятые меры</th>
                    <th>Росп</th>
                    <th>Градирни</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>H2SO4</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td rowspan="5"> 1 2 3 4 5 6 7 8</td>
                </tr>
                <tr>
                    <td>Zn в отпр</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1 см</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Q</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>I</td>
                    <td colspan="5">
                        <table width="100%">
                            <tr> <th>Уд. хол.</th><td></td>  <th>ВТ-</th><td></td> <th>%</th> <th>V3</th> </tr>
                            <tr> <th>Co-</th><td></td>  <th>Ж:Т 1-</th><td></td> <th>V4</th> </tr>
                            <tr> <th>Sb-</th><td></td>  <th>Ж:Т 2-</th><td></td> <th>V4</th> </tr>
                            <tr> <th>V5-</th><td></td>  <th>уд нейтр.</th><td></td> <th>V6</th> </tr>
                            <tr> <th>Fe-</th><td></td>  <th>уд см.</th><td></td> <th>V6</th> </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endwith %}
    </form>
{% endwith %}