{% load express_tags %}


{% with table_name="main_table" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="10">Цинк товарный</th>
            </tr>
            <tr>
                <th>Zn чуш(1)</th>
                <th>Zn блоки(1)</th>
                <th>Zn чуш(2)</th>
                <th>Zn блоки(2) 7п</th>
                <th>Zn блоки(2) 9п</th>
                <th>Zn всего</th>
                <th>+/-</th>
                <th>Общий остаток</th>
                <th>Остаток чушки</th>
                <th>Остаток блоки</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="8">Сдирка катодного Zn</th>
            </tr>
            <tr>
                <td>1-2 серия</td>
                <td>+ -</td>
                <td>3 серия</td>
                <td>+ -</td>
                <td>4 серия</td>
                <td>+ -</td>
                <td>Zn кат всего</td>
                <td>+ -</td>
            </tr>
        </thead>
        <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tbody>
    </table>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="3">Распределение Zn кат</th>
                <th colspan="3">Отгрузка за сутки</th>
                <th>Сутки + -</th>
            </tr>
            <tr>
                <td>Zn кат ПУ-1</td>
                <td>Zn кат ПУ-2</td>
                <td>УППЦМ</td>
                <td>Чушки, т</td>
                <td>Блоки, т</td>
                <td>Конт, т</td>
                <td rowspan="2"></td>
            </tr>
        </thead>
        <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
        </tbody>
    </table>

    {% endwith %}
</form>
{% endwith %}