{% extends "table.html" %}
{% load express_tags %}

{% block title %}Цинк товарный{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th colspan="10">Цинк товарный</th>
        </tr>
        <tr>
            <th>Zn чуш(1)</th>
            <th>Zn блоки(1)</th>
            <th>Zn чуш(2)</th>
            <th>Zn блоки(2) 7п</th>
            <th>Zn блоки(2) 9п</th>
            <th>Zn всего</th>
            <th>+/-</th>
            <th>Общий остаток</th>
            <th>Остаток чушки</th>
            <th>Остаток блоки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% include "value.html" with field_name="zn1" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn2" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn3" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn4" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn5" index=0 %}</td>

            <td>{% include "value.html" with field_name="zn6" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn7" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn8" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn9" index=0 %}</td>
            <td>{% include "value.html" with field_name="zn10" index=0 %}</td>
        </tr>

    </tbody>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="8">Сдирка катодного Zn</th>
        </tr>
        <tr>
            <td>1-2 серия</td>
            <td>+ -</td>
            <td>3 серия</td>
            <td>+ -</td>
            <td>4 серия</td>
            <td>+ -</td>
            <td>Zn кат всего</td>
            <td>+ -</td>
        </tr>
    </thead>
    <tbody>
            <td>{% include "value.html" with field_name="skd1" index=0 %}</td>
            <td>{% include "value.html" with field_name="skd2" index=0 %}</td>
            <td>{% include "value.html" with field_name="skd3" index=0 %}</td>
            <td>{% include "value.html" with field_name="skd4" index=0 %}</td>

            <td>{% include "value.html" with field_name="skd5" index=0 %}</td>
            <td>{% include "value.html" with field_name="skd6" index=0 %}</td>
            <td>{% include "value.html" with field_name="skd7" index=0 %}</td>
            <td>{% include "value.html" with field_name="skd8" index=0 %}</td>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="3">Распределение Zn кат</th>
            <th colspan="3">Отгрузка за сутки</th>
            <th>Сутки + -</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Zn кат ПУ-1</td>
            <td>Zn кат ПУ-2</td>
            <td>УППЦМ</td>
            <td>Чушки, т</td>
            <td>Блоки, т</td>
            <td>Конт, т</td>
            <td rowspan="2">{% include "value.html" with field_name="sk7" index=0 %}</td>
        </tr>
        <tr>
            <td>{% include "value.html" with field_name="sk1" index=0 %}</td>
            <td>{% include "value.html" with field_name="sk2" index=0 %}</td>
            <td>{% include "value.html" with field_name="sk3" index=0 %}</td>
            <td>{% include "value.html" with field_name="sk4" index=0 %}</td>
            <td>{% include "value.html" with field_name="sk5" index=0 %}</td>
            <td>{% include "value.html" with field_name="sk6" index=0 %}</td>
        </tr>
    </tbody>
{% endblock %}