



Нагрузки


    <table class="table table-bordered elog-journal-table">
            <thead>
            <tr>
                <th colspan="2"></th>
                <th class="th-number">I серия, А</th>
                <th class="th-number">II серия, А</th>
                <th class="th-number">III серия, А</th>
                <th class="th-number">IV серия, А</th>
            </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
                <tr>
                    <th rowspan="2" class="th-mul-row">Нагрузки</th>
                    <th>7<sup>00</sup></th>
                    {% for seria in 4|times %}
                        <td>{% include "value.html" with field_name="time7" index=seria %}</td>
                    {%  endfor %}
                </tr>
                <tr>
                    <th>12<sup>00</sup></th>
                    {% for seria in 4|times %}
                        <td>{% include "value.html" with field_name="time12" index=seria %}</td>
                    {%  endfor %}
                </tr>
                <tr>
                    <th colspan="2">Показания счётчика</th>
                    {% for seria in 4|times %}
                        <td>{% include "value.html" with field_name="counter" index=seria %}</td>
                    {%  endfor %}
                </tr>
                <tr>
                    <th colspan="2">Бункера ЦВЦО</th>
                    {% for seria in 4|times %}
                        <td>{% include "value.html" with field_name="bunker_cvco" index=seria %}</td>
                    {%  endfor %}
                </tr>
                <tr>
                    <th colspan="2">Силоса ОЦ</th>
                    {% for seria in 4|times %}
                        <td>{% include "value.html" with field_name="silos" index=seria %}</td>
                    {%  endfor %}
                </tr>
                <tr>
                    <th colspan="2">Бункера ОЦ</th>
                    {% for seria in 4|times %}
                        <td>{% include "value.html" with field_name="bunkers_oc" index=seria %}</td>
                    {%  endfor %}
                </tr>
            </tbody>
        </table>

