{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}Нейтральный р-р{% endblock %}

{% block table %}
    <table class="table table-bordered elog-journal-table">
            <thead>
                <tr>
                    <th>{% trans "Наличие<br>нейтр. р-ра" %}</th>
                    <th colspan="2">{% trans "Уч. выщел. N1<br>бак 3,4,5,4А" %}</th>
                    <th>{% trans "Бак" %} 3 </th>
                    <th>{% trans "Бак" %} 4</th>
                    <th>{% trans "Итого" %}</th>
                    <th>{% trans "Бак III<br/>серии" %}</th>
                    <th>{% trans "Бак" %} 5 </th>
                    <th>{% trans "Бак" %} 6 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><cell field-name="neutral_solution" index="0"></cell></td>
                    <td><cell field-name="leach1" index="0"></cell></td>
                    <td><cell field-name="leach2" index="0"></cell></td>
                    <td><cell field-name="bak_3" index="0"></cell></td>
                    <td><cell field-name="bak_4" index="0"></cell></td>
                    <td><cell field-name="summary" index="0"></cell></td>
                    <td><cell field-name="bak_seria3" index="0"></cell></td>
                    <td><cell field-name="bak_5" index="0"></cell></td>
                    <td><cell field-name="bak_6" index="0"></cell></td>
                </tr>
            </tbody>
        </table>
{% endblock %}
