{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}Нейтральные сгуситители{% endblock %}

{% block table %}
    <table class="table table-bordered elog-journal-table">
        <thead>
        <tr>
            <th>{% trans "Нейтральные сгустители" %}</th>

            {% for i in 8|times %}
                <th class="th-number">{{ forloop.counter }}</th>
            {% endfor %}
            <th class="th-number">13</th>
        </tr>
        </thead>
        <tr>
            <th>{% trans "Отстои" %}<i class="units">см</i></th>

            {% for i in 8|times %}
                {% with ind=forloop.counter|stringformat:"i" %}
                    <td>{% include "value.html" with field_name="sediment"|add:ind index=0 %}</td>
                {% endwith %}
            {% endfor %}
            <td><cell field-name="sediment13" index="0"></cell></td>
        </tr>
        <tr>
            <th>{% trans "Ж:Т (НС)" %}</th>

            {% for i in 8|times %}
                {% with ind=forloop.counter|stringformat:"i" %}
                    <td>{% include "value.html" with field_name="liquid_solid"|add:ind index=0 %}</td>
                {% endwith %}
            {% endfor %}
            <td><cell field-name="liquid_solid13" index="0"></cell></td>
        </tr>
    </table>
{% endblock %}
