{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}Реагенты{% endblock %}

{% block table %}
    <table class="table table-bordered elog-journal-table">
        <thead>
            <tr>
                <th>Реагент</th>
                <th>{% trans "Доставлено" %}</th>
                <th>{% trans "Принято" %}</th>
                <th class="th-common">{% trans "Расход" %}</th>
                <th>{% trans "Сдано" %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{% trans "Соль Шлиппе" %}{% trans "<i class='units'>кг</i>" %}</th>
                <td><cell field-name="delivery_salt" index="0"></cell></td>
                <td><cell field-name="income_salt" index="0"></cell></td>
                <td><cell field-name="outcome_salt" index="0"></cell></td>
                <td><cell field-name="passed_salt" index="0"></cell></td>
            </tr>
            <tr>
                <th class="th-mul-row">{% trans "Zn пыль" %}{% trans "<i class='units'>кюбели</i>" %}</th>
                <td><cell field-name="delivery_Zn_dust" index="0"></cell></td>
                <td><cell field-name="income_Zn_dust" index="0"></cell></td>
                <td class="wrappercell">
                    <table class="table table-bordered insidetable">
                        <tr>
                            <th class="removeleftborder removetopborder">{% trans "1ст<i class='units'>т</i>" %}</th>
                            <td class="removetopborder"><cell field-name="outcome_Zn_1st" index="0"></cell></td>
                            <td rowspan="4" class="removetopborder removerightborder removebottomborder">
                                <cell field-name="outcome_Zn_1st" index="0"></cell></td>
                        </tr>
                        <tr>
                            <th class="removeleftborder">{% trans "2ст<i class='units'>т</i>" %}</th>
                            <td><cell field-name="outcome_Zn_2st" index="0"></cell></td>
                        </tr>
                        <tr>
                            <th class="removeleftborder removebottomborder">{% trans "3ст<i class='units'>т</i>" %}</th>
                            <td class="removebottomborder"><cell field-name="outcome_Zn_3st" index="0"></cell></td>
                        </tr>
                        <tr>
                            <th class="removebottomborder removeleftborder">Cd<i class='units'>т</i></th>
                            <td class="removebottomborder"><cell field-name="income_Zn_dust" index="0"></cell></td>
                        </tr>
                    </table>
                </td>
                <td><cell field-name="passed_Zn_dust" index="0"></cell></td>
            </tr>
            <tr>
                <th>{% trans "Mn руда" %}{% trans "<i class='units'>тн</i>" %}</th>
                <td><cell field-name="delivery_Mn_ore" index="0"></cell></td>
                <td><cell field-name="income_Mn_ore" index="0"></cell></td>
                <td><cell field-name="outcome_Mn_ore" index="0"></cell></td>
                <td><cell field-name="passed_Mn_ore" index="0"></cell></td>
            </tr>
            <tr>
                <th>{% trans "Магнофлок" %}{% trans "<i class='units'>кг</i>" %}</th>
                <td><cell field-name="delivery_Magnaflok" index="0"></cell></td>
                <td><cell field-name="income_Magnaflok" index="0"></cell></td>
                <td><cell field-name="outcome_Magnaflok" index="0"></cell></td>
                <td><cell field-name="passed_Magnaflok" index="0"></cell></td>
            </tr>
            <tr>
                <th>{% trans "Fe стружка" %}{% trans "<i class='units'>кг</i>" %}</th>
                <td><cell field-name="delivery_Fe_shave" index="0"></cell></td>
                <td><cell field-name="income_Fe_shave" index="0"></cell></td>
                <td><cell field-name="outcome_Fe_shave" index="0"></cell></td>
                <td><cell field-name="passed_Fe_shave" index="0"></cell></td>
            </tr>
            <tr>
                <th>{% trans "Состояние ограждений:" %}</th>
                <td colspan="4"><cell field-name="state_fances" index="0"></cell></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
