{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}BCHC{% endblock %}

{% block table %}
    <table class="table table-bordered elog-journal-table">
        <thead>
            <tr>
                <th rowspan="3">{% trans "Время" %}</th>
                <th colspan="10" class="th-common">{% trans "BCHC" %}</th>
                <th colspan="5" class="th-common">{% trans "Ларокс" %}</th>
                <th colspan="7" class="th-common">{% trans "Очищенный раствор" %}</th>
                <th colspan="6" class="th-common">{% trans "Упр. Несоответствия продукции" %}</th>
            </tr>
            <tr>
                <th>Co<i class='units'>мг/л</i></th>
                <th>Sb<i class='units'>мг/л</i></th>
                <th>Cu<i class='units'>мг/л</i></th>
                <th>Cd<i class='units'>мг/л</i></th>
                <th>Тв. после<br>1ст<i class='units'>г/л</i></th>
                <th>pH (ВСНС)</th>
                <th>Fe<i class='units'>мг/л</i></th>
                <th>As<i class='units'>мг/л</i></th>
                <th>Тв.<i class='units'>г/л</i></th>
                <th>Уд.<br>вес<i class='units'>г/см<sup>3</sup></i></th>
                <th>Co<i class='units'>мг/л</i></th>
                <th>Sb<i class='units'>мг/л</i></th>
                <th>Cd<i class='units'>мг/л</i></th>
                <th>Тв<i class='units'>г/л</i></th>
                <th>pH</th>
                <th>Cd<i class='units'>мг/л</i></th>
                <th>Co<i class='units'>мг/л</i></th>
                <th>Sb<i class='units'>мг/л</i></th>
                <th>Cu<i class='units'>мг/л</i></th>
                <th>Fe<i class='units'>мг/л</i></th>
                <th>Выход потоку<i class='units'>%</i></th>
                <th><span>Уд.<br> вес</span><i class='units'>г/см<sup>3</sup></i></th>
                <th>Норма<i class='units'>мг/л</i></th>
                <th>Факт<i class='units'>мг/л</i></th>
                <th>Несоотв.<i class='units'>мг/л</i></th>
                <th>Корр.</th>
                <th>Мастер</th>
            </tr>
        </thead>
        <tbody>
            {% for_or_create _ in table_cells_data|longest_field %}
                <tr class="indexed-line">
                    <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
                    <td>{% include "value.html" with field_name="time" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_cobalt" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_Sb" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_Cu" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_Cd" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_solid_after" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_pH" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_Fe" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_As" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_solid" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="vsns_density" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="larox_Co" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="larox_Sb" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="larox_Cd" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="larox_solid" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="larox_pH" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="liq_Cd" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="liq_Co" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="liq_Sb" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="liq_Cu" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="liq_Fe" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="liq_current_out" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="liq_density" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="mng_norm" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="mng_fact" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="mng_discrepancy" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="mng_correction" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="master" index=forloop.counter0 %}</td>
                </tr>
            {% endfor_or_create %}
        </tbody>
    </table>
{% endblock %}