



BCHC


    <table class="table table-bordered elog-journal-table">
        <thead>
            <tr>
                <th rowspan="3">Время</th>
                <th colspan="10" class="th-common">BCHC</th>
                <th colspan="5" class="th-common">Ларокс</th>
                <th colspan="7" class="th-common">Очищенный раствор</th>
                <th colspan="6" class="th-common">Упр. Несоответствия продукции</th>
            </tr>
            <tr>
                <th>Co<i class='units'>мг/л</i></th>
                <th>Sb<i class='units'>мг/л</i></th>
                <th>Cu<i class='units'>мг/л</i></th>
                <th>Cd<i class='units'>мг/л</i></th>
                <th>Тв. после<br>1ст<i class='units'>г/л</i></th>
                <th>pH (ВСНС)</th>
                <th>Fe<i class='units'>мг/л</i></th>
                <th>As<i class='units'>мг/л</i></th>
                <th>Тв.<i class='units'>г/л</i></th>
                <th>Уд.<br>вес<i class='units'>г/см<sup>3</sup></i></th>
                <th>Co<i class='units'>мг/л</i></th>
                <th>Sb<i class='units'>мг/л</i></th>
                <th>Cd<i class='units'>мг/л</i></th>
                <th>Тв<i class='units'>г/л</i></th>
                <th>pH</th>
                <th>Cd<i class='units'>мг/л</i></th>
                <th>Co<i class='units'>мг/л</i></th>
                <th>Sb<i class='units'>мг/л</i></th>
                <th>Cu<i class='units'>мг/л</i></th>
                <th>Fe<i class='units'>мг/л</i></th>
                <th>Выход потоку<i class='units'>%</i></th>
                <th><span>Уд.<br> вес</span><i class='units'>г/см<sup>3</sup></i></th>
                <th>Норма<i class='units'>мг/л</i></th>
                <th>Факт<i class='units'>мг/л</i></th>
                <th>Несоотв.<i class='units'>мг/л</i></th>
                <th>Корр.</th>
                <th>Мастер</th>
            </tr>
        </thead>
        <tbody>
            {% for_or_create _ in table_cells_data|longest_field %}
                <tr v-for="(value, index) in data.rowsCount" class="indexed-line">

                    <td><cell field-name="time" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_cobalt" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_Sb" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_Cu" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_Cd" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_solid_after" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_pH" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_Fe" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_As" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_solid" :row-index="index"></cell></td>
                    <td><cell field-name="vsns_density" :row-index="index"></cell></td>
                    <td><cell field-name="larox_Co" :row-index="index"></cell></td>
                    <td><cell field-name="larox_Sb" :row-index="index"></cell></td>
                    <td><cell field-name="larox_Cd" :row-index="index"></cell></td>
                    <td><cell field-name="larox_solid" :row-index="index"></cell></td>
                    <td><cell field-name="larox_pH" :row-index="index"></cell></td>
                    <td><cell field-name="liq_Cd" :row-index="index"></cell></td>
                    <td><cell field-name="liq_Co" :row-index="index"></cell></td>
                    <td><cell field-name="liq_Sb" :row-index="index"></cell></td>
                    <td><cell field-name="liq_Cu" :row-index="index"></cell></td>
                    <td><cell field-name="liq_Fe" :row-index="index"></cell></td>
                    <td><cell field-name="liq_current_out" :row-index="index"></cell></td>
                    <td><cell field-name="liq_density" :row-index="index"></cell></td>
                    <td><cell field-name="mng_norm" :row-index="index"></cell></td>
                    <td><cell field-name="mng_fact" :row-index="index"></cell></td>
                    <td><cell field-name="mng_discrepancy" :row-index="index"></cell></td>
                    <td><cell field-name="mng_correction" :row-index="index"></cell></td>
                    <td><cell field-name="master" :row-index="index"></cell></td>
                </tr>
            {% endfor_or_create %}
        </tbody>
    </table>

