{% extends 'base_page.html' %}
{% load staticfiles %}
{% load tz %}


{% load i18n %}

{% block title %}
    <title>Все сообщения</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static '/vendors/bootstrap/dist/css/bootstrap-notifications.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content">
        <ul class="notifs">
            {% for message in messages reversed %}
                <li class="notif">
                    <div class="media">
                        <div class="media-left">
                            <div class="media-object">
                                <img src = "{% static 'images/no-avatar.png' %}" class="emp-img">{{ user_name }}
                            </div>
                        </div>
                        <div class="media-body">
                            <strong class="notification-title">
                                <a href="#">{{message.sendee}}</a> 
                                
                                {% if message.type == 'critical_value' %}
                                    ввел некорректное значение в поле
                                {% elif message.type == 'comment'%}
                                    оставил замечание к полю
                                {% endif %}

                                <a href="{{message.link}}">{{message.cell.field.name}}</a>
                            </strong>

                            {% if message.type == 'critical_value' %}
                                <p class="notif-desc-critical">{{message.text}}</p>
                            {% elif message.type == 'comment'%}
                                <p class="notif-desc-comment">{{message.text}}</p>
                            {% endif %}

                            <div class="notif-meta">
                                <small class="timestamp">{{message.created}}</small>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="loading" style="display: none;">ЗАГРУЗКА...</div>

        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src = "{% static 'build/js/custom.js' %}"></script>
    <script src = "{% static 'vendors/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src = "{% static 'vendors/waypoints/shortcuts/infinite.min.js' %}"></script>
    <script>
        let infinite = new Waypoint.Infinite({
            element: $('.notifs')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function () {
                $('.loading').hide();
            },
            items: ".notif",
        });
    </script>
{% endblock %}
