<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2"> Параметры</th>
            <th colspan="12" class="th-common"> Время замеров</th>
            <th rowspan="2"> Несоотвествия</th>
            <th rowspan="2"> Принятые меры</th>
        </tr>
        <tr v-if="shiftOrder === 1">
            <th 
                class="th-number"
                v-for="(hour, index) in ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00']"
            >{{hour}}</th>
        </tr>
        <tr v-if="shiftOrder === 2">
            <th 
                class="th-number"
                v-for="(hour, index) in ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00']"
            >{{hour}}</th>
    </thead>
    <tbody>
    <tr>
        <th> Zn в отр., <i>г/л</i> </th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'zn' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="znmismatches" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="znmeasures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Смеси, <i>г/л</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'zn_mix' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="zn_mixmismatches" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="zn_mixmeasures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> H₂SO₄ отр., <i>г/л</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'h2so4' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="h2so4mismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="h2so4measures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Удельный вес хол-го раствора, <i>г/см³</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'solute1' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="solute1mismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="solute1measures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Удельный вес отр-го раствора, <i>г/см³</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'solute2' + hour" :row-index="index">
            </cell>
        </td>
        <td>
            <cell field-name="solute2mismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="solute2measures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Температура смеси, <i>ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'mixture_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="mixture_tempmismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="mixture_tempmeasures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Температура в ваннах, <i>ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'bath_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="bath_tempmismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="bath_tempmeasures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Температура H₂O, <i>ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'h2o_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="h2o_tempmismatches" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="h2o_tempmeasures" row-index="0">
            </cell>
        </td>
    </tr>

    <tr>
        <th> Давление H₂O, <i>Па</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'h2o_pressure' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="h2o_pressuremismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="h2o_pressuremeasures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Давление пара, <i>Па</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'gas_pressure' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="gas_pressuremismatches" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="gas_pressuremeasures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Сточные воды, <i>Рh</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'wastewater' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="wastewatermismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="wastewatermeasures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Температура точки 5 ВИУ, <i>ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'point5_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="point5_tempmismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="point5_tempmeasures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Температура точки 6 ВИУ, <i>ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'point6_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="point6_tempmismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="point6_tempmeasures" row-index="0">
            </cell>
        </td>
    </tr>
    <tr>
        <th> Температура точки 7 ВИУ, <i>ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'point7_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="point7_tempmismatches" row-index="0">
            </cell>
        </td>
        <td>
            <cell field-name="point7_tempmeasures" row-index="0"></cell>
        </td>
    </tr>
    </tbody>
</table>
