
<style>
th { text-align: center; }

th.rotate {
  height: 140px;
  white-space: nowrap;

}

th.rotate > div {
  transform:
    translate(5px, 51px)
    rotate(270deg);
  width: 1px;
}

th.rotate > div > span {
  padding: 5px 50px;
  text-align: left;
}
</style>
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-bordered">
            <thead>
            <tr>
                <th rowspan="3" class="rotate"><div><span>Время</span></div></th>
                {% for nomer in table.columns %}
                <th colspan="6" >Сгуститель {{nomer}}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for nomer in table.columns %}
                <th colspan="4">ВС {{nomer}}сг.</th>
                <th colspan="2">НС {{nomer}}сг.</th>
                {% endfor %}
            </tr>
            <tr>
                {% for n in table.columns %}
                <th class="rotate"><div><span>pH</span></div></th>
                <th class="rotate"><div><span>Медь</span></div></th>
                <th class="rotate"><div><span>Железо</span></div></th>
                <th class="rotate"><div><span>Ж:Т</span></div></th>

                <th class="rotate"><div><span>pH</span></div></th>
                <th class="rotate"><div><span>Ж:Т</span></div></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for row in table.data.rows %}
                <tr>
                    <td>{{row.time}}<sup>00</sup></td>
                    {% for denser in row.denser %}
                    <td>{{denser.upper.ph}}</td>
                    <td>{{denser.upper.cu}}</td>
                    <td>{{denser.upper.fe}}</td>
                    <td>{{denser.upper.liqSol}}</td>

                    <td>{{denser.lower.ph}}</td>
                    <td>{{denser.lower.liqSol}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>