<style>
    td { text-align: center; }
    tr.mini th { vertical-align: middle !important; }
</style>
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="10">Агитаторы</th>
                    <th colspan="3">Готовый раствор</th>
                </tr>
                <tr>
                    <th>13,<br/>14</th>
                    <th>Cd</th>
                    <th>Cu</th>
                    <th>Co</th>
                    <th>15</th>
                    <th>pH</th>
                    <th>Cu</th>
                    <th>17</th>
                    <th>pH</th>
                    <th>Cu</th>
                    <th>19</th>
                    <th>H2SO4</th>
                    <th>Cu</th>
                </tr>
            </thead>
            <tbody>
                {% for num, row in table.data.times.items %}
                <tr class="mini">
                    {% if num == 0 %}
                    <th rowspan="3">До</th>
                    {% endif %}
                    <td>{{row.13.1.cd |floatformat:2}}</td>
                    <td>{{row.13.1.cu |floatformat:2}}</td>
                    <td>{{row.13.1.co |floatformat:2}}</td>
                    {% if num == 0 %}
                    <th rowspan="3">До</th>
                    {% endif %}
                    <td>{{row.15.1.ph |floatformat:2}}</td>
                    <td>{{row.15.1.cu |floatformat:2}}</td>
                    {% if num == 0 %}
                    <th rowspan="3">До</th>
                    {% endif %}

                    <td>{{row.17.1.ph |floatformat:2}}</td>
                    <td>{{row.17.1.cu |floatformat:2}}</td>

                    <td></td>
                    <td>{{row.19.1.h2so4 |floatformat:2}}</td>
                    <td>{{row.19.1.cu |floatformat:2}}</td>
                </tr>
                {% endfor %}
                {% for num, row in table.data.times.items %}
                <tr class="mini">
                    {% if num == 0 %}
                    <th rowspan="3">После</th>
                    {% endif %}
                    <td>{{row.13.0.cd |floatformat:2}}</td>
                    <td>{{row.13.0.cu |floatformat:2}}</td>
                    <td>{{row.13.0.co |floatformat:2}}</td>
                    {% if num == 0 %}
                    <th rowspan="3">После</th>
                    {% endif %}
                    <td>{{row.15.0.ph |floatformat:2}}</td>
                    <td>{{row.15.0.cu |floatformat:2}}</td>
                    {% if num == 0 %}
                    <th rowspan="3">После</th>
                    {% endif %}

                    <td>{{row.17.0.ph |floatformat:2}}</td>
                    <td>{{row.17.0.cu |floatformat:2}}</td>

                    <td></td>
                    <td>{{row.19.0.h2so4 |floatformat:2}}</td>
                    <td>{{row.19.0.cu |floatformat:2}}</td>
                </tr>
                {% endfor %}
            <tr>
                <th colspan="2">№ 22</th>
                <td colspan="14">{{table.data.comment}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>