<style>
    td { text-align: center; }
</style>
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">1 Манн</th>
                    <th colspan="5">4 Манн</th>
                </tr>
                <tr>
                    <th>pH</th>
                    <th>Кисл-ть</th>
                    <th>Fe двухвал.</th>
                    <th>Fe Общее</th>
                    <th>pH</th>
                    <th>Медь</th>
                    <th>Fe</th>
                    <th>Сурьма</th>
                    <th>Отстои</th>
                </tr>
            </thead>
            <tbody>
            {% for item in table.rows %}
            <tr>
                <th scope="row">{{item.title}}</th>
                {% for value in item.values %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <th colspan="1">Ситовой огарка</th>
                <td>5</td>
                <td>6</td>
                <td>3</td>
                <td>3</td>
                <td>4.9</td>
                <th colspan="2">Ситовой Огарка средний</th>
                <td>4.7</td>
            </tr>
            <tr>
                <th colspan="2">Общее Fe среднее</th>
                <td colspan="2">1790</td>
                <th colspan="3">Fe стружка Fe</th>
                <td colspan="3">3,5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>