{% load i18n %}
<div class="x_panel">
    <div class="x_title notitle">
        <h2>BCHC</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="3" class="rotate"><div><span>{% trans "Время" %}</span></div></th>
                    <th colspan="10" >{% trans "BCHC" %}</th>
                    <th colspan="5" >{% trans "Ларокс" %}</th>
                    <th colspan="7" >{% trans "Очищенный раствор" %}</th>
                    <th colspan="6" >{% trans "Упр. Несоответствия продукции" %}</th>
                </tr>
                <tr>
                    {% for subColumn in table.level2 %}
                    <th class="rotate">
                        <div>
                            <span>{{subColumn|safe}}</span>
                        </div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dt, row in table.data.items %}
                <tr class="mini">
                    <td>{{dt.time |date:"H"}}<sup>00</sup></td>
                    <td>{{row.lshs.co |floatformat:2}}</td>
                    <td>{{row.lshs.sb |floatformat:2}}</td>
                    <td>{{row.lshs.cu_st1 |floatformat:2}}</td>
                    <td>{{row.lshs.cd |floatformat:2}}</td>
                    <td>{{row.lshs.solid_st1 |floatformat:2}}</td>
                    <td>{{row.lshs.ph |floatformat:2}}</td>
                    <td>{{row.lshs.fe |floatformat:2}}</td>
                    <td>{{row.lshs.arsenic |floatformat:2}}</td>
                    <td>{{row.lshs.solid |floatformat:2}}</td>
                    <td>{{row.lshs.density |floatformat:2}}</td>

                    <td>{{row.larox.co |floatformat:2}}</td>
                    <td>{{row.larox.sb |floatformat:2}}</td>
                    <td>{{row.larox.cd |floatformat:2}}</td>
                    <td>{{row.larox.ph |floatformat:2}}</td>
                    <td>{{row.larox.solid |floatformat:2}}</td>

                    <td>{{row.purified.co |floatformat:2}}</td>
                    <td>{{row.purified.sb |floatformat:2}}</td>
                    <td>{{row.purified.cu |floatformat:2}}</td>
                    <td>{{row.purified.cd |floatformat:2}}</td>
                    <td>{{row.purified.fe |floatformat:2}}</td>
                    <td>{{row.purified.current |floatformat:2}}</td>
                    <td>{{row.purified.density |floatformat:2}}</td>

                    <td>{{row.prod_correction.norm |floatformat:2}}</td>
                    <td>{{row.prod_correction.fact |floatformat:2}}</td>
                    <td>{{row.prod_correction.error |floatformat:2}}</td>
                    <td>{{row.prod_correction.correction}}</td>
                    <td>{{row.prod_correction.verified }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>