{% load i18n %}
<style>
    td { text-align: center; }

    tr.mini td {
        font-size: 10px;
    }
</style>
<div class="x_panel">
    <div class="x_title">
        <h2>{% trans "Цинковая пульпа" %}</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3">{% trans "Цинковая (Zn) пульпа " %}</th>
                    <th colspan="4">{% trans "Медная пульпа" %}</th>
                    <th colspan="8">{% trans "Железистый раствор" %}</th>
                    <th colspan="1">{% trans "Концентрат Sb в р-ре соли Шлиппе" %}</th>
                    <th colspan="1">{% trans "Активн. ПАВ" %}</th>
                    <th colspan="1">{% trans "Высоко Fe р-р" %}</th>
                </tr>
                <tr>
                    <th>{% trans "Ж:Т" %}</th>
                    <th>pH</th>
                    <th>t°</th>
                    <th>{% trans "Ж:Т" %}</th>
                    <th>{% trans "До" %}</th>
                    <th>{% trans "После" %}</th>
                    <th>ТВ</th>
                    <th>H<sub>2</sub>SO<sub>4</sub></th>
                    <th>ТВ</th>
                    <th>Sb</th>
                    <th>Cu</th>
                    <th>Fe</th>
                    <th>уд. вес</th>
                    <th>As</th>
                    <th>Cl</th>
                    <td>{{table.data.second.shlippe_sb |floatformat:2}}</td>
                    <td>{{table.data.second.activ_sas |floatformat:2}}</td>
                    <td>{{table.data.second.fe_hi1 |floatformat:2}}</td>
                </tr>
            </thead>
            <tbody>
            {% for dt, row in table.data.first.items %}
            <tr class="mini">
                <td>{{row.zn_pulp.liq_sol |floatformat:2}}:1</td>
                <td>{{row.zn_pulp.ph |floatformat:2}}</td>
                <td>{{row.zn_pulp.t0 |floatformat:2}}</td>

                <td>{{row.cu_pulp.liq_sol |floatformat:2}}</td>
                <td>{{row.cu_pulp.before |floatformat:2}}</td>
                <td>{{row.cu_pulp.after |floatformat:2}}</td>
                <td>{{row.cu_pulp.solid |floatformat:2}}</td>

                <td>{{row.fe_sol.h2so4 |floatformat:2}}</td>
                <td>{{row.fe_sol.solid |floatformat:2}}</td>
                <td>{{row.fe_sol.sb |floatformat:2}}</td>
                <td>{{row.fe_sol.cu |floatformat:2}}</td>
                <td>{{row.fe_sol.fe |floatformat:2}}</td>
                <td>{{row.fe_sol.density |floatformat:2}}</td>
                <td>{{row.fe_sol.arsenic |floatformat:2}}</td>
                <td>{{row.fe_sol.cl |floatformat:2}}</td>
                {% if row.num == 0 %}
                <th colspan="2">{% trans "Анализы оборот. сгуст." %}</th>
                <td rowspan="5" >{{table.data.second.fe_hi2 |floatformat:2}}</td>
                {% elif row.num == 1 %}
                <td colspan="2" rowspan="4">{{table.data.second.circulation_denser}}</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>