<style>
    td { text-align: center; }
</style>
<div class="x_panel">
    <div class="x_title">
        <h2>Цинковая пульпа</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="3">Цинковая (Zn) пульпа </th>
                    <th colspan="4">Медная пульпа</th>
                    <th colspan="8">Железистый раствор</th>
                    <th colspan="1">Концентрат Sb в р-ре соли Шлиппе</th>
                    <th colspan="1">Активн. ПАВ</th>
                    <th colspan="1">Высоко Fe р-р</th>
                </tr>
                <tr>
                    <th>Ж:Т</th>
                    <th>pH</th>
                    <th>t°</th>
                    <th>Ж:Т</th>
                    <th>До</th>
                    <th>После</th>
                    <th>ТВ</th>
                    <th>H<sub>2</sub>SO<sub>4</sub></th>
                    <th>ТВ</th>
                    <th>Sb</th>
                    <th>Cu</th>
                    <th>Fe</th>
                    <th>уд. вес</th>
                    <th>As</th>
                    <th>Cl</th>
                    <td>{% firstof table.data.items as x %} {{x}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            {% for dt, row in table.data.items %}
            <tr>
                <td>{{row.zn_pulp.liq_sol}}</td>
                <td>{{row.zn_pulp.ph |floatformat:2}}</td>
                <td>{{row.zn_pulp.t0 |floatformat:2}}</td>

                <td>{{row.cu_pulp.liq_sol |floatformat:2}}</td>
                <td>{{row.cu_pulp.before |floatformat:2}}</td>
                <td>{{row.cu_pulp.after |floatformat:2}}</td>
                <td>{{row.cu_pulp.solid |floatformat:2}}</td>

                <td>{{row.fe_sol.h2so4 |floatformat:2}}</td>
                <td>{{row.fe_sol.solid |floatformat:2}}</td>
                <td>{{row.fe_sol.sb |floatformat:2}}</td>
                <td>{{row.fe_sol.cu |floatformat:2}}</td>
                <td>{{row.fe_sol.fe |floatformat:2}}</td>
                <td>{{row.fe_sol.density |floatformat:2}}</td>
                <td>{{row.fe_sol.arsenic |floatformat:2}}</td>
                <td>{{row.fe_sol.cl |floatformat:2}}</td>
                <th colspan="2">Анализы оборот. сгуст.</th>
                <td rowspan="5" >-</td>
            </tr>
            {% endfor %}
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td colspan="2" rowspan="4"></td>
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>


            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>

            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>