{% load i18n %}
<div class="x_panel">
    <div class="x_title notitle">
        <h2>{{table.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">
        <table class="table table-bordered">
            <thead>
            <tr>
                {% for num, columnName in table.columns.items %}
                    {% if num == '2' %}
                    <th colspan="2" >{{columnName |safe}}</th>
                    {% else %}
                    <th>{{columnName |safe}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for num, item in table.data.items %}
                <td>{{item.value}}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>

    </div>
</div>