{% load i18n %}
<style>
    .table-electrolysis tr:nth-child(-n+2) td { font-size: 10px;  }
    .table-electrolysis th { vertical-align: middle !important; }
</style>
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">
        <table class="table table-bordered table-electrolysis">
            <thead>
            <tr>
                <th colspan="2"></th>
                {% for num, item in table.data.series.items %}
                    <th>{{item.series}} {% trans "серия" %}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th rowspan="2" >{{table.rowCaptions.0}}</th>
                    <th>7<sup>00</sup></th>
                    {% for num, item in table.data.series.items %}
                    <td>{{item.loads1}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>12<sup>00</sup></th>
                    {% for num, item in table.data.series.items %}
                    <td>{{item.loads2}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th colspan="2">{{table.rowCaptions.1}}</th>
                    {% for num, item in table.data.series.items %}
                    <td>{{item.counter}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th colspan="2">{{table.rowCaptions.2}}</th>
                    {% for num, item in table.data.series.items %}
                    <td>{{item.bunkers_weltz}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th colspan="2">{{table.rowCaptions.3}}</th>
                    {% for num, item in table.data.series.items %}
                    <td>{{item.silos_furnace}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th colspan="2">{{table.rowCaptions.4}}</th>
                    {% for num, item in table.data.series.items %}
                    <td>{{item.bunkers_furnace}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td colspan="2">{% trans "Комментарий" %}</td>
                    <td colspan="4">
                    {{table.data.comment}}
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>