


Поступление, расходы и остатки Zn концентратов


    <ul class="nav nav-tabs">
        {% for month in months %}
            <li class="nav-item">
                <a class="nav-link {% if month == cur_month %}active{% endif %}"
                   data-toggle="tab"
                   href="#{{ month|add:"_table" }}">{{ months|keyval:month }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for month in months %}
            <div class="tab-pane fade {% if month == cur_month %}active in{% endif %}" id={{ month|add:"_table" }}>
                {% for p_f in plan_or_fact %}
                    <div style="width: 50%; float:{% if p_f == 'plan' %}left{% else %}right{% endif %}">
                        <table class="table table-bordered elog-journal-table">
                            <thead>
                                <tr>
                                    <th> Конц. смт {% if p_f == 'plan' %} (по плану) {% else %} (по факту) {% endif %}</th>
                                    <th> Zn {% if p_f == 'plan' %} (по плану) {% else %} (по факту) {% endif %}</th>
                                    <th> Соотношение {% if p_f == 'plan' %} (по плану) {% else %} (по факту) {% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% with "concentrate__"|add:p_f|add:"__"|add:month as field_name %}
                                {% for_or_create _ in table_cells_data|longest_field %}
                                <tr v-for="(value, index) in data.rowsCount" class="indexed-line">

                                    <td><cell field-name="concentrate__"|add:p_f|add:"__"|add:month :row-index="index"></cell></td>
                                    <td><cell field-name="zn__"|add:p_f|add:"__"|add:month :row-index="index"></cell></td>
                                    <td><cell field-name="ratio__"|add:p_f|add:"__"|add:month :row-index="index"></cell></td>
                                </tr>
                                {% endfor_or_create %}
                                {% endwith %}
                            </tbody>
                        </table>
                        </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% block js %}
    <script>
    function getRedirectLink() {
        let date = $("#selected_month").val();
        let mode = $('input[name=mode]:checked').attr('id');

        return "/furnace/report_income_outcome_schieht?month=" + date + "&mode=" + mode;
    }

    $(document).ready(() => {
        $("input:radio").change(function (event) {
            window.location.href = getRedirectLink()
        });

        $("#selected_month").change((event) => {
            window.location.href = getRedirectLink()
        });

    });
    </script>

