


Какая-то таблица


<table class="table table-bordered elog-journal-table">
    <thead>
    <tr>
        <th> Концентрат</th>
        <th> План на СМТ</th>
        <th> План на 12 месяцев ГПП</th>
        <th> План на 12 месяцев ТПП</th>
        <th> Факт за 12 месяцев</th>
        <th> Отклонение от ТПП</th>
        <th> Отклонение от УПП</th>
        <th> Соотношение</th>
    </tr>
    </thead>
    <tbody>
    {% for_or_create _ in table_cells_data|longest_field %}
        <tr v-for="(value, index) in data.rowsCount" class="indexed-line">
            <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
            <td><cell field-name="concentrate" :row-index="index"></cell></td>
            <td><cell field-name="smt_plan" :row-index="index"></cell></td>
            <td><cell field-name="gpp_year_plan" :row-index="index"></cell></td>
            <td><cell field-name="tpp_year_plan" :row-index="index"></cell></td>
            <td><cell field-name="fact_year" :row-index="index"></cell></td>
            <td><cell field-name="tpp_dispersion" :row-index="index"></cell></td>
            <td><cell field-name="upp_deviation" :row-index="index"></cell></td>
            <td><cell field-name="ratio" :row-index="index"></cell></td>
        </tr>
    {% endfor_or_create %}
    </tbody>
</table>

