


Поставка цинковых концентратов


<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th class="th-number"> Конц. смт </th>
            <th class="th-number"> Zn </th>
        </tr>
    </thead>
    
    <tbody>
    {% for_or_create _ in table_cells_data|longest_field %}
        <tr v-for="(value, index) in data.rowsCount" class="indexed-line">

            <td><cell field-name="concentrate" :row-index="index"></cell></td>
            <td><cell field-name="zn" :row-index="index"></cell></td>
        </tr>
    {%  endfor_or_create %}
    </tbody>
</table>

