{% extends "table.html" %}
{% load express_tags %}

{% block title %}Учет поставок{% endblock %}

{% block table %}
<table class="table table-bordered elog-table">
    <thead>
        <tr>
            <th> Номер вагона </th>
            <th> Наименование концентрата </th>
            <th> Время подачи </th>

            <th> Время плановой уборки </th>
            <th> Время фактической уборки </th>

            <th> Время перепростоя </th>
            <th> Поступило контейнеров </th>
            <th> Поступило поддонов </th>
            <th> Поступило упоров </th>
            <th> Поступило скоб </th>
        </tr>
    </thead>
    <tbody>
        {% for_or_create _ in table_data.wagon_num %}
            <tr class="indexed-line">
                <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
                <td>{% include "value.html" with field_name="wagon_num" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="conc_num" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="supply_time" index=forloop.counter0 %}</td>

                <td>{% include "value.html" with field_name="plan_cleaning_time" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="fact_cleaning_time" index=forloop.counter0 %}</td>

                <td>{% include "value.html" with field_name="downtime" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="recieved_conc" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="recieved_beds" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="recieved_stops" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="recieved_braces" index=forloop.counter0 %}</td>
            </tr>
        {% endfor_or_create %}
    </tbody>
</table>
{% endblock %}
