{% load express_tags %}

{% with table_name="upper_fields" %}
    {% with table_data=full_data|table_keyval:table_name %}


    <form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
        <input hidden name="table_name" value="{{ table_name }}">
        <input hidden name="journal_page" value="{{ journal_page }}">
        <table class="table table-bordered">
            <tr>
                <th> Мастер </th>
                <th> Старший крановщик </th>
                <th> Склад </th>
                <th> Крановщик </th>
                <th> Стропальщик </th>
                <th> Дата </th>
                <th> Смена </th>
            </tr>

            <tr>
                <td>{% include "value.html" with field_name="master" index=0 %}</td>
                <td>{% include "value.html" with field_name="senior_crane_operator" index=0 %}</td>
                <td>{% include "value.html" with field_name="storage" index=0 %}</td>
                <td>{% include "value.html" with field_name="crane_operator" index=0 %}</td>
                <td>{% include "value.html" with field_name="sling_operator" index=0 %}</td>
                <td>{% include "value.html" with field_name="date" index=0 %}</td>
                <td>{% include "value.html" with field_name="shift" index=0 %}</td>
            </tr>

        </table>
    </form>

    {% endwith %}
{% endwith %}
