{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">{% trans "Цинковая (Zn) пульпа" %}</th>
                        <th colspan="4">{% trans "Медная пульпа" %}</th>
                        <th colspan="8">{% trans "Железистый раствор" %}</th>
                        <th colspan="1">{% trans "Концентрат Sb в р-ре соли Шлиппе" %}</th>
                        <th colspan="1">{% trans "Активн. ПАВ" %}</th>
                        <th colspan="1">{%  trans "Высоко Fe р-р" %}</th>
                    </tr>
                    <tr>
                        <th>{% trans "Ж:Т" %}</th>
                        <th>pH</th>
                        <th>t°</th>
                        <th>{% trans "Ж:Т" %}</th>
                        <th>{% trans "До" %}</th>
                        <th>{% trans "После" %}</th>
                        <th>{% trans "ТВ" %}</th>
                        <th>H<sub>2</sub>SO<sub>4</sub></th>
                        <th>{% trans "ТВ" %}</th>
                        <th>Sb</th>
                        <th>Cu</th>
                        <th>Fe</th>
                        <th>{% trans "уд. вес" %}</th>
                        <th>As</th>
                        <th>Cl</th>
                        <td><input class="form-control" type="text" name="shlippe_sb" value="" /></td>
                        <td><input class="form-control" type="text" name="activ_sas" value="" /></td>
                        <td><input class="form-control" type="text" name="fe_hi1" value="" /></td>
                    </tr>
                </thead>
                <tbody>

                <tr class="mini">
                    <td><input class="form-control" type="text" name="zn_pulp.liq_sol" value="0" /></td>
                    <td><input class="form-control" type="text" name="zn_pulp.ph" value="0" /></td>
                    <td><input class="form-control" type="text" name="zn_pulp.t0" value="0" /></td>

                    <td><input class="form-control" type="text" name="cu_pulp.liq_sol" value="0" /></td>
                    <td><input class="form-control" type="text" name="cu_pulp.before" value="0" /></td>
                    <td><input class="form-control" type="text" name="cu_pulp.after" value="0" /></td>
                    <td><input class="form-control" type="text" name="cu_pulp.solid" value="0" /></td>

                    <td><input class="form-control" type="text" name="fe_sol.h2so4" value="0" /></td>
                    <td><input class="form-control" type="text" name="fe_sol.solid" value="0" /></td>
                    <td><input class="form-control" type="text" name="fe_sol.sb" value="0" /></td>
                    <td><input class="form-control" type="text" name="fe_sol.cu" value="0" /></td>
                    <td><input class="form-control" type="text" name="fe_sol.fe" value="0" /></td>
                    <td><input class="form-control" type="text" name="fe_sol.density" value="0" /></td>
                    <td><input class="form-control" type="text" name="fe_sol.arsenic" value="0" /></td>
                    <td><input class="form-control" type="text" name="fe_sol.cl" value="0" /></td>

                    <th colspan="2">{% trans "Анализы оборот. сгуст." %}</th>
                    <td rowspan="5" >
                        <input class="form-control" type="text" name="fe_hi2" value="0" />
                    </td>
                </tr>
                <tr>
                    <td colspan="15"></td>
                    <td colspan="2" rowspan="4"><textarea class="form-control"  name="fe_circulation_denser" placeholder="some text..."></textarea></td>
                </tr>

                </tbody>
            </table>
            <input type="submit" class="btn btn-success" value={% trans "Сохранить" %} />
            </form>

    </div>
</div>




