{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content ">

        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal self_security">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered table-hover" v-if="tables.{{form.name}}.data">
                <thead>
                    <tr>
                        <th colspan="3">{% trans "Самоохрана" %}</th>
                    </tr>
                    <tr>
                        <th colspan="2">{% trans "Обход" %}</th>
                        <th rowspan="4">{% trans "Примечание" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="tables.{{form.name}}.data.items">
                        <td>9<sup>00</sup><input type="hidden" name="hour_1" value="9"> </td>
                        <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.notes['0'].note " name="note_1"> </td>
                        <td rowspan="3" v-if=""><textarea class="form-control" v-model="tables.{{form.name}}.data.items.bignote" name="bignote_1"></textarea></td>
                    </tr>
                    <tr v-if="tables.{{form.name}}.data.items">
                        <td>16<sup>00</sup><input type="hidden" name="hour_2" value="16"></td>
                        <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.notes['1'].note " name="note_2"> </td>
                    </tr>
                    <tr v-if="tables.{{form.name}}.data.items">
                        <td>18<sup>00</sup><input type="hidden" name="hour_3" value="18"></td>
                        <td><input class="form-control" type="text" v-model="tables.{{form.name}}.data.items.notes['2'].note " name="note_3"> </td>
                    </tr>
                </tbody>
            </table>
            <template v-if="tables.{{form.name}}.state == 'add' ">
                <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
            </template>
            <template v-if="tables.{{form.name}}.state == 'edit' ">
                <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
            </template>
            </form>

    </div>
</div>