<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal form-label-left">
              {% csrf_token %}

              {% for hidden_field in form.fields.hidden_fields %}
              {{ hidden_field }}
              {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="3" class="rotate"><div><span>Время</span></div></th>
                    <th colspan="10" >BCHC</th>
                    <th colspan="5" >Ларокс</th>
                    <th colspan="7" >Очищенный раствор</th>
                    <th colspan="6" >Упр. Несоответствия продукции</th>
                </tr>
                <tr>
                    {% for subColumn in form.columns %}
                    <th class="rotate">
                        <div>
                            <span>{{subColumn|safe}}</span>
                        </div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody v-if="tables.{{form.name}}.visible == 0">
                <tr class="mini"   v-for="(item, dt) in tables.{{form.name}}.data.items">
                        <td>[[dt |formatHour]]<sup>00</sup></td>
                        <template v-if="item.lshs">
                        <td>[[item.lshs.co |formatNumber]]</td>
                        <td>[[item.lshs.sb |formatNumber]]</td>
                        <td>[[item.lshs.cu |formatNumber]]</td>
                        <td>[[item.lshs.cd |formatNumber]]</td>
                        <td>[[item.lshs.solid_st1 |formatNumber]]</td>
                        <td>[[item.lshs.ph |formatNumber]]</td>
                        <td>[[item.lshs.fe |formatNumber]]</td>
                        <td>[[item.lshs.arsenic |formatNumber]]</td>
                        <td>[[item.lshs.solid |formatNumber]]</td>
                        <td>[[item.lshs.density |formatNumber]]</td>
                        </template>
                        <td>[[item.larox.co |formatNumber]]</td>
                        <td>[[item.larox.sb |formatNumber]]</td>
                        <td>[[item.larox.cd |formatNumber]]</td>
                        <td>[[item.larox.solid |formatNumber]]</td>
                        <td>[[item.larox.ph |formatNumber]]</td>

                        <td>[[item.purified.co |formatNumber]]</td>
                        <td>[[item.purified.sb |formatNumber]]</td>
                        <td>[[item.purified.cu |formatNumber]]</td>
                        <td>[[item.purified.cd |formatNumber]]</td>
                        <td>[[item.purified.fe |formatNumber]]</td>
                        <td>[[item.purified.current |formatNumber]]</td>
                        <td>[[item.purified.density |formatNumber]]</td>

                        <td>[[item.prod_correction.norm |formatNumber]]</td>
                        <td>[[item.prod_correction.fact |formatNumber]]</td>
                        <td>[[item.prod_correction.error |formatNumber]]</td>
                        <td>[[item.prod_correction.correction |formatNumber]]</td>

                </tr>
                </tbody>
            <tbody v-if="tables.{{form.name}}.visible == 1">
                {% for time in form.times %}
                <tr class="mini">
                    <td>{{time}}<sup>00</sup></td>
                    <td><input class="form-control" type="text" name="row.lshs.co_{{time}}" value="1" placeholder="" /></td>
                    <td><input class="form-control" type="text" name="row.lshs.sb_{{time}}" value="2" placeholder="" /></td>
                    <td><input class="form-control" type="text" name="row.lshs.cu_st1_{{time}}" value="3" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.lshs.cd_{{time}}" value="4" placeholder="" /></td>
                    <td><input class="form-control" type="text" name="row.lshs.solid_st1_{{time}}" value="5" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.lshs.ph_{{time}}" value="6" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.lshs.fe_{{time}}" value="7" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.lshs.arsenic_{{time}}" value="8" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.lshs.solid_{{time}}" value="9" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.lshs.density_{{time}}" value="10" placeholder="" /></td>

                    <td><input class="form-control" type="text" name="row.larox.co_{{time}}" value="11" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.larox.sb_{{time}}" value="12" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.larox.cd_{{time}}" value="13" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.larox.ph_{{time}}" value="14" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.larox.solid_{{time}}" value="15" placeholder=""/></td>

                    <td><input class="form-control" type="text" name="row.purified.co_{{time}}" value="16" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.purified.sb_{{time}}" value="17" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.purified.cu_{{time}}" value="18" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.purified.cd_{{time}}" value="19" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.purified.fe_{{time}}" value="20" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.purified.current_{{time}}" value="220" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.purified.density_{{time}}" value="21" placeholder=""/></td>

                    <td><input class="form-control" type="text" name="row.prod_correction.norm_{{time}}" value="22" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.prod_correction.fact_{{time}}" value="23" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.prod_correction.error_{{time}}" value="24" placeholder=""/></td>
                    <td><input class="form-control" type="text" name="row.prod_correction.correction_{{time}}" value="25" placeholder=""/></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        </form>
        <button class="btn btn-success" v-if="tables.{{form.name}}.visible == 1" v-on:click="savePostForm('{{form.name}}')">Сохранить</button>
    </div>
</div>




