<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content empty_tanks">
        <form name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Ёмкости</th>
                    <th>Пред.<br>замеры</th>
                    <th>Текущ.<br>замеры</th>
                    <th>Отклонение</th>
                </tr>
                {% for num, item in form.data.items %}
                <tr>
                    <th>{{num}}</th>
                    <th class="empty_tanks__name">{{item.tank_name}}<input type="hidden" class="form-control" value="{{item.tank_name}}" name="tank_name__{{num}}" /></th>
                    <td><input type="text" class="form-control" value="" name="prev_measure__{{num}}" /></td>
                    <td><input type="text" class="form-control" value="" name="cur_measure__{{num}}" ></td>
                    <td><input type="text" class="form-control" value="" name="deviation__{{num}}" ></td>
                </tr>
                {% endfor %}
            </thead>
            </table>

            <input type="submit" class="btn btn-success" value="Сохранить" />
            </form>
    </div>
</div>