{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content shift_info">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered table-electrolysis">
            <thead>
            <tr>
                <th colspan="2"></th>
                <th>{% trans "I серия" %}</th>
                <th>{% trans "II серия" %}</th>
                <th>{% trans "III серия" %}</th>
                <th>{% trans "IV серия" %}</th>
            </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
                <tr>
                    <th rowspan="2" >{% trans "Нагрузки" %}</th>
                    <th>7<sup>00</sup></th>
                    <template v-if="tables.{{form.name}}.data.items">
                    <td v-for="(item, num) in tables.{{form.name}}.data.items.series">
                        <input class="form-control" type="number"  name="loads1_1" v-model="item.loads1"/>
                    </td>
                    </template>
                </tr>
                <tr>
                    <th>12<sup>00</sup></th>
                    <template v-if="tables.{{form.name}}.data.items">
                    <td v-for="(item, num) in tables.{{form.name}}.data.items.series">
                        <input class="form-control" type="number" v-model="item.loads2" name="loads2_1"/>
                    </td>
                    </template>
                </tr>
                <tr>
                    <th colspan="2">{% trans "Показания счётчика" %}</th>
                    <template v-if="tables.{{form.name}}.data.items">
                    <td v-for="(item, num) in tables.{{form.name}}.data.items.series">
                        <input class="form-control" type="number" v-model="item.counter" name="counter_1"/>
                    </td>
                    </template>
                </tr>
                <tr>
                    <th colspan="2">{% trans "Бункера ЦВЦО" %}</th>
                    <template v-if="tables.{{form.name}}.data.items">
                    <td v-for="(item, num) in tables.{{form.name}}.data.items.series">
                        <input class="form-control" type="number" v-model="item.bunkers_weltz" name="bunkers_weltz_1"/>
                    </td>
                    </template>
                </tr>
                <tr>
                    <th colspan="2">{% trans "Силоса ОЦ" %}</th>
                    <template v-if="tables.{{form.name}}.data.items">
                    <td v-for="(item, num) in tables.{{form.name}}.data.items.series">
                        <input class="form-control" type="number" v-model="item.silos_furnace" name="silos_furnace_1"/>
                    </td>
                    </template>
                </tr>
                <tr>
                    <th colspan="2">{% trans "Бункера ОЦ" %}</th>
                    <template v-if="tables.{{form.name}}.data.items">
                    <td v-for="(item, num) in tables.{{form.name}}.data.items.series">
                        <input class="form-control" type="number" v-model="item.bunkers_furnace" name="bunkers_furnace_1"/>
                    </td>
                    </template>
                </tr>
                <tr>
                    <td colspan="2">{% trans "Комментарий" %}</td>
                    <td colspan="4" >
                        <input class="form-control" type="text" v-model="tables.{{form.name}}.comment" name="comment"/>
                    </td>
                </tr>
            </tbody>
        </table>
            <template v-if="tables.{{form.name}}.state == 'add' ">
                <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
            </template>
            <template v-if="tables.{{form.name}}.state == 'edit' ">
                <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
            </template>
        </form>
    </div>
</div>