{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content shift_info">
        <form name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <td></td>
                        <th>{% trans "Г" %}</th>
                        <th>{% trans "Х" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% trans "ВИУ " %}1</td>
                        <td><input class="form-control" name="veu_hot_1" value=""></td>
                        <td><input class="form-control" name="veu_cold_1" value=""></td>
                    </tr>
                    <tr>
                        <td>{% trans "ВИУ " %}2</td>
                        <td><input class="form-control" name="veu_hot_2" value=""></td>
                        <td><input class="form-control" name="veu_cold_2" value=""></td>
                    </tr>
                    <tr>
                        <td>{% trans "ВИУ " %}3</td>
                        <td><input class="form-control" name="veu_hot_3" value=""></td>
                        <td><input class="form-control" name="veu_cold_3" value=""></td>
                    </tr>
                </tbody>
            </table>

            <input type="submit" class="btn btn-success" value={% trans "Сохранить" %}/>
            </form>
    </div>
</div>