{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal form-label-left">
              {% csrf_token %}

              {% for hidden_field in form.fields.hidden_fields %}
              {{ hidden_field }}
              {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered">
            <thead>
            <tr>
                {% for columnName in form.columns %}
                <th>{{columnName}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                <tr v-for="item in tables.{{form.name}}.data.items">
                    <th scope="row">[[item.num]]</th>
                    <td><input class="form-control" type="text" name="row{{num}}.cd" v-model="item.cd"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.cu" v-model="item.cu"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.co" v-model="item.co"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.sb" v-model="item.sb"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.fe" v-model="item.fe"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.vt" v-model="item.vt"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.density" v-model="item.density"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.norm" v-model="item.norm"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.fact" v-model="item.fact"></td>
                    <td><input class="form-control" type="text" name="row{{num}}.correction" v-model="item.correction"></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
            <template v-if="tables.{{form.name}}.state == 'add' ">
                <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
            </template>
            <template v-if="tables.{{form.name}}.state == 'edit' ">
                <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
            </template>
            </form>

    </div>
</div>




