<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal form-label-left">
              {% csrf_token %}

              {% for hidden_field in form.fields.hidden_fields %}
              {{ hidden_field }}
              {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="3" class="rotate"><div><span>Время</span></div></th>
                    <th colspan="10" >BCHC</th>
                    <th colspan="5" >Ларокс</th>
                    <th colspan="7" >Очищенный раствор</th>
                    <th colspan="6" >Упр. Несоответствия продукции</th>
                </tr>
                <tr>
                    {% for subColumn in form.columns %}
                    <th class="rotate">
                        <div>
                            <span>{{subColumn|safe}}</span>
                        </div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody >
                <template v-if="tables.{{form.name}}.data">
                <tr class="mini" v-for="(item, hour) in tables.{{form.name}}.data.items">
                    <td><b>[[hour]]</b><sup>00</sup></td>
                    <template v-if="item.lshs">
                            <td>[[item.lshs.co |formatNumber]]</td>
                            <td>[[item.lshs.sb |formatNumber]]</td>
                            <td>[[item.lshs.cu |formatNumber]]</td>
                            <td>[[item.lshs.cd |formatNumber]]</td>
                            <td>[[item.lshs.solid_st1 |formatNumber]]</td>
                            <td>[[item.lshs.ph |formatNumber]]</td>
                            <td>[[item.lshs.fe |formatNumber]]</td>
                            <td>[[item.lshs.arsenic |formatNumber]]</td>
                            <td>[[item.lshs.solid |formatNumber]]</td>
                            <td>[[item.lshs.density |formatNumber]]</td>
                    </template>

                    <template v-if="item.larox">
                        <td>[[item.larox.co |formatNumber]]</td>
                        <td>[[item.larox.sb |formatNumber]]</td>
                        <td>[[item.larox.cd |formatNumber]]</td>
                        <td>[[item.larox.solid |formatNumber]]</td>
                        <td>[[item.larox.ph |formatNumber]]</td>
                    </template>

                    <template v-if="item.purified">
                        <td>[[item.purified.co |formatNumber]]</td>
                        <td>[[item.purified.sb |formatNumber]]</td>
                        <td>[[item.purified.cu |formatNumber]]</td>
                        <td>[[item.purified.cd |formatNumber]]</td>
                        <td>[[item.purified.fe |formatNumber]]</td>
                        <td>[[item.purified.current |formatNumber]]</td>
                        <td>[[item.purified.density |formatNumber]]</td>
                    </template>

                    <template v-if="item.prod_correction">
                        <td>[[item.prod_correction.norm |formatNumber]]</td>
                        <td>[[item.prod_correction.fact |formatNumber]]</td>
                        <td>[[item.prod_correction.error |formatNumber]]</td>
                        <td>[[item.prod_correction.correction |formatNumber]]</td>
                    </template>
                </tr>
                </template>
            </tbody>
            <tbody >

                <template v-if="tables.{{form.name}}.rows">
                    <tr class="mini"  v-for="(row, key) in tables.{{form.name}}.rows">
                        <template v-if="row.info">
                            <td><b>[[row.hour]]</b><sup>00</sup>
                                <input class="form-control" type="hidden" v-bind:name="'time_'+row.hour"  v-bind:value="row.hour"  />
                            </td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.co_'+row.hour"  v-bind:value="row.info.lshs.co" placeholder="" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.sb_'+row.hour" v-bind:value="row.info.lshs.sb" placeholder="" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.cu_'+row.hour" v-bind:value="row.info.lshs.cu" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.cd_'+row.hour" v-bind:value="row.info.lshs.cd" placeholder="" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.solid_st1_'+row.hour" v-bind:value="row.info.lshs.solid_st1" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.ph_'+row.hour" v-bind:value="row.info.lshs.ph" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.fe_'+row.hour" v-bind:value="row.info.lshs.fe" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.arsenic_'+row.hour" v-bind:value="row.info.lshs.arsenic" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.solid_'+row.hour" v-bind:value="row.info.lshs.solid" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.density_'+row.hour" v-bind:value="row.info.lshs.density" placeholder="" /></td>

                            <td><input class="form-control" type="text" v-bind:name="'row.larox.co_'+row.hour" v-bind:value="row.info.larox.co" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.sb_'+row.hour" v-bind:value="row.info.larox.sb" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.cd_'+row.hour" v-bind:value="row.info.larox.cd" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.ph_'+row.hour" v-bind:value="row.info.larox.ph" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.solid_'+row.hour" v-bind:value="row.info.larox.solid" placeholder=""/></td>

                            <td><input class="form-control" type="text" v-bind:name="'row.purified.co_'+row.hour" v-bind:value="row.info.purified.co" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.sb_'+row.hour" v-bind:value="row.info.purified.sb" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.cu_'+row.hour" v-bind:value="row.info.purified.cu" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.cd_'+row.hour" v-bind:value="row.info.purified.cd" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.fe_'+row.hour" v-bind:value="row.info.purified.fe" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.current_'+row.hour" v-bind:value="row.info.purified.current" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.density_'+row.hour" v-bind:value="row.info.purified.density" placeholder=""/></td>

                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.norm_'+row.hour" v-bind:value="row.info.prod_correction.norm" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.fact_'+row.hour" v-bind:value="row.info.prod_correction.fact" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.error_'+row.hour" v-bind:value="row.info.prod_correction.error" placeholder=""/></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.correction_'+row.hour" v-bind:value="row.info.prod_correction.correction" /></td>
                        </template>
                        <template v-else >
                            <td><b>[[row.hour]]</b><sup>00</sup>
                                <input class="form-control" type="hidden" v-bind:name="'time_'+row.hour"    />
                            </td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.co_'+row.hour"   /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.sb_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.cu_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.cd_'+row.hour"  /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.solid_st1_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.ph_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.fe_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.arsenic_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.solid_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.lshs.density_'+row.hour"  /></td>

                            <td><input class="form-control" type="text" v-bind:name="'row.larox.co_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.sb_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.cd_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.ph_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.larox.solid_'+row.hour" /></td>

                            <td><input class="form-control" type="text" v-bind:name="'row.purified.co_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.sb_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.cu_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.cd_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.fe_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.current_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.purified.density_'+row.hour" /></td>

                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.norm_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.fact_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.error_'+row.hour" /></td>
                            <td><input class="form-control" type="text" v-bind:name="'row.prod_correction.correction_'+row.hour"  required /></td>
                        </template>
                    </tr>
                </template>
                <tr>
                    <td colspan="2">
                        <select id="{{form.name}}_new_row_time" class="form-control">
                            <option value="8">8:00</option>
                            <option value="10">10:00</option>
                            <option value="12">12:00</option>
                            <option value="14">14:00</option>
                            <option value="16">16:00</option>
                            <option value="18">18:00</option>
                            <option value="20">20:00</option>
                        </select>
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-success" v-on:click="addNewRow('{{form.name}}')"><i class="glyphicon glyphicon-plus"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        </form>
        <button class="btn btn-success"  v-on:click="savePostForm('{{form.name}}')">Сохранить</button>
    </div>
</div>




