{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{form.title}}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content empty_tanks">
        <form id="{{form.name}}" name="{{form.name}}" action="{{form.action}}" method="POST" class="form-horizontal">
            {% csrf_token %}

            {% for hidden_field in form.fields.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            <input type="hidden" name="shift_id" value="{{form.shift}}">

            <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Ёмкости" %}</th>
                    <th>{% trans "Пред." %}<br>{% trans "замеры" %}</th>
                    <th>{% trans "Текущ." %}<br>{% trans "замеры" %}</th>
                    <th>{% trans "Отклонение" %}</th>
                </tr>
                <tr v-for="(item, num) in tables.{{form.name}}.data.items">
                    <th>[[num]]</th>
                    <th class="empty_tanks__name">[[item.tank_name]]<input type="hidden" class="form-control" v-model="item.tank_name" name="tank_name" /></th>
                    <td><input type="text" class="form-control" v-model="item.prev_measure" name="prev_measure" /></td>
                    <td><input type="text" class="form-control" v-model="item.cur_measure" name="cur_measure" ></td>
                    <td><input type="text" class="form-control" v-model="item.deviation" name="deviation" ></td>
                </tr>
            </thead>
            </table>

            <template v-if="tables.{{form.name}}.state == 'add' ">
                <a v-on:click="addRecord('{{form.name}}')"  class="btn btn-success">{% trans "Добавить" %}</i></a>
            </template>
            <template v-if="tables.{{form.name}}.state == 'edit' ">
                <a v-on:click="saveRecord('{{form.name}}')"  class="btn btn-success">{% trans "Сохранить изменения" %}</i></a>
            </template>
            </form>
    </div>
</div>