<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2"> Параметры</th>
            <th colspan="12" class="th-common"> Время замеров</th>
            <th rowspan="2"> Несоотвествия</th>
            <th rowspan="2"> Принятые меры</th>
        </tr>
        <tr v-if="shiftOrder === 1">
            <th 
                class="th-number"
                v-for="(hour, index) in ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00']"
            >{{hour}}</th>
        </tr>
        <tr v-if="shiftOrder === 2">
            <th 
                class="th-number"
                v-for="(hour, index) in ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00']"
            >{{hour}}</th>
    </thead>
    <tbody>
    <tr>
        <th> Zn в отр. <i class="units">г/л</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'zn' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="zninconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="znmeasures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Смеси <i class="units">г/л</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'zn_mixh2so4' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="zn_mixh2so4inconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="zn_mixh2so4measures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> H₂SO₄ отр. <i class="units">г/л</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'solute1' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="solute1inconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="solute1measures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Удельный вес хол-го раствора <i class="units">г/см³</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'solute2' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="solute2inconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="solute2measures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Удельный вес отр-го раствора <i class="units">г/см³</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'mixture_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="mixture_tempinconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="mixture_tempmeasures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Температура смеси <i class="units">ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'bath_temp' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="bath_tempinconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="bath_tempmeasures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Температура в ваннах <i class="units">ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'temp1' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="temp1inconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="temp1measures" row-index="0"></cell>
        </td>
    </tr>
    <tr>
        <th> Температура 1 <i class="units">ᵒC</i></th>
        <td v-for="(hour, index) in shiftOrder === 1 ? 
            ['8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00'] 
            : shiftOrder === 2 ? 
            ['20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00'] 
            : ['', '', '', '', '', '', '', '', '', '', '', '']">
            <cell :field-name="'temp2' + hour" :row-index="index"></cell>
        </td>
        <td>
            <cell field-name="temp2inconsistencies" row-index="0"></cell>
        </td>
        <td>
            <cell field-name="temp2measures" row-index="0"></cell>
        </td>
    </tr>
    </tbody>
</table>
