/*------------------------------------*\
  # Messages / Notifications
\*------------------------------------*/
.messages {
  width: 100%;

  .messages__list {
    list-style: none;

    .message {
      border: 1px dotted #151515;
      margin-bottom: 20px;
      padding: 10px;

      .message__image {
        width: 30px;
        height: 30px;
      }

      .message__author-name { color: #a5a5a5; font-size: 12px; }
      .message__text { margin: 0; }
      .message__text.critical_value { color: red; }
      .message__created { color: #a5a5a5; font-size: 10px; }
    }

  }

}