{% extends "admin/base.html" %}

{% block title %}{{ title }} | E-logs{% endblock %}

{% block extrastyle %}
    <style>
        #header {
            background-color: rgb(0, 0, 0);
            color: white;
        }
        input[type=submit]{
            background-color: rgb(0, 0, 0);
            color: white;
        }
        #branding h1, #branding h1 a:link, #branding h1 a:visited {
            color: #ffffff;
        }
        .module h2, .module caption, .inline-group h2 {
            background: #4e4e4e;
            color: #fff;
        }
        div.breadcrumbs {
            background: #4e4e4e;
            padding: 10px 40px;
            border: none;
            font-size: 14px;
            color: #a5a5a5;
            text-align: left;
        }
        .button.default, input[type=submit].default, .submit-row input.default {
            float: right;
            border: none;
            font-weight: 400;
            background: #4e4e4e;
        }
        .button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
            background: #a5a5a5;
        }
        .button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
            background: #4e4e4e;
        }
        .object-tools a:focus, .object-tools a:hover {
            background-color: #a5a5a5;
        }
    </style>
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Администрирование E-logs</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}