<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Выберите смену для редактирования. <br> В дальнейшем только вы сможете редактировать эту смену. </h4>
      </div>
      <div class="modal-body">

        <!-- datetime picker -->
        <div id="datepicker" data-date="12/03/2012"></div>
        <input type="hidden" id="my_hidden_input">
        <!-- end datetime picker -->

        <!--Checkbox butons-->
        <div style="margin-top: 50px" class="col-md-12 btn-group" data-toggle="buttons">
          <label class="btn btn-default active form-check-label">
            <input class="form-check-input" type="radio" checked autocomplete="off"> Первая смена
          </label>

          <label class="btn btn-default form-check-label">
            <input class="form-check-input" type="radio" autocomplete="off"> Вторая смена
          </label>
        </div>
        <!--Checkbox butons-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отправить</button>
      </div>
    </div>

  </div>
</div>