<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Выберите смену для редактирования. <br> В дальнейшем только вы сможете редактировать эту
          смену. </h4>
      </div>
      <div class="modal-body">

        <!-- datetime picker -->
        <div id='shift_calendar'></div>
        <!-- end datetime picker -->
      </div>
    </div>

  </div>
</div>