{% extends "table.html" %}
{% load express_tags %}

{% block title %}Тестовая таблица{% endblock %}

{% block table %}
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{% include "value.html" with field_name="column1" index=0 %}</td>
            <td>{% include "value.html" with field_name="column2" index=0 %}</td>
            <td>{% include "value.html" with field_name="column3" index=0 %}</td>
        </tr>
    </tbody>
{% endblock %}