{% load express_tags %}

{% with table_name="big_table" %}

    {% debug %}

    <table>
        <tr>
            <th> {% fid wagon_num %} </th>
            <th> {% fid conc_num %} </th>
            <th> {% fid supply_time %} </th>
            <th> {% fid dispatch_time %} </th>
            <th> {% fid downtime %} </th>
            <th> {% fid recieved_conc %} </th>
            <th> {% fid recieved_beds %} </th>
            <th> {% fid recieved_stops %} </th>
            <th> {% fid recieved_braces %} </th>
        </tr>

        {% for row in table_data.array_fields %}
            <tr>
                <td> <input type="text" value={% fid row.wagon_num %}> </td>
                <td> <input type="text" value={% fid row.conc_num %}> </td>
                <td> <input type="text" value={% fid row.supply_time %}> </td>
                <td> <input type="text" value={% fid row.dispatch_time %}> </td>
                <td> <input type="text" value={% fid row.downtime %}> </td>
                <td> <input type="text" value={% fid row.recieved_conc %}> </td>
                <td> <input type="text" value={% fid row.recieved_beds %}> </td>
                <td> <input type="text" value={% fid row.recieved_stops %}> </td>
                <td> <input type="text" value={% fid row.recieved_braces %}> </td>
            </tr>
        {% endfor %}
        <tr class="newline">
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
                <td> <input type="text"> </td>
        </tr>
    </table>

{% endwith %}