{% load express_tags %}

{% with table_name="right_table" %}
    {% with table_data=full_data|table_keyval:table_name %}
    {% with table_info=fields_info|keyval:journal_name|keyval:table_name %}
    <form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)" class="row_of_tables">
        <input hidden name="table_name" value="{{ table_name }}">
        <input hidden name="journal_page" value="{{ journal_page }}">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2" colspan="3">
                        Установленные технологический режим<br>
                        H2SO4 <span class="table_header_input">{% include "value.html" with field_name="h2so4" index=0 %}</span><br>
                        Zn в отр. <span class="table_header_input">{% include "value.html" with field_name="zn" index=0 %}</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> Кол-во р-ра </th>
                    <th> Гор. бак, м3</th>
                    <th> Хол. бак, м3</th>
                </tr>

                <tr>
                    <th>ВИУ №1</th>
                    <td>{% include "value.html" with field_name="viu1_1"  index=0 %}</td>
                    <td>{% include "value.html" with field_name="viu1_2"  index=0 %}</td>
                </tr>

                <tr>
                    <th>ВИУ №2</th>
                    <td>{% include "value.html" with field_name="viu2_1"  index=0 %}</td>
                    <td>{% include "value.html" with field_name="viu2_2"  index=0 %}</td>
                </tr>

                <tr>
                    <th>ВИУ №3</th>
                    <td> {% include "value.html" with field_name="viu3_1"  index=0 %} </td>
                    <td>{% include "value.html" with field_name="viu3_2"  index=0 %}</td>
                </tr>

                <tr>
                    <th colspan="2">4 чан - {% include "value.html" with field_name="tank4"  index=0 %}</th>
                    <th>3 чан - {% include "value.html" with field_name="tank3"  index=0 %}</th>
                </tr>

                <tr>
                    <th colspan="2">5 чан - {% include "value.html" with field_name="tank5"  index=0 %}</th>
                    <th>4A чан - {% include "value.html" with field_name="tank4A"  index=0 %}</th>
                </tr>

                <tr>
                    <th> Примеси </th>
                    <th colspan="2"> мг/л </th>
                </tr>

                <tr>
                    <th> Cu </th>
                    <td colspan="2"> {% include "value.html" with field_name="cu1"  index=0 %}</td>
                </tr>

                <tr>
                    <th> Co </th>
                    <td colspan="2"> {% include "value.html" with field_name="co1" index=0 %}</td>
                </tr>
                <tr>
                    <th> Cd </th>
                    <td colspan="2"> {% include "value.html" with field_name="cd1" index=0 %}</td>
                </tr>
                <tr>
                    <th> Sb </th>
                    <td colspan="2"> {% include "value.html" with field_name="sb1" index=0 %}</td>
                </tr>
                <tr>
                    <th> Fe2+ </th>
                    <td colspan="2"> {% include "value.html" with field_name="fe2p1" index=0 %}</td>
                </tr>
                <tr>
                    <th> BT % </th>
                    <td colspan="2"> {% include "value.html" with field_name="bt1" index=0 %}</td>
                </tr>
                <tr>
                    <th> Уд. вес (ЦВМО) г/см3 </th>
                    <td colspan="2"> {% include "value.html" with field_name="weight1_1" index=0 %}</td>
                </tr>

                <tr>
                    <th> Уд. вес (5 чан) г/см3</th>
                    <td colspan="2"> {% include "value.html" with field_name="weight2_1" index=0 %}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">
                        В работе ВИУ – {% include "value.html" with field_name="viu_in" index=0 %}
                    </th>
                </tr>
                <tr>
                    <th colspan="2"> Насосы на прием смены </th>
                    <th colspan="2"> Насосы на окончание смены </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum1" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum2" index=0 %} </td>
                </tr>

                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum3" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum4" index=0 %} </td>
                </tr>

                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum5" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum6" index=0 %} </td>
                </tr>

                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum7" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum8" index=0 %} </td>
                </tr>

                <tr>
                    <th colspan="4" > Причина остановки насоса, принятые меры </th>
                </tr>

                <tr>
                    <td colspan="4" > {% include "value.html" with field_name="reason1" index=0 %} </td>
                </tr>

                <tr>
                    <th colspan="4"> Анализы чана № {% include "value.html" with field_name="tank_analisys" index=0 %} </th>
                </tr>

                <tr>
                    <th> Примеси </th>
                    <th colspan="3"> мг/л </th>
                </tr>

                <tr>
                    <th> Cu </th>
                    <td colspan="3"> {% include "value.html" with field_name="cu2"  index=0 %}</td>
                </tr>

                <tr>
                    <th> Co </th>
                    <td colspan="3"> {% include "value.html" with field_name="co2" index=0 %}</td>
                </tr>
                <tr>
                    <th> Cd </th>
                    <td colspan="3"> {% include "value.html" with field_name="cd2" index=0 %}</td>
                </tr>
                <tr>
                    <th> Sb </th>
                    <td colspan="3"> {% include "value.html" with field_name="sb2" index=0 %}</td>
                </tr>
                <tr>
                    <th> Fe2+ </th>
                    <td colspan="3"> {% include "value.html" with field_name="fe2p2" index=0 %}</td>
                </tr>

                <tr>
                    <th> Уд. вес г/см3 </th>
                    <td colspan="3"> {% include "value.html" with field_name="weight1_2" index=0 %}</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4">
                        Склад растворов
                    </th>
                </tr>
                <tr>
                    <th colspan="2"> Насосы на прием смены </th>
                    <th colspan="2"> Насосы на окончание смены </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum9" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum10" index=0 %} </td>
                </tr>

                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum11" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum12" index=0 %} </td>
                </tr>

                <tr>
                    <th colspan="4" > Причина остановки насоса, принятые меры </th>
                </tr>

                <tr>
                    <td colspan="4" > {% include "value.html" with field_name="reason2" index=0 %} </td>
                </tr>

                <tr>
                    <th colspan="4">
                        Насосы отработанного раствора
                    </th>
                </tr>
                <tr>
                    <th colspan="2"> Насосы на прием смены </th>
                    <th colspan="2"> Насосы на окончание смены </th>
                </tr>

                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum13" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum14" index=0 %} </td>
                </tr>

                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum15" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum16" index=0 %} </td>
                </tr>

                <tr>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum17" index=0 %} </td>
                    <th> Насос № </th> <td> {% include "value.html" with field_name="pumpnum18" index=0 %} </td>
                </tr>

                <tr>
                    <th colspan="4" > Причина остановки насоса, принятые меры </th>
                </tr>

                <tr>
                    <td colspan="4" > {% include "value.html" with field_name="reason2" index=0 %} </td>
                </tr>

                <tr>
                    <th colspan="4"> Зумпфоровые насосы </th>
                </tr>

                <tr>
                    <th colspan="4" > Причина остановки насоса, принятые меры </th>
                </tr>

                <tr>
                    <td colspan="4" > {% include "value.html" with field_name="reason2" index=0 %} </td>
                </tr>



            </tbody>
        </table>

    </form>
    {% endwith %}
    {% endwith %}
{% endwith %}

<script>
    $()
</script>
