- var items = ['Журнал 1', 'Журнал 2', 'Журнал 3', 'Журнал 4', 'Журнал 5', 'Журнал 6', 'Журнал 7'];
include ./tables.jade
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Flex example
    base(href='./')
    //- link(rel='stylesheet', href='outlines.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css')
    link(rel='stylesheet', href='css/index.css')
  body
    .elogs-container  
      include ./jade_components/header.jade
      .main-container
        .column-left
          .menu__panel
            .menu__title АНАЛИТИКА ЗАВОДА
            i.menu__toggle.fas.fa-bars
          .menu__logo
            i.fas.fa-sitemap
          ul.left-menu 
            each itemName in items
              li.left-menu__item 
                a(href="#") #{itemName}
                  span.fa.fa-chevron-down
                  span.arrow-left
                  
          
          include ./jade_components/colors-samples.jade
          
        .column-content  
          .journal-page
            .journal__panel
              include ./journal__panel.jade
            .journal-tables
              include ./table_examples.jade
              

              
  
