<div class="table__title">Нейтральные сгуситители</div>

<table class="table table-bordered elog-journal-table">
    <thead>
    <tr>
        <th>Нейтральные сгустители</th>
        <th v-for="(value, index) in 8">{{index}}</th>
        <th class="th-number">13</th>
    </tr>
    </thead>
    <tr>
        <th>Отстои<i class="units">см</i></th>

        <td v-for="(value, index) in 8"><cell field-name="sediment" :row-index="0"></cell></td>
        <td><cell field-name="sediment13" row-index="0"></cell></td>
    </tr>
    <tr>
        <th rowspan="2">Ж:Т (НС)</th>

        <td v-for="(value, index) in 8"><cell field-name="liquid_solid" :row-index="0"></cell></td>
        <td><cell field-name="liquid_solid13" row-index="0"></cell></td>
    </tr>
    <tr>
        <td v-for="(value, index) in 8"><cell field-name="liquid_solid" :row-index="0"></cell></td>
        <td><cell field-name="liquid_solid13" row-index="0"></cell></td>
    </tr>
</table>
