<ul class="nav nav-tabs" style="overflow-x: auto; display: -webkit-box; margin-bottom: 10px;">

    <li class="nav-item">
        <a data-toggle="tab" href="#January_table" class="nav-link active" aria-controls="January_table">Январь</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#February_table" class="nav-link" aria-controls="February_table">Февраль</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#March_table" class="nav-link" aria-controls="March_table">Март</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#April_table" class="nav-link" aria-controls="April_table">Апрель</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#May_table" class="nav-link" aria-controls="May_table">Май</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#June_table" class="nav-link" aria-controls="June_table">Июнь</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#July_table" class="nav-link" aria-controls="July_table">Июль</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#August_table" class="nav-link" aria-controls="August_table">Август</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#September_table" class="nav-link" aria-controls="September_table">Сентябрь</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#October_table" class="nav-link" aria-controls="October_table">Октябрь</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#November_table" class="nav-link" aria-controls="November_table">Ноябрь</a>
    </li>

    <li class="nav-item">
        <a data-toggle="tab" href="#December_table" class="nav-link" aria-controls="December_table">Декабрь</a>
    </li>

</ul>
<div class="tab-content">

    <div class="tab-pane fade show active" id="January_table">

        <div style="display: inline-block">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по плану)<i class="units">тонн</i></th>
                    <th> Соотношение (по плану)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount" class="indexed-line">

                    <td>
                        <cell field-name="concentrate__plan__January" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__January" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__January" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__January" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__January" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__January" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="February_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                    <tr>
                        <th> Конц. смт (по плану)</th>
                        <th> Zn (по плану)<i class="units">тонн</i></th>
                        <th> Соотношение (по плану)<i class="units">тонн</i></th>
                    </tr>
                </thead>
                <tbody>

                <tr v-for="(value, index) in rowsCount">
                    <td>
                        <cell field-name="concentrate__plan__February" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__February" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__February" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__February" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__February" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__February" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="March_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__March" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__March" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__March" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__March" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__March" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__March" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="April_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__April" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__April" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__April" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__April" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__April" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__April" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="May_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__May" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__May" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__May" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__May" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__May" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__May" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="June_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__June" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__June" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__June" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__June" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__June" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__June" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="July_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__July" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__July" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__July" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__July" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__July" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__July" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="August_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__August" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__August" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__August" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__August" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__August" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__August" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade in" id="September_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__September" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__September" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__September" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__September" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__September" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__September" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="October_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__October" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__October" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__October" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__October" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__October" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__October" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="November_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__November" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__November" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__November" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)</th>
                    <th> Соотношение (по факту)</th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__November" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__November" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__November" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade " id="December_table">

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по плану)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__plan__December" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__plan__December" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__plan__December" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

        <div style="display:inline-block;">
            <input class="index-input" hidden="" name="index" value="0">
            <table class="table table-bordered elog-journal-table">
                <thead>
                <tr>
                    <th> Конц. смт (по факту)</th>
                    <th> Zn (по факту)<i class="units">тонн</i></th>
                    <th> Соотношение (по факту)<i class="units">тонн</i></th>
                </tr>
                </thead>
                <tbody>


                <tr v-for="(value, index) in rowsCount">

                    <td>
                        <cell field-name="concentrate__fact__December" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="zn__fact__December" :row-index="index"></cell>
                    </td>
                    <td>
                        <cell field-name="ratio__fact__December" :row-index="index"></cell>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>

</div>
