<!DOCTYPE html>
<!-- {% load render_bundle from webpack_loader %}{% load cacheops %}
{% load cache %}{% load staticfiles %} -->
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="The worlds best electronic journaling system">
    <meta name="keywords" content="journals, e-logs">

{#    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico"/>#}
    <title>{% block title %} E-logs {% endblock %}</title>

    {% block css %}
        {% render_bundle 'index' 'css' %}
    {% endblock %}

    {% block extracss %}{% endblock %}
</head>

<body>
<div class="elogs-container">
    {% block top-nav %}
        {% include "top_nav.html" %}
    {% endblock %}

    <div class="main-container">
        <div class="column-left">
            {% include "menu.html" %}
        </div>
        <div class="column-content" id="elogs-app">
            <div class="journal-page" mode="{{ page_mode }}">
                {% block journal_panel %}
                    {% include "journal__panel.html" %}
                {% endblock %}
                <div class="journal-tables">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% include "footer.html" %}
        </div>
    </div>
</div>

{% include "popup.html" %}
{% include "modals/pick_shift.html" %}
{% block footer %}
{% render_bundle 'index' 'js' %}
{% render_bundle 'tables' 'js' %}
{#<script type="text/javascript" src="{% static 'webpack_bundles/tables.js' %}"></script>#}

{% endblock %}

</body>
</html>
