{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static '/images/favicon.ico' %}" type="image/ico"/>
    {% block title %}
        <title>Title</title>
    {% endblock %}

    {% block css %}
        <link href="{% static '/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{#        <link href="{% static '/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">#}
        <link href="{% static '/vendors/fullcalendar/dist/fullcalendar.css' %}" rel="stylesheet">
        <link href="{% static '/vendors/jquery-confirm/css/jquery-confirm.css' %}" rel="stylesheet">
        <link href="{% static '/vendors/pnotify/pnotify.custom.min.css' %}" rel="stylesheet">

        <!-- css all in one -->
        <link href="{% static '/build/css/index.css' %}" rel="stylesheet">

    {% endblock %}
    {% block extracss %}
    {% endblock %}
    <!-- jQuery -->
    <script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- underscore -->
    <script src="{% static 'vendors/underscore/underscore-min.js' %}"></script>
    <script src="{% static 'build/js/common.js' %}"></script>
    <!-- jquery-confirm -->
    <script src="{% static 'vendors/jquery-confirm/js/jquery-confirm.js' %}"></script>
    <script src="{% static 'vendors/jquery-align-column/js/jquery.align-column.js' %}"></script>

    <!-- Temp www todo: delete! -->
{#    <link rel="stylesheet" media="screen" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css"/>#}
{#    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}

</head>
<body class="nav-md">
<div class="elogs-container">
    {% block top-nav %}
        {% include "top_nav.html" %}
    {% endblock %}
    <div class="main-container">
        <div class="column-left">
            {% include "menu.html" %}
        </div>
        <div class="column-content">
          <div class="journal-page">
            {% include "journal__panel.html" %}
            <!-- -->
            <div class="journal-tables">
              {% block content %}
              {% endblock %}
            </div>
          </div>
          {% include "footer.html" %}
        </div>
      </div>
</div>


{% include "modals/pick_shift.html" %}
{% block footer %}

    <script language="JavaScript">
        $(document).ready(function () {
            var element = $('.journal_title'), originalY = element.offset().top;

            $(window).on('scroll', function (event) {
                var scrollPos = $(window).scrollTop();
                if (scrollPos > 0) {
                    element.addClass('sticky');
                }
                else {
                    element.removeClass('sticky');
                }

            });
        });

    </script>
    <!-- Bootstrap -->
    <script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'v/vue/vue.js' %}"></script>
    <script src="{% static 'v/vue/vue-resource.min.js' %}"></script>
    <script src="{% static 'v/moment/moment.min.js' %}"></script>
    <script src="{% static 'vendors/fullcalendar/dist/fullcalendar.js' %}"></script>
    <script src="{% static 'build/js/datepicker.js' %}"></script>
    <script src="{% static 'build/js/shift.js' %}"></script>
    <script src="{% static 'vendors/pnotify/pnotify.custom.min.js' %}"></script>
    <script src = "{% static 'build/js/menu.js' %}"></script>
{% endblock %}

</body>
</html>
