{% extends 'base_page.html' %}
{% load i18n %}

{% block title %}
    <title>{{ journal_title }}</title>
{% endblock %}

{% block css %}
   {{ block.super }}
{% endblock %}

{% block content %}

    <script language="JavaScript">

    $( document ).ready(function() {
        var element = $('.journal_title'), originalY = element.offset().top;

        $(window).on('scroll', function (event) {
            var scrollPos = $(window).scrollTop();
            if (scrollPos > 0) {
                element.addClass('sticky');
            }
            else {
                element.removeClass('sticky');
            }

        });
    });

    </script>

    <div class="content">
    {% include "widget.html" %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="/static/build/js/custom.js"></script>
    <script src="/static/build/js/form_update.js"></script>

{% endblock %}





