{% extends 'base_page.html' %}
{% load staticfiles %}

{% load i18n %}

{% block title %}
    <title>{{ journal_title }}</title>
{% endblock %}

{% block css %}
   {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content">
    {% include "widget.html" %}
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src = "{% static 'build/js/form-update.js' %}"></script>
    <script src = "{% static 'build/js/journal.js' %}"></script>
    <script src = "{% static 'build/js/form-table.js' %}"></script>
    <script src = "{% static 'build/js/cell.js' %}"></script>
    <script src = "{% static 'build/js/popup.js' %}"></script>
    <script src = "{% static 'build/js/feedback.js' %}"></script>

{% endblock %}





