{% include "header.html" %}
<div class="page-title">
    <div class="title_left">
      <h3>{{title}}</h3>
    </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" >
      <h3>Лист 1</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" >
    {% include "widgets/table-bchc.html" with table=bchc %}
  </div>
</div>

<div class="row">
  <div class="col-md-7 col-sm-7 col-xs-12" >
    {% include "widgets/table-densers.html" with table=sgustiteli %}
  </div>
</div>

<div class="row">
  <div class="col-md-7 col-sm-7 col-xs-12" >
    {% include "widgets/table-znpulp.html" with table=znpulp %}
  </div>
</div>


{% include "footer.html" %}
