
       {% include "header.html" %}


          <!-- top tiles -->
          {%  include "widgets/tile_count.html" %}
          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              {% include "widgets/dashboard_graph.html" %}
            </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                {% include "widgets/messages.html" %}
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                {% include "widgets/bar_chart.html" %}
              </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
              {% include "widgets/table.html" %}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              {% include "widgets/gauge.html" %}
            </div>
          </div>

        
        <!-- /page content -->
        <!-- footer content -->
        {% include "footer.html" %}
