{% load i18n %}
{% include "header.html" %}

{% if form_validate %}
<div id="app" class="validating">
{% else %}
<div id="app">
{% endif %}

<div class="page-title">
    <div class="title_left">
      <h3>{{title}}&nbsp;</h3>
    </div>
    <div class="date--right">
       <h4>{{info.data.date | date:"c"}}</h4>
        <a class="btn btn-info pull-right" href="?print"><i class="glyphicon glyphicon-print"></i>&nbsp;Print version</a>
    </div>
</div>

{% if not form_validate %}
<div class="col-md-12 col-sm-12 col-xs-12" >
  <h3>{% trans "Лист" %} 1 </h3>

  {% if shift.data.id is not None %}
  <a class="btn btn-success pull-right" href="/leaching/edit/wizard?shift={{shift.data.id}}"><i class="glyphicon glyphicon-edit"></i>&nbsp;Wizard</a>
  {% else %}
  <a class="btn btn-success pull-right" href="/leaching/edit/wizard"><i class="glyphicon glyphicon-edit"></i>&nbsp;Wizard</a>
  {% endif %}
</div>
{% endif %}

{% include "forms/form-shift-choice.html" with form=form_shift %}

<div class="pagewrapper">

<div class="tablewrapper">
    {% include "widgets/table-bchc.html" with table=bchc %}
</div>

<div class="tablewrapper">
    {% include "widgets/table-apparat.html" with table=apparat %}
</div>

<div class="tablewrapper">
    {% include "widgets/table-densers.html" with table=sgustiteli %}
</div>

<div class="tablewrapper">
    {% include "widgets/table-znpulp.html" with table=znpulp %}
</div>
<div class="tablewrapper" >
    {% include "widgets/table-agitators.html" with table=agitators %}
  </div>
</div>

{% include "widgets/shift.html" with shift=info %}

<div class="pagewrapper">
    <div class="tablewrapper">
        {% include "widgets/table-cinder.html" with table=cinder %}
    </div>

<div class="tablewrapper">
    {% include "widgets/table-baki.html" with table=baki %}
</div>

<div class="tablewrapper">
    {% include "widgets/table-neutral.html" with table=neutral %}
</div>

<div class="tablewrapper">
    {% include "widgets/table-electrolysis.html" with table=electrolysis %}
</div>

<div class="tablewrapper">
    {% include "widgets/table-empty-containers.html" with table=empty_containers %}
</div><!--

--><div class="tablewrapper">
    {% include "widgets/table-schiehta.html" with table=schiehta %}
</div>

  <div class="tablewrapper">
    {% include "widgets/table-reagents.html" with table=reagents %}
  </div>


<div class="tablewrapper">
    {% include "widgets/table-simple.html" with table=probnik %}
  </div>
<div class="tablewrapper">
    {% include "widgets/table-neutral-densers.html" with table=neutral_densers %}
</div>

<div class="tablewrapper">
    {% include "widgets/table-security.html" with table=security %}
</div>
</div>

{% if form_validate %}
{% include "widgets/form-validate.html" with form=form_validate %}
{% endif %}

</div>


{% include "footer.html" %}
