<div class="journal__panel">
    <div class="date-selector">
        <label>Выберите дату и смену</label>
        <input type="text"
               class="date-selector__date"
               id="shift_field"
               value="{{ shift_date }}, {{ shift_order }}-ая смена"
               placeholder="Выберите дату..."
               onclick="Shift.showCalendar()"
               data-toggle="modal"
               data-target="#myModal"
        >
    </div>
    <div class="mode-buttons">
        <button class="btn" onclick="JournalPanel.changeMode('view')" >Просмотр</button>
        <button class="btn" onclick="JournalPanel.changeMode('edit')">Редактирование</button>
        <button class="btn" onclick="JournalPanel.changeMode('validate')">Валидация</button>
    </div>
</div>
