{% load i18n %}
{% include "header.html" %}

<div id="app">

<div class="page-title">
    <div class="title_left">
      <h3>{{title}}</h3>
    </div>
    <div class="date--right">
       <h4>{{info.data.date | date:"c"}}</h4>
    </div>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" >
      <h3>{% trans "Лист" %} 1 </h3>
      {% if shift.data.id is not None %}
      <a class="btn btn-success pull-right" href="/leaching/all/edit?shift={{shift.data.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
      {% else %}
      <a class="btn btn-success pull-right" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
      {% endif %}
  </div>
</div>

{% include "forms/form-shift-choice.html" with form=form_shift %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" >
    {% include "widgets/table-bchc.html" with table=bchc %}
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-7 col-sm-7 col-xs-12" >
    {% include "widgets/table-densers.html" with table=sgustiteli %}
  </div>
    <div class="col-md-5 col-sm-5 col-xs-12" >
    {% include "widgets/table-apparat.html" with table=apparat %}
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12" >
    {% include "widgets/table-znpulp.html" with table=znpulp %}
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12" >
    {% include "widgets/table-agitators.html" with table=agitators %}
  </div>
</div>

<hr>
{% include "widgets/shift.html" with shift=info %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12" >
    {% include "widgets/table-baki.html" with table=baki %}
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12" >
    {% include "widgets/table-neutral.html" with table=neutral %}
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12" >
    {% include "widgets/table-electrolysis.html" with table=electrolysis %}
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12" >
    {% include "widgets/table-empty-containers.html" with table=empty_containers %}
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    {% include "widgets/table-schiehta.html" with table=schiehta %}
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    {% include "widgets/table-reagents.html" with table=reagents %}
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12" >
    {% include "widgets/table-simple.html" with table=probnik %}
  </div>
</div>
<div class="row">
  <div >
    {% include "widgets/table-neutral-densers.html" with table=neutral_densers %}
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    {% include "widgets/table-schiehta.html" with table=schiehta %}
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12" >
    {% include "widgets/table-security.html" with table=security %}
  </div>
</div>



{% include "footer.html" %}
