{% load i18n %}
<br/>
<h3>{% trans "Аналитика завода" %}</h3>
<ul class="nav side-menu">
  <li><a><i class="fa fa-sitemap"></i>{% trans "Список цехов" %}<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <!--<li><a href="#level1_1">Обжиг</a>-->
        <li><a>{% trans "Выщелачивание" %}<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
              <li class="sub_menu"><a href="/leaching/journal">{% trans "Журнал экспресс анализа" %}</a></li>
              <li class="sub_menu"><a href="/leaching/repair">{% trans "Журнал по ремонту оборудования" %}</a></li>
          </ul>
        </li>
        <!--<li><a href="/electrolysis/main">Электролиз</a></li>-->
        <!--<li><a href="/electrolysis/edit">Электролиз Edit</a></li>-->
    </ul>
  </li>
</ul>
