<ul class="nav side-menu">
  <li><a><i class="fa fa-sitemap"></i>Список цехов<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li><a href="#level1_1">Обжиг</a>
        <li><a>Выщелачивание<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li class="sub_menu"><a href="/leaching/jea">Журнал экспресс анализа</a></li>
            <li><a href="/leaching/ju">Журнал учёта</a></li>
            <li><a href="/leaching/jrk">Журнал расхода кислоты</a></li>
          </ul>
        </li>
        <li><a href="/electrolysis/">Электролиз</a>
        </li>
    </ul>
  </li>
</ul>
