
<div class="table__comment">
    <a href="javascript:;" onclick="Comment.collapse(this)" >Комментарий </a>
    <i class="fas fa-envelope ico-comment"></i>
    <div class="comment__text collapse ">
        <textarea class="table-comment"
                  name="comment"
                  table-name="{{ table_name }}"
                  journal-page="{{ journal_page }}"
                  oninput="FormTable.onInput(this)"
                  placeholder="Комментарий..."
                  {% if page_mode == 'view'  or page_mode == 'validate' %}
                    readonly="readonly"
                  {% endif %}
        >{{ comment }}</textarea>
    </div>
</div>
