
<div>
    <span onclick="CollapseComment(this)" class="btn btn-primary table-comment-button">Коментарий</span>
    <div class="collapse table-comment-wrapper">
        <textarea class="table-comment" name="comment" oninput="$('#sync').hide();$('#async').show();"
                  placeholder="Коментарий..."
                  {% if page_mode == 'view'  or page_mode == 'validate' %}
                    readonly="readonly"
                  {% endif %}
        >{{ comment }}</textarea>
    </div>
</div>
