{% load express_tags %}

{% set_global_context 'table_cells_data' journal_cells_data|keyval:table_name %}
{% set_global_context 'table_fields_descriptions' journal_fields_descriptions|keyval:table_name %}

<div class="journal-table" id="table_id_{{ table_name }}">
    <div class="table__title">{% block title %}{% endblock %}</div>
    <form action="" method="post" autocomplete="off"
          oninput="FormTable.on_form_change(this)"
          class="{% block form_class %}{% endblock %} elog-table-form">

        <input hidden name="table_name" value="{{ table_name }}">
        <input hidden name="journal_page" value="{{ journal_page }}">

        {% block additional_upper %}{% endblock %}

        <div class="elog-table-container">
            {% block table %}{% endblock %}
        </div>

        {% block additional_lower %}{% endblock %}
        {% include "table_comment.html" with comment=table_cells_data|keyval:"comment"|keyval:0|keyval:"value" %}
    </form>

    {% block js %}{% endblock %}
</div>
