{% load i18n %}
{% load staticfiles %}
<div class="header">
    <div class="header__logo"> <i class="fab fa-font-awesome"></i><span>&nbsp;E-Logs</span></div>
    <div class="header__title">
        <span class="journal_title">{{ journal_title }}</span>
        <i class="fa fa-circle-o-notch" id="async" aria-hidden="true" style="display:none; color:red"> Синхронизация...</i>
        <i class="fa fa-check" id="sync" aria-hidden="true" style="display:none; color:limegreen"> Синхронизировано</i>
    </div>
    <div class="header__user"> <i class="fas fa-envelope"></i><i class="fas fa-bell"></i><span>{{ user.employee }}</span><i class="fas fa-user-circle"> </i></div>
</div>
