{% load express_tags %} {# Loading our tags #}

{% comment %}
    In the context there must be following variables:

    table_name
    field_name
    journal_page
{% endcomment %}

{% with val=table_data|keyval:field_name|choose_val:index %} {# Setting val variable#}
    {% with info=fields_info|keyval:journal_name|keyval:table_name|keyval:field_name %}
        {% with str_index=index|stringformat:"i" %}
            {% with field_comment_name=field_name|add:"_comment"|add:str_index %}

        <!-- {% if validate %}
            {% set_global_context "onclick" "onclick=\"showPopup(\'{}\')\""|formatter:field_name %}
        {% else %}
            {% set_global_context "onclick" "" %}
        {% endif %} -->

                <input class="form-control general-value" oninput="on_input_change(this)" onchange="add_message(this)"
                       value="{{ val }}" data-info="{{ info }}"
                       name="{{ field_name }}" {{ editable }}
                       {% if validate %}
                       onclick="showPopup('{{ field_comment_name }}', event)"
                       {% endif %}/>

                {% if validate %}

                    {% with comment=table_data|keyval:field_comment_name|keyval:0 %}
                        <span class="popup-comment-content" id="{{ field_comment_name }}">
                           <textarea name="{{ field_comment_name }}"
                           id="{{ field_comment_name|add:"_input" }}"
                           rows="2" onblur="hidePopups('{{ field_comment_name }}')" cols="50">
                           {{ comment }}
                           </textarea>
                        </span>
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% endwith %}
     {% endwith %}
{% endwith %}
