{% load express_tags %} {# Loading our tags #}

{% comment %}
    In the context there must be following variables:

    table_name
    field_name
    journal_page
{% endcomment %}

{% with val=table_data|cell_keyval:field_name|choose_val_special:index %} {# Setting val variable#}
    {% with info=fields_info|keyval:journal_name|keyval:table_name|keyval:field_name %}
        <input class="form-control general-value" oninput="on_input_change(this)"
               value="{{ val }}" data-info="{{ info }}"
               name="{{ field_name }}"/>

    {% endwith %}
{% endwith %}
