{% load express_tags %}
{% load staticfiles %}
{% load i18n %}

<input hidden name="validate"
       value={% if page_mode == 'validate' %} True {% endif %}>
<input hidden name="view"
      value={% if page_mode == 'view' %} True {% endif %}>
<input hidden name="edit"
    value={% if page_mode == 'edit' %} True {% endif %}>
<input hidden name="has_edited"
    value={% if has_edited %} True {% endif %}>

<div id="elogs-app">

  <template v-for="table in tables">
    %{table}
    <Table-Common :cellgroup-info="cellgroupInfo" plant-name="furnace" journal-name="concentrate_report" :table-name="table" ></Table-Common>
  </template>

</div>
