{% load express_tags %}
{% load staticfiles %}
{% load i18n %}

<input hidden name="validate"
       value={% if page_mode == 'validate' %} True {% endif %}>
<input hidden name="view"
      value={% if page_mode == 'view' %} True {% endif %}>
<input hidden name="edit"
    value={% if page_mode == 'edit' %} True {% endif %}>
<input hidden name="has_edited"
    value={% if has_edited %} True {% endif %}>

<div>
    {% for table_path in tables_paths %}
        {% get_table_name table_path as table_name %}
        <TableCommon title="Название таблицы" plant-name="furnace" journal-name="concentrate_report" table-name="{{ table_name }}" ></TableCommon>
    {% endfor %}
</div>
