.colors-samples
  .color--bg(title="bg")    
  .color--menu1(title="Уровень меню 1")
  .color--menu2(title="Уровень меню 2")
  .color--menu-current(title="Выделенный пункт меню ")
  .color--main(title="main")
  .color--ac1(title="Акцент 1")
  .color--ac2(title="Акцент 2")
  .color--ac3(title="Акцент 3")
