.header
  .header__logo 
      i.fab.fa-font-awesome
      span &nbsp;E-Logs
  .header__title Журнал раппортов по работе с клиентами
  .header__user 
    i.fas.fa-envelope
    i.fas.fa-bell
    span Гаврилов Алексей
    i.fas.fa-user-circle
    .user-menu
        ul.menu
            li.user-menu__item
                a(href="#")
                    i.fas.fa-cogs
                    span.caption Найтроки
            li.user-menu__item
                a(href="#")
                    i.fas.fa-user-edit
                    span.caption Оставить отзыв разработчикам
            li.user-menu__item
                a(href="?logout")
                    i.fas.fa-sign-out-alt
                    span.caption Выйти из системы
