{% load i18n %}
{% load express_tags %}


{% with table_name="agitators_table" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th colspan="10">{% trans "Агитаторы очистки" %}{% trans " (мг/л)" %}</th>
                <th colspan="3">{% trans "Готовый раствор" %}{% trans " (мг/л)" %}</th>
            </tr>
            <tr>
                <th>13,<br/>14</th>
                <th>Cd</th>
                <th>Cu</th>
                <th>Co</th>
                <th>15</th>
                <th>pH</th>
                <th>Cu</th>
                <th>17</th>
                <th>pH</th>
                <th class="addrightborder">Cu</th>
                <th class="addtopborder addleftborder">19</th>
                <th class="addtopborder">H2SO4</th>
                <th class="addtopborder addrightborder">Cu</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th rowspan="3">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a1314_Cd_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_before1" index=0 %}</td>
                    <th rowspan="3">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a15_pH_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_before1" index=0 %}</td>
                    <th rowspan="3">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a17_pH_before1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_before1" index=0 %}</td>
                    <th class="addleftborder" rowspan="3">{% trans "До" %}</th>
                    <td>{% include "value.html" with field_name="a19_H2SO4_before1" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_before1" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_before2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_before2" index=0 %}</td>

                    <td>{% include "value.html" with field_name="a19_H2SO4_before2" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_before2" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_before3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_before3" index=0 %}</td>

                    <td>{% include "value.html" with field_name="a19_H2SO4_before3" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_before3" index=0 %}</td>
                </tr>
                <tr>
                    <th rowspan="3">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a1314_Cd_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_after1" index=0 %}</td>
                    <th rowspan="3">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a15_pH_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_after1" index=0 %}</td>
                    <th rowspan="3">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a17_pH_after1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_after1" index=0 %}</td>
                    <th rowspan="3" class="addleftborder">{% trans "После" %}</th>
                    <td>{% include "value.html" with field_name="a19_H2SO4_after1" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_after1" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_after2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a19_H2SO4_after2" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_after2" index=0 %}</td>
                </tr>
                <tr>
                    <td>{% include "value.html" with field_name="a1314_Cd_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Cu_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a1314_Co_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_pH_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a15_Cu_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_pH_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a17_Cu_after3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="a19_H2SO4_after3" index=0 %}</td>
                    <td class="addleftborder">{% include "value.html" with field_name="a19_Cu_after3" index=0 %}</td>
                </tr>
        </tbody>
        <tbody>
            <tr>
                <th colspan="2">№ 22</th>
                <td colspan="13">{% include "value.html" with field_name="journal_comment" index=0 %}</td>
            </tr>
        </tbody>
    </table>
    {% endwith %}
</form>
{% endwith %}