{% load i18n %}
{% load express_tags %}


{% with table_name="neutral_table" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>{% trans "Наличие<br>нейтр. р-ра" %}</th>
                    <th colspan="2">{% trans "Уч. выщел. N1<br>бак 3,4,5,4А" %}</th>
                    <th>{% trans "Бак" %} 3 </th>
                    <th>{% trans "Бак" %} 4</th>
                    <th>{% trans "Итого" %}</th>
                    <th>{% trans "Бак III<br/>серии" %}</th>
                    <th>{% trans "Бак" %} 5 </th>
                    <th>{% trans "Бак" %} 6 </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{% include "value.html" with field_name="neutral_solution" index=0 %}</td>
                    <td>{% include "value.html" with field_name="leach1" index=0 %}</td>
                    <td>{% include "value.html" with field_name="leach2" index=0 %}</td>
                    <td>{% include "value.html" with field_name="bak_3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="bak_4" index=0 %}</td>
                    <td>{% include "value.html" with field_name="summary" index=0 %}</td>
                    <td>{% include "value.html" with field_name="bak_seria3" index=0 %}</td>
                    <td>{% include "value.html" with field_name="bak_5" index=0 %}</td>
                    <td>{% include "value.html" with field_name="bak_6" index=0 %}</td>
                </tr>
            </tbody>
        </table>
    {% endwith %}
</form>
{% endwith %}