{% load express_tags %}
{% load i18n %}


{% with table_name="reagents_table" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
            <tr>
                <td></td>
                <th>{% trans "Доставлено" %}</th>
                <th>{% trans "Принято" %}</th>
                <th>{% trans "Расход" %}</th>
                <th>{% trans "Сдано" %}</th>
            </tr>
            <tr>
                <th>{% trans "Соль Шлиппе" %}{% trans ", кг" %}</th>
                <td>{% include "value.html" with field_name="delivery_salt" index=0 %}</td>
                <td>{% include "value.html" with field_name="income_salt" index=0 %}</td>
                <td>{% include "value.html" with field_name="outcome_salt" index=0 %}</td>
                <td>{% include "value.html" with field_name="passed_salt" index=0 %}</td>
            </tr>
            <tr>
                <th>{% trans "Zn пыль" %}{% trans ",<br>кюбели" %}</th>
                <td>{% include "value.html" with field_name="delivery_Zn_dust" index=0 %}</td>
                <td>{% include "value.html" with field_name="income_Zn_dust" index=0 %}</td>
                <td class="wrappercell">
                    <table class="table table-bordered insidetable">
                        <tr>
                            <th class="removeleftborder removetopborder">{% trans "1ст" %}</th>
                            <td class="removetopborder">{% include "value.html" with field_name="income_Zn_1st" index=0 %}</td>
                            <th class="removetopborder">Cd</th>
                            <td class="removetopborder removerightborder">{% include "value.html" with field_name="income_Zn_dust" index=0 %}</td>
                        </tr>
                        <tr>
                            <th class="removeleftborder">{% trans "2ст" %}</th>
                            <td>{% include "value.html" with field_name="income_Zn_2st" index=0 %}</td>
                            <td rowspan="2" colspan="2" class="removebottomborder">{% include "value.html" with field_name="income_Zn_Cd" index=0 %}</td>
                        </tr>
                        <tr>
                            <th class="removeleftborder removebottomborder">{% trans "3ст" %}</th>
                            <td class="removebottomborder">{% include "value.html" with field_name="income_Zn_3st" index=0 %}</td>
                        </tr>
                    </table>
                </td>
                <td>{% include "value.html" with field_name="passed_Zn_dust" index=0 %}</td>
            </tr>
            <tr>
                <th>{% trans "Mn руда" %}{% trans ", тн" %}</th>
                <td>{% include "value.html" with field_name="delivery_Mn_ore" index=0 %}</td>
                <td>{% include "value.html" with field_name="income_Mn_ore" index=0 %}</td>
                <td>{% include "value.html" with field_name="outcome_Mn_ore" index=0 %}</td>
                <td>{% include "value.html" with field_name="passed_Mn_ore" index=0 %}</td>
            </tr>
            <tr>
                <th>{% trans "Магнофлок" %}{% trans ", кг" %}</th>
                <td>{% include "value.html" with field_name="delivery_Magnaflok" index=0 %}</td>
                <td>{% include "value.html" with field_name="income_Magnaflok" index=0 %}</td>
                <td>{% include "value.html" with field_name="outcome_Magnaflok" index=0 %}</td>
                <td>{% include "value.html" with field_name="passed_Magnaflok" index=0 %}</td>
            </tr>
            <tr>
                <th>{% trans "Fe стружка" %}{% trans ", кг" %}</th>
                <td>{% include "value.html" with field_name="delivery_Fe_shave" index=0 %}</td>
                <td>{% include "value.html" with field_name="income_Fe_shave" index=0 %}</td>
                <td>{% include "value.html" with field_name="outcome_Fe_shave" index=0 %}</td>
                <td>{% include "value.html" with field_name="passed_Fe_shave" index=0 %}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th>{% trans "Состояние ограждений:" %}</th>
                <td colspan="4">{% include "value.html" with field_name="state_fances" index=0 %}</td>
            </tr>
        </tbody>
    </table>
    {% endwith %}
</form>
{% endwith %}