{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i
                class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">
        <table class="table table-bordered elog-journal-table">
            <tbody>
            <tr>
                <th scope="row">{% trans "За смену" %}</th>
                <td>{{ table.data.shift_total }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "За сутки" %}</th>
                <td>{{ table.data.day_total }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans "В процессе" %}</th>
                <td>{{ table.data.in_process }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
