{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">

        <table class="table table-bordered elog-journal-table">
            <thead>
                <tr>
                    <th colspan="4">{% trans "1 Манн" %}</th>
                    <th colspan="5">{% trans "4 Манн" %}</th>
                </tr>
                <tr>
                    <th>pH</th>
                    <th>{% trans "Кисл&#8209;ть" %}{% trans ",<br>г/л" %}</th>
                    <th>{% trans "Fe двухвал." %}{% trans ", мг/л" %}</th>
                    <th>{% trans "Fe Общее" %}{% trans ", мг/л" %}</th>
                    <th>pH</th>
                    <th>{% trans "Медь" %}{% trans ", мг/л" %}</th>
                    <th>Fe{% trans ",<br>мг/л" %}</th>
                    <th>{% trans "Сурьма" %}{% trans ",<br>мг/л" %}</th>
                    <th>{% trans "Отстои" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for dt, row in table.data.main.items %}
                <tr>
                    <th scope="row">{{row.1.ph |floatformat:2}}</th>
                    <td>{{row.1.acid |floatformat:2}}</td>
                    <td>{{row.1.fe2 |floatformat:2}}</td>
                    <td>{{row.1.fe_total |floatformat:2}}</td>
                    <td>{{row.4.ph |floatformat:2}}</td>
                    <td>{{row.4.cu |floatformat:2}}</td>
                    <td>{{row.4.fe2 |floatformat:2}}</td>
                    <td>{{row.4.sb |floatformat:2}}</td>
                    <td>{{row.4.sediment |floatformat:2}}</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="1">{% trans "Ситовой огарка" %}{% trans ", мм" %}</th>
                <td colspan="5">
                    <table class="table insidetable customborders">
                        <tr>
                            {% for dt, row in table.data.extra.grans.items %}
                            <td>{{row.gran |floatformat:2}}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </td>
                <th colspan="2">{% trans "Ситовой Огарка средний" %}{% trans ", мм" %}</th>
                <td>{{table.data.extra.gran_avg |floatformat:2}}</td>
            </tr>
            <tr>
                <th colspan="2">{% trans "Общее Fe среднее" %}{% trans ", мм" %}</th>
                <td colspan="2">{{table.data.extra.fe_avg |floatformat:2}}</td>
                <th colspan="3">{% trans "Fe стружка Fe" %}{% trans ",<br>мг/л" %}</th>
                <td colspan="3">{{table.data.extra.fe_shave |floatformat:2}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>