{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">

        <table class="table table-bordered elog-journal-table">
            <thead>
            <tr>
                {% for columnName in table.columns %}
                <th>{{columnName}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for num, row in table.data.items %}
                <tr>
                    <th scope="row">{{num}}</th>
                    <td>{{row.cd |floatformat:2}}</td>
                    <td>{{row.cu}}</td>
                    <td>{{row.co}}</td>
                    <td>{{row.sb}}</td>
                    <td>{{row.fe}}</td>
                    <td>{{row.vt}}</td>
                    <td>{{row.density}}</td>
                    <td>{{row.norm}}</td>
                    <td>{{row.fact}}</td>
                    <td>{{row.correction}}</td>
                    <td>...</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>