{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">

        <table class="table table-bordered elog-journal-table">
            <thead>
            <tr>
                {% for columnName in table.columns %}
                <th>{{columnName}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for item in table.rows %}
            <tr>
                <th scope="row">{{item.title}}</th>
                {% for value in item.values %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>