{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>{% trans "Нейтральные сгустители" %}</th>
                    {% for num,item in table.data.items %}
                    <td>{{num}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>{% trans "Отстои" %}</th>
                    {% for num,item in table.data.items %}
                    <td>{{item.sediment}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th rowspan="2">{% trans "Ж:Т" %}<br>{% trans "(НС)" %}</th>
                    {% for num,item in table.data.items %}
                    <td>{{item.liq_sol1}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for num,item in table.data.items %}
                    <td>{{item.liq_sol2}}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>