{% load i18n %}
<div class="x_panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <div class="clearfix"></div>
        <a class="btn btn-success pull-right editintable" href="/leaching/all/edit"><i class="glyphicon glyphicon-pencil"></i></a>
    </div>
    <div class="x_content">

        <table class="table table-bordered">
            <tbody>
            {% for num, item in table.data.items %}
            <tr>
                <td>{{item.value}}</td>
                <td>{{item.name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>