{% extends "table.html" %}
{% load express_tags %}

{% block title %}Участок классификаци огарка{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
        <thead>
            <tr>
                <th colspan="3" class="th-common"></th>
                <th colspan="4" class="th-common"> Наличие огарка в бункерах ОЦ </th>
                <th colspan="9" class="th-common"></th>
            </tr>
            <tr>
                <th colspan="3" class="th-common"> ЦВЦО<i class='units'>м</i> </th>
                <th colspan="4" class="th-common"> Участка классификации<i class='units'>м</i> </th>
                <th colspan="4" class="th-common"> Накопители<i class='units'>м</i> </th>
                <th colspan="2" class="th-common"> Эксплуатация оборудования<i class='units'>№</i> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>4</th>
                <td><cell field-name="gmc4_1" index="0"></cell></td>
                <td><cell field-name="gmc4_2" index="0"></cell></td>
                <th>3</th>
                <td><cell field-name="uk3" index="0"></cell></td>
                <th>4</th>
                <td><cell field-name="uk4" index="0"></cell></td>
                <th>1</th>
                <td><cell field-name="silos1" index="0"></cell></td>
                <td><cell field-name="silos4" index="0"></cell></td>
                <td><cell field-name="silos7" index="0"></cell></td>
                <th> Элеваторы </th>
                <td><cell field-name="elevators" index="0"></cell></td>
            </tr>
            <tr>
                <th>1</th>
                <td><cell field-name="gmc1_1" index="0"></cell></td>
                <td><cell field-name="gmc1_2" index="0"></cell></td>
                <th>5</th>
                <td><cell field-name="uk5" index="0"></cell></td>
                <th>6</th>
                <td><cell field-name="uk6" index="0"></cell></td>
                <th>2</th>
                <td><cell field-name="silos2" index="0"></cell></td>
                <td><cell field-name="silos5" index="0"></cell></td>
                <td><cell field-name="silos8" index="0"></cell></td>

                <th> Мельницы </th>
                <td><cell field-name="mills" index="0"></cell></td>

            </tr>
            <tr>
                <th colspan="2">Всего</th>
                <td></td>

                <th>7</th>
                <td><cell field-name="uk7" index="0"></cell></td>
                <th>Тонн:</th>
                <td><cell field-name="tonn" index="0"></cell></td>

                <th>3</th>
                <td><cell field-name="silos3" index="0"></cell></td>
                <td><cell field-name="silos6" index="0"></cell></td>
                <td><cell field-name="silos9" index="0"></cell></td>

                <th> А/сеп-ры </th>
                <td><cell field-name="separators" index="0"></cell></td>
            </tr>
        </tbody>
</table>
{% endblock %}
