


Печной участок


<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2" class="th-number"> № печи </th>
            <th rowspan="2" class="th-number"> Расход воздуха<i class='units'>м³/час</i></th>
            <th rowspan="2" class="th-number"> Упругость дутья<i class='units'>кгс/м²</i> </th>
            <th colspan="2" class="th-common"> Расход кислорода </th>
            <th colspan="2" class="th-common"> Тепмпература<i class='units'>ᵒC</i> </th>
            <th rowspan="2"  class="th-number"> V<i class='units'>м³</i> </th>
            <th> Давление под сводом </th>
            <th rowspan="2" colspan="2" class="th-common"> УИО </th>
            <th colspan="2" class="th-common"> Дымососы </th>
        </tr>
        <tr>
            <th class="th-number"> <i class='units no-before'>м<sup>3</sup>/ч</i> </th>
            <th class="th-number"> % </th>
            <th class="th-number"> в слое </th>
            <th class="th-number"> под сводом </th>
            <th class="th-number"> <i class='units no-before'>мм.в.ст.</i></th>
            <th class="th-number"> Левый </th>
            <th class="th-number"> Правый </th>
        </tr>
    </thead>
    <tbody>
        {% for_or_create _ in table_cells_data|longest_field %}
            <tr v-for="(value, index) in data.rowsCount" class="indexed-line">
                <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
                <td><cell field-name="number" :row-index="index"></cell></td>
                <td><cell field-name="rate" :row-index="index"></cell></td>
                <td><cell field-name="elasticity" :row-index="index"></cell></td>
                <td><cell field-name="rate_o2" :row-index="index"></cell></td>
                <td><cell field-name="rate_o2_prc" :row-index="index"></cell></td>
                <td><cell field-name="temperture_in_layer" :row-index="index"></cell></td>
                <td><cell field-name="temperture_under" :row-index="index"></cell></td>
                <td><cell field-name="volume" :row-index="index"></cell></td>
                <td><cell field-name="pressure" :row-index="index"></cell></td>
                <td><cell field-name="uio_select" :row-index="index"></cell></td>
                <td><cell field-name="uio" :row-index="index"></cell></td>
                <td><cell field-name="smoke1" :row-index="index"></cell></td>
                <td><cell field-name="smoke2" :row-index="index"></cell></td>
            </tr>
        {% endfor_or_create %}
    </tbody>
</table>

