{% extends "table.html" %}
{% load express_tags %}

{% block title %}Склад концентратов{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2" colspan="2" class="th-common"> Загрузка концентратов </th>
            <th colspan="4" class="th-common"> Подход вагонов </th>
            <th> Шихта </th>
        </tr>
        <tr>
            <th colspan="2" class="th-common"> Разгружено п/вагонов<i class='units'>шт</i> </th>
            <th> На станции </th>
            <th> В отгрузке </th>
            <td><cell field-name="shihta" index="0"></cell></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="th-number"> За смену, вмт </th>
            <th class="th-number"> За сутки, вмт </th>
            <th class="th-number"> За смену </th>
            <th class="th-number"> За сутки </th>
            <td rowspan="4"><cell field-name="on_station" index="0"></cell></td>
            <td rowspan="4"><cell field-name="unload" index="0"></cell></td>
            <th>Дробилка №</th>
        </tr>
        <tr>
            <td><cell field-name="r1_per_shift" index="0"></cell></td>
            <td><cell field-name="r1_per_day" index="0"></cell></td>
            <td><cell field-name="r1_unload_shift" index="0"></cell></td>
            <td><cell field-name="r1_unload_day" index="0"></cell></td>
            <td><cell field-name="crusher_number" index="0"></cell></td>
        </tr>
        <tr>
            <td><cell field-name="r2_per_shift" index="0"></cell></td>
            <td><cell field-name="r2_per_day" index="0"></cell></td>
            <td><cell field-name="r2_unload_shift" index="0"></cell></td>
            <td><cell field-name="r2_unload_day" index="0"></cell></td>
            <th> Влага<i class='units'>%</i> </th>
        </tr>
        <tr>
            <td><cell field-name="r3_per_shift" index="0"></cell></td>
            <td><cell field-name="r3_per_day" index="0"></cell></td>
            <td><cell field-name="r3_unload_shift" index="0"></cell></td>
            <td><cell field-name="r3_unload_day" index="0"></cell></td>
            <td><cell field-name="moisture" index="0"></cell></td>
        </tr>
    </tbody>
</table>
{% endblock %}
