{% extends "table.html" %}
{% load express_tags %}

{% block title %}Мат. Тех. Ценности{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <tr>
        <th> Материально-технические ценности приняты на самохрану </th>
        <td><cell field-name="material" index="0"></cell></td>
    </tr>
    <tr>
        <th> Замечания по работе оборудования </th>
        <td><cell field-name="note" index="0"></cell></td>
    </tr>
    <tr>
        <th> Аспирация и вентиляция </th>
        <td><cell field-name="aspiration" index="0"></cell></td>
    </tr>
    <tr>
        <th> КИПиА </th>
        <td><cell field-name="kip" index="0"></cell></td>
    </tr>
    <tr>
        <th> Электроборудование </th>
        <td><cell field-name="electro" index="0"></cell></td>
    </tr>
    <tr>
        <th> Дополнительные замечания </th>
        <td><cell field-name="extra_note" index="0"></cell></td>
    </tr>
</table>
{% endblock %}
