/**
*
* CONTENTS
* Config....................Common variables, colors
* Layout....................Main sections for layout
*   Header..................Header
*   Header..................Header
*
*/

@import "colors";
@import "layout";
@import "header";
@import "menu";
@import "tables";
@import "slide";
@import "misc";
@import "popup";
@import "journal";



/*layout tables */
.journal-page {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 10px;
}

.journal__panel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.journal-tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.triangle {
  display: block;
  width: 0;
  height: 0;
  border-right:10px solid blue;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
