{% extends "table.html" %}
{% load express_tags %}

{% block title %}Какая-то таблица{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
    <tr>
        <th> Концентрат</th>
        <th> План на СМТ</th>
        <th> План на 12 месяцев ГПП</th>
        <th> План на 12 месяцев ТПП</th>
        <th> Факт за 12 месяцев</th>
        <th> Отклонение от ТПП</th>
        <th> Отклонение от УПП</th>
        <th> Соотношение</th>
    </tr>
    </thead>
    <tbody>
    {% for_or_create _ in table_cells_data|longest_field %}
        <tr class="indexed-line">
            <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
            <td>{% include "value.html" with field_name="concentrate" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="smt_plan" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="gpp_year_plan" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="tpp_year_plan" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="fact_year" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="tpp_dispersion" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="upp_deviation" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="ratio" index=forloop.counter0 %}</td>
        </tr>
    {% endfor_or_create %}
    </tbody>
</table>
{% endblock %}
