{% extends 'base_page.html' %}
{% load staticfiles %}
{% load express_tags %}
{% load tz %}
{% load i18n %}


{% block title %}
    E-LOGS | Настройки
{% endblock %}


{% block journal_panel %}
{% endblock %}

{% block menu %}
    <div class="menu__panel menu__panel--modes">
        <div class="menu__title">Список режимов</div>
        <i class="menu__toggle fas fa-bars"></i>
    </div>
    <div class="menu__sub-title">
        <button class="btn" data-toggle="modal" data-target="#addModeModal">Добавить режим</button>
    </div>
    <ul class="menu menu--left menu--modes"></ul>
{% endblock %}


{% block content %}
    <!--<form action="" method="" enctype="multipart/form-data">-->
        <!--{% csrf_token %}-->
    <div class="mode-content">
        <div class="mode-content__title">
            <div class="mode-content__title__mode-info">
                <h3 id="modeTitle">Выберите режим</h3>
            </div>
            <div class="mode-content__title__mode-btns" style="display: none">
                <button class="btn" data-target="mode-on-off">Выключить</button>
                <button class="btn" data-target="mode-edit">Изменить</button>
                <button class="btn" data-target="mode-delete">Удалить</button>
            </div>
        </div>
        <div class="mode-content__body" style="display: none">
            <table class="table table-bordered elog-journal-table">
                <thead>
                    <tr>
                        <th>Таблица</th>
                        <th>Ячейка</th>
                        <th>Минимальное значение</th>
                        <th>Максимальное значение</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!--</form>-->

    {% if user.is_superuser or user|in_group:"Big boss" or user|in_group:"Boss" %}
        {#<h2>Настройки системы</h2>#}
    {% endif %}
{% endblock %}
