{% extends "table.html" %}
{% load express_tags %}

{% block title %}Участок воздуходувных машин{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th class="th-number"> Концентрация O<sub>2</sub> в помещении<i class='units'>%</i> </th>
            <th class="th-time"> Время пуска и остановки воздушных машин </th>
            <th class="th-number"> В работе воздуходувных машин<i class='units'>№</i></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><cell field-name="conc_o2" index="0"></cell></td>
            <td>{% include "value.html" with field_name="time_start" index=0 %}</td>
            <td>{% include "value.html" with field_name="cnt_in_process" index=0 %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
