{% extends "table.html" %}
{% load express_tags %}

{% block title %}Печной участок{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2"> № печи </th>
            <th rowspan="2"> Расход воздуха, <i class='units'>м³/час</i></th>
            <th rowspan="2"> Упругость дутья, <i class='units'>кгс/м²</i> </th>
            <th colspan="2"> Расход кислорода </th>
            <th colspan="2"> Тепмпература, <i class='units'>ᵒC</i> </th>
            <th rowspan="2"> V, <i class='units'>м³</i> </th>
            <th> Давление под сводом </th>
            <th rowspan="2" colspan="2"> УИО </th>
            <th colspan="2"> Дымососы </th>
        </tr>
        <tr>
            <th> <i class='units no-before'>м<sup>3</sup>/ч</i> </th>
            <th> % </th>
            <th> в слое </th>
            <th> под сводом </th>
            <th> , <i class='units no-before'>мм.в.ст.</i></th>
            <th> Левый </th>
            <th> Правый </th>
        </tr>
    </thead>
    <tbody>
        {% for_or_create _ in table_data.number %}
            <tr class="indexed-line">
                <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
                <td>{% include "value.html" with field_name="number" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="rate" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="elasticity" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="rate_o2" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="rate_o2_prc" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="temperture_in_layer" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="temperture_under" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="volume" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="pressure" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="uio_select" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="uio" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="smoke1" index=forloop.counter0 %}</td>
                <td>{% include "value.html" with field_name="smoke2" index=forloop.counter0 %}</td>
            </tr>
        {% endfor_or_create %}
    </tbody>
</table>
{% endblock %}
