{% extends "table.html" %}
{% load express_tags %}

{% block title %}Участок классификаци огарка{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
        <thead>
            <tr>
                <th colspan="3"></th>
                <th colspan="4"> Наличие огарка в бункерах </th>
                <th colspan="9"></th>
            </tr>
            <tr>
                <th colspan="3"> ГМЦ </th>
                <th colspan="4"> Участка классификации, м </th>
                <th colspan="4"> Накопители </th>
                <th colspan="2"> Эксплуатация оборудования </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>4</th>
                <td>{% include "value.html" with field_name="gmc4_1" index=0 %}</td>
                <td>{% include "value.html" with field_name="gmc4_2" index=0 %}</td>
                <th>3</th>
                <td>{% include "value.html" with field_name="uk3" index=0 %}</td>
                <th>4</th>
                <td>{% include "value.html" with field_name="uk4" index=0 %}</td>
                <td>1</td>
                <td>{% include "value.html" with field_name="silos1" index=0 %}</td>
                <td>{% include "value.html" with field_name="silos4" index=0 %}</td>
                <td>{% include "value.html" with field_name="silos7" index=0 %}</td>
                <th> Элеваторы </th>
                <td>{% include "value.html" with field_name="elevators" index=0 %}</td>
            </tr>
            <tr>
                <td>1</td>
                <td>{% include "value.html" with field_name="gmc1_1" index=0 %}</td>
                <td>{% include "value.html" with field_name="gmc1_2" index=0 %}</td>
                <th>5</th>
                <td>{% include "value.html" with field_name="uk5" index=0 %}</td>
                <th>6</th>
                <td>{% include "value.html" with field_name="uk6" index=0 %}</td>
                <td>2</td>
                <td>{% include "value.html" with field_name="silos2" index=0 %}</td>
                <td>{% include "value.html" with field_name="silos5" index=0 %}</td>
                <td>{% include "value.html" with field_name="silos8" index=0 %}</td>

                <th> Мельницы </th>
                <td>{% include "value.html" with field_name="mills" index=0 %}</td>

            </tr>
            <tr>
                <td colspan="2">Всего</td>
                <td></td>

                <td>7</td>
                <td>{% include "value.html" with field_name="uk7" index=0 %}</td>
                <td>Тонн:</td>
                <td>{% include "value.html" with field_name="tonn" index=0 %}</td>

                <td>3</td>
                <td>{% include "value.html" with field_name="silos3" index=0 %}</td>
                <td>{% include "value.html" with field_name="silos6" index=0 %}</td>
                <td>{% include "value.html" with field_name="silos9" index=0 %}</td>

                <th> А/сеп-ры </th>
                <td>{% include "value.html" with field_name="separators" index=0 %}</td>
            </tr>
        </tbody>
</table>
{% endblock %}