{% extends "table.html" %}
{% load express_tags %}

{% block title %}Участок электрофильтров{% endblock %}

{% block table %}
<table class="table table-bordered elog-journal-table">
    <thead>
        <tr>
            <th rowspan="2" colspan="2"> Электрофильтр </th>
            <th colspan="2"> Температура </th>
            <th rowspan="2"> Вольтамперная характеристика </th>
            <th rowspan="2" > Концентрация SO<sub>2</sub> </th>
            <th colspan="3"> Запылённость газа по системам </th>
            <th rowspan="2"> Откачка пыли с бункеров по факту </th>
            <th colspan="2"> Вакуум насос </th>
        </tr>
        <tr>
            <th> Вход </th>
            <th> Выход </th>
            <th> 1 </th>
            <th> 2 </th>
            <th> 3 </th>
            <th> 1 </th>
            <th> 2 </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th rowspan="2"> ГК-30М </th>
            <th> 1 секция </th>
            <td>{% include "value.html" with field_name="M_s1_t_in" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s1_t_out" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s1_vam" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s1_con" index=0 %}</td>
            <td rowspan="6">{% include "value.html" with field_name="gas1" index=0 %}</td>
            <td rowspan="6">{% include "value.html" with field_name="gas2" index=0 %}</td>
            <td rowspan="6">{% include "value.html" with field_name="gas3" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s1_fact" index=0 %}</td>
            <td rowspan="6">{% include "value.html" with field_name="vak1" index=0 %}</td>
            <td rowspan="6">{% include "value.html" with field_name="vak2" index=0 %}</td>
        </tr>
        <tr>
            <th> 2 секция </th>
            <td>{% include "value.html" with field_name="M_s2_t_in" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s2_t_out" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s2_vam" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s2_con" index=0 %}</td>
            <td>{% include "value.html" with field_name="M_s2_fact" index=0 %}</td>

        </tr>
        <tr>
            <th rowspan="2"> ГК-30Г </th>
            <th> 1 секция </th>
            <td>{% include "value.html" with field_name="G_s1_t_in" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s1_t_out" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s1_vam" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s1_con" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s1_fact" index=0 %}</td>
        </tr>
        <tr>
            <th> 2 секция </th>
            <td>{% include "value.html" with field_name="G_s2_t_in" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s2_t_out" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s2_vam" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s2_con" index=0 %}</td>
            <td>{% include "value.html" with field_name="G_s2_fact" index=0 %}</td>
        </tr>
        <tr>
            <th rowspan="2"> ГК-60 </th>
            <th> 1 секция </th>
            <td>{% include "value.html" with field_name="s1_t_in" index=0 %}</td>
            <td>{% include "value.html" with field_name="s1_t_out" index=0 %}</td>
            <td>{% include "value.html" with field_name="s1_vam" index=0 %}</td>
            <td>{% include "value.html" with field_name="s1_con" index=0 %}</td>
            <td>{% include "value.html" with field_name="s1_fact" index=0 %}</td>
        </tr>
        <tr>
            <th> 2 секция </th>
            <td>{% include "value.html" with field_name="s2_t_in" index=0 %}</td>
            <td>{% include "value.html" with field_name="s2_t_out" index=0 %}</td>
            <td>{% include "value.html" with field_name="s2_vam" index=0 %}</td>
            <td>{% include "value.html" with field_name="s2_con" index=0 %}</td>
            <td>{% include "value.html" with field_name="s2_fact" index=0 %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}