{% load express_tags %}


{% with table_name="page1_table7" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2"> Результаты осмотра </th>
                <th rowspan="2"> Подпись лица производящего осмотр </th>
                <th colspan="2"> Запись лица ответственного за исправное состояние </th>
                <th rowspan="2"> Подпись лица производившего осмотр </th>
            </tr>
            <tr>
                <th>Срок устранения неисправности</th>
                <th>Отметка об устранении неисправности</th>
            </tr>
        </thead>
        <tbody>
            {% for_or_create _ in table_data.date_start %}
                <tr class="indexed-line">
                    <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
                    <td>{% include "value.html" with field_name="results" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="sign1" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="term" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="mark" index=forloop.counter0 %}</td>
                    <td>{% include "value.html" with field_name="sign2" index=forloop.counter0 %}</td>
                </tr>
            {%  endfor_or_create %}
        </tbody>
    </table>
    {% endwith %}
</form>
{% endwith %}