{% load express_tags %}


{% with table_name="table4" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td> Время обхода объекта </td>
                <td> Замечания </td>
                <td> Отметка об устранении </td>
                <td> Подпись </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% include "value.html" with field_name="time" index=0 %}</td>
                <td>{% include "value.html" with field_name="comments" index=0 %}</td>
                <td>{% include "value.html" with field_name="mark" index=0 %}</td>
                <td>{% include "value.html" with field_name="sign" index=0 %}</td>
            </tr>
        </tbody>
    </table>
    {% endwith %}
</form>
{% endwith %}