{% load express_tags %}


{% with table_name="table5" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
        <tr>
            <th colspan="2"> Метериально-технические ценности приняты на самохрану </th>
        </tr>
        <tr>
            <td colspan="2">{% include "value.html" with field_name="material" index=forloop.counter0 %}</td>
        </tr>
        <tr>
            <th colspan="2"> Замечания по работе оборудования </th>
        </tr>
        <tr>
            <td colspan="2">{% include "value.html" with field_name="note" index=forloop.counter0 %}</td>
        </tr>
        <tr>
            <th> Аспирация и вентиляция </th>
            <td>&nbsp;{% include "value.html" with field_name="aspiration" index=forloop.counter0 %}</td>
        </tr>
        <tr>
            <th> КИПиА </th>
            <td>&nbsp;{% include "value.html" with field_name="kip" index=forloop.counter0 %}</td>
        </tr>
        <tr>
            <th> Электроборудование </th>
            <td>&nbsp;{% include "value.html" with field_name="electro" index=forloop.counter0 %}</td>
        </tr>
        <tr>
            <th> Дополнительные замечания </th>
            <td>&nbsp;{% include "value.html" with field_name="extra_note" index=forloop.counter0 %}</td>
        </tr>
    </table>
    {% endwith %}
</form>
{% endwith %}