{% load express_tags %}


{% with table_name="udel_table" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>КС №</th>
                <th>тм<sup>2</sup>/сут</th>
                <th>КС №</th>
                <th>тм<sup>2</sup>/сут</th>
                <th>КС №</th>
                <th>тм<sup>2</sup>/сут</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% include "value.html" with field_name="ks1" index=0 %}</td>
                <td>{% include "value.html" with field_name="val1" index=0 %}</td>
                <td>{% include "value.html" with field_name="ks2" index=0 %}</td>
                <td>{% include "value.html" with field_name="val2" index=0 %}</td>
                <td>{% include "value.html" with field_name="ks3" index=0 %}</td>
                <td>{% include "value.html" with field_name="val3" index=0 %}</td>
            </tr>
        </tbody>
    </table>
    {% endwith %}
</form>
{% endwith %}