{% load express_tags %}


{% with table_name="main_table" %}
<form action="/common/change_table" method="post" autocomplete="off" oninput="on_form_change(this)">
    <input hidden name="table_name" value="{{ table_name }}">
    <input hidden name="journal_page" value="{{ journal_page }}">
    {% with table_data=full_data|table_keyval:table_name %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th rowspan="2" colspan="2"> Загрузка концентратов </th>
                <th colspan="4"> Подход вагонов </th>
                <th> Шихта </th>
            </tr>
            <tr>
                <th colspan="2"> Разгружено п/вагонов </th>
                <th> На станции </th>
                <th> В отгрузке </th>
                <td></td>
            </tr>
        </thrad>
        <tbody>
            <tr>
                <th> За смену, вмт </th>
                <th> За сутки, вмт </th>
                <th> За смену </th>
                <th> За сутки </th>
                <td rowspan="4"> </td>
                <td rowspan="4"> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>

            </tr>
        </tbody>
    </table>
    {% endwith %}
</form>
{% endwith %}