html
    head
        title Cell popup
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
        link(rel="stylesheet", href="cell-popup.css")

    body
        .content
            .btn click on Cell

        .popup.cell-popup
            .header
                i.btn--close.fas.fa-times
                .title Номер вагона, Обжиг, Название журнала, Field name
                .header__icon
                    i.fas.fa-receipt
            .body
                ul.list
                    li.item
                        i.item__icon.fas.fa-pencil-alt
                        span.item__text Число
                    li.item
                        i.item__icon.far.fa-clock
                        span.item__text 27.03.2018
                    li.item
                        i.item__icon.fas.fa-info-circle
                        span.item__text Критические значения от 100 до 4000
                    li.item
                        i.item__icon.fas.fa-user-tie
                        span.item__text Шалкар Иванович Масханов
                    li.item
                        i.item__icon.fas.fa-calendar-alt
                        span.item__text 29 марта 2019
                ul.comments
                    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus earum magni sunt ut? Autem beatae culpa cumque, distinctio dolor enim ex illum quisquam quos reiciendis repellat, repellendus, velit voluptatibus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci assumenda culpa distinctio dolores, eaque est, eum explicabo illum inventore laborum nemo nihil obcaecati quas quod tempore veniam voluptas voluptatum!
                    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus earum magni sunt ut? Autem beatae culpa cumque, distinctio dolor enim ex illum quisquam quos reiciendis repellat, repellendus, velit voluptatibus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci assumenda culpa distinctio dolores, eaque est, eum explicabo illum inventore laborum nemo nihil obcaecati quas quod tempore veniam voluptas voluptatum!
                    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus earum magni sunt ut? Autem beatae culpa cumque, distinctio dolor enim ex illum quisquam quos reiciendis repellat, repellendus, velit voluptatibus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci assumenda culpa distinctio dolores, eaque est, eum explicabo illum inventore laborum nemo nihil obcaecati quas quod tempore veniam voluptas voluptatum!
                    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus earum magni sunt ut? Autem beatae culpa cumque, distinctio dolor enim ex illum quisquam quos reiciendis repellat, repellendus, velit voluptatibus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci assumenda culpa distinctio dolores, eaque est, eum explicabo illum inventore laborum nemo nihil obcaecati quas quod tempore veniam voluptas voluptatum!
                    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus earum magni sunt ut? Autem beatae culpa cumque, distinctio dolor enim ex illum quisquam quos reiciendis repellat, repellendus, velit voluptatibus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci assumenda culpa distinctio dolores, eaque est, eum explicabo illum inventore laborum nemo nihil obcaecati quas quod tempore veniam voluptas voluptatum!
                    li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus earum magni sunt ut? Autem beatae culpa cumque, distinctio dolor enim ex illum quisquam quos reiciendis repellat, repellendus, velit voluptatibus!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci assumenda culpa distinctio dolores, eaque est, eum explicabo illum inventore laborum nemo nihil obcaecati quas quod tempore veniam voluptas voluptatum!
                .buttons-panel
                    .btn
                        i.fas.fa-chart-line
                        span Построить график

    script(src="cell-popup.js")
