{% extends "table.html" %}
{% load express_tags %}
{% load i18n %}

{% block title %}Изменение фракции{% endblock %}

{% block table %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th rowspan="2">Дата</th>
            <th rowspan="2">Номер смены</th>
            <th colspan="2">Масса навески, гг</th>
            <th>Определяемый параметр</th>
            <th rowspan="2">Исполнитель</th>
        </tr>
        <tr>
            <th>огарка</th>
            <th>остаток на сите</th>
            <th>Фракция +0,25 мм X, %</th>
        </tr>
    </thead>
    <tbody>
    {% for_or_create _ in table_data.date_start %}
        <tr class="indexed-line">
            <input class="index-input" hidden name="index" value="{{ forloop.counter0 }}">
            <td>{% include "value.html" with field_name="date_start" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="shift_number" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="massa_fur" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="massa_sit" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="fraction" index=forloop.counter0 %}</td>
            <td>{% include "value.html" with field_name="executer" index=forloop.counter0 %}</td>
        </tr>
    {% endfor_or_create %}
    </tbody>
</table>
{% endblock %}