/*------------------------------------*\
  # JOURNAL
\*------------------------------------*/

@import "variables";

.journal-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4px;

    h4 {
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.journal__panel {
    margin-top: 20px;
}

.date-selector {
    height: 40px;
    label {
        position: relative;
        color: $color-text;
        font-size: 14px;
    }
    input {
        height: 24px;
        border: 2px solid $color-text;
        font-size: 14px;
        text-align: center;
    }
    label, input {
        position: relative;
        top: -16px;
        display: block;
        width: 200px;
    }

    .date-selector__date {
        color: $color-text;
    }
}

.panel-buttons {
    display: flex;
    justify-content: flex-start;

    .btn {
        margin-left: 5px;
    }

    .btn-xlsx {
        margin-left: 30px;
    }
}

.btn {
    border-radius: 5px;
    background-color: $color-main;
    color: white;
    height: 38px;
    cursor: pointer;

    &:hover {
        background-color: darken($color-main, 15);
        color: white;
    }

}

.btn-outline {
    background-color: transparent;
    color: #212529;
    border: 1px solid $color-main;

    &:hover {
        border-color: darken($color-main, 10);
    }
}

.btn--active {
    background-color: darken($color-main, 12);
}



@media (max-width: 767.98px) {
    .journal-title {
        .btn.btn-outline {
            width: 100%;
        }
    }
}

@media (max-width: 991.98px) {
    .journal-title {
        display: block;

        .btn.btn-outline {
            margin-top: 4px;
        }
    }
}
