/*------------------------------------*\
  # JOURNAL
\*------------------------------------*/

@import "variables";

.journal_title_container {
    position: fixed;
    background-color: #fff;
    display: flex;
    top: 50px;
    margin: 0 -20px;
    transition: 0.2s;
    width: calc(100% - 230px);
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 3;
    box-shadow: 6px 0px 15px 0px rgba(0,0,0,0.25);
    margin-bottom: 20px;

    &.menu__hidden {
        width: calc(100% - 54px)
    }

    &.hidden {
        transform: translate3d(0, -100%, 0)
    }

    &.sticky {
        transform: translate3d(0, 0, 0)
    }

    .journal-title {
        display: flex;
        justify-content: space-between;
        width: 100%;

        h4 {
            margin-right: 20px;
            margin-bottom: 0;
        }

        .actions-icons {
            display: flex;
            justify-content: flex-end;

            i {
                font-size: 1.5rem;
                color: #989898;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    color: #333333;
                }
            }
        }
    }
}

.journal_title_container__background {
    display: none;
    margin-bottom: 20px;
}

.exp-time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    max-height: 8px;
    width: 100%;
    transition: 0.4s;
    transition-delay: 0.1s;

    &:hover span {
        opacity: 1;
        visibility: visible;
    }

    span {
        color: #fff;
        cursor: default;
        transition: 0.4s;
        transition-delay: 0.1s;
        opacity: 0;
        visibility: hidden;
    }

    &:hover {
        max-height: 120px;
    }
}

.journal__panel {
    margin-top: 10px;

    .shift-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;

        .date-selector {
            height: fit-content;
            input {
                height: 24px;
                border: 2px solid $color-text;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
            }
            label, input {
                position: relative;
                display: block;
                width: 200px;
            }
        
            .date-selector__date {
                color: $color-text;
            }
        }
        
        .panel-buttons {
            display: flex;
            justify-content: flex-start;
        
            .btn:not(:first-child) {
                margin-left: 5px;
            }
        
            .btn-xlsx {
                margin-left: 30px;
            }
        }
    }
}

.btn {
    border-radius: 5px;
    background-color: $color-main;
    color: white;
    height: 38px;
    cursor: pointer;

    &:hover {
        background-color: darken($color-main, 15);
        color: white;
    }

}

.btn-outline {
    background-color: transparent;
    color: #212529;
    border: 1px solid $color-main;

    &:hover {
        border-color: darken($color-main, 10);
    }
}

.btn--active {
    background-color: darken($color-main, 12);
}



@media (max-width: 677.98px) {
    .journal_title_container {
        width: 100%;

        &.menu__hidden {
            width: 100%;
            top: 94px;
        }

        .btn.btn-outline {
            width: 100%;
        }
    }
}

@media (max-width: 991.98px) {
    .journal_title_container {
        display: block;

        .btn.btn-outline {
            margin-top: 4px;
        }
    }
}

@media print {
    .column-left {
        display: none;
    }

    .header {
        display: none;
    }

    .column-content {
        margin-left: 0;
        width: 100%;
    }

    .journal_title_container {
        display: none;
    }

    .journal_title_container__background {
        display: block;

        .responsibles {
            margin-top: -30px;
        }
    }

    .date-selector {
        margin-top: 5px;

        label {
            display: none;
        }
    }

    .exp-time {
        display: none;
    }

    .elog-journal-table {
        width: 100%;
        table-layout: fixed;
    }

    .table__comment a {
        color: #495057 !important;
    }

    .table__comment a i {
        display: none;
    }

    .btn {
        display: none;
    }

    input::-webkit-input-placeholder {
        color:transparent !important;
    }
    
    input:-moz-placeholder {
        color:transparent !important; 
    }
    
    input::-moz-placeholder {
        color:transparent !important; 
    }
    
    input:-ms-input-placeholder {  
        color:transparent !important;
    }
}