/*------------------------------------*\
  # Messages / Notifications
\*------------------------------------*/

@import "variables";

.messages {
  width: 100%;
  padding: 20px;

  .messages__list {
    list-style: none;
    padding-left: 0;

    .message__title__container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    .message {
      position: relative;
      border: 1px solid #cecece;
      margin-bottom: 10px;
      padding: 10px;

      .message__image { width: 30px; height: 30px; margin-right: 10px;}
      .message__title .sendee { color: #008BB9; margin-right: 20px;}
      .message__author-name { color: #a5a5a5; font-size: 12px;}
      .message__text { margin: 0; }
      .message__text.critical_value { color: #ff9966; }
      .message__created { color: #707070; font-size: 12px; }
      .message__is-read {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 18px;
        height: 18px;
        font-size: 12px;
        border-radius: 18px;
        background-color: $color-main;
        transition: width 0.4s;
        cursor: pointer;
        color: #fff;

        &::after {
            opacity: 0;
            transition: opacity 0.4s;
            white-space: nowrap;
            overflow: hidden;
        }

        &:hover{
            width: 174px;
            padding: 0px 6px;
            font-size: 12px;
            text-align: center;

            &::after {
                content: 'Отметить как прочитанное';
                opacity: 1;
            }
        }
      }
    }

  }

}
