/*------------------------------------*\
  # Cell / Values
\*------------------------------------*/
@import "variables";

.general-value, .widthCell {
    /*important because it's really important and to override bootstrap*/
    padding: 8px 5px;
    //height: 100% !important;
    border-radius: 0 !important;
    border: none !important;
    outline: none;
    box-shadow: none;
    font: {
        family: 'Roboto Condensed', sans-serif;
        weight: 300;
        size: 14px;
    }
}

.widthCell {
    display: none;
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
}

.general-value {
    background-color: transparent !important;
    overflow: hidden;
    /*background: white;*/
}

input[type="number"].general-value {
    text-align: right !important;
}

.general-value::placeholder { /* placeholder style */
    color: $placeholder-color;
    font-style: italic;
}

/* ------------------------ POPUPS FOR CHECK NUMBER INPUTS ---------------------- */

.input-check-popup {
    visibility: hidden;
    width: 160px;
    background-color: #73879C;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* ------------------------ HIGHLIGHT FOR CELLS AT LINK CLICK ---------------------- */

.highlight {
    animation-name: changeColors;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes changeColors {
    0% {
        background-color: orange;
    }
    100% {
        background-color: initial;
    }
}

/* ----------------------- COMMENT NOTIFICATIONS ------------------------------------ */

.comment-notification {
    //visibility: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #252525;
    opacity: 0.5;
    cursor: pointer;
}

.comment-notification:hover {
    opacity: 1;
}

/* -------------------------- BACKGROUND COLOR SHIT --------------------------------- */

.form-control, .widthCell {
    border: none;
    min-width: 0;
    line-height: 1.42857143 !important;
    height: 36px;
    min-height: 30px;
    word-break: break-word;

    [readonly] {
        background: white;
    }
}

.form-control__edit {
    background: linear-gradient(-45deg, $accent-green 0%, transparent 10px, transparent 100%);
}

.formula-cell {
    background: linear-gradient(-45deg, $accent-yellow 0%, transparent 10px, transparent 100%);
}

.journaltablewrapper .form-control[readonly]:focus {
    background: white;
}

.journaltablewrapper .form-control:focus {
    background: linear-gradient(-45deg, $accent-orange 0%, transparent 10px, transparent 100%);
}

.active-comment {
    background: radial-gradient(white 80%, $accent-green)
}

.formula-marker {
    position: absolute;
    color: grey;
    padding-left: 10px;
    font-weight: 500;
}


@media (max-width: 1172px) {
    .general-value, .widthCell, th {
        padding: 8px 2px !important;
    }
}

@media (min-width: 1172px) and (max-width: 1272px) {
    .general-value, .widthCell, th {
        padding: 8px 3px !important;
    }
}

@media (min-width: 1272px) and (max-width: 1472px) {
    .general-value, .widthCell, th {
        padding: 8px 4px !important;
    }
}

// --------------------------------------- DELETING ARROWS --------------------------------------

input::-webkit-calendar-picker-indicator,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}


textarea {
    resize: none;
}
